Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
  locale/vi/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

refactor Addon to drop redundant _all_previews cached property
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_tasks.py
Due: black, flake8

move resize_preview from dev/utils to addons/utils
  src/olympia/addons/tasks.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tasks.py
  src/olympia/landfill/images.py
  src/olympia/lib/settings_base.py
Due: black, flake8

generalize IconField to ImageField
  src/olympia/addons/fields.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

enable previews to be created, edited, deleted via addons api
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/api_urls.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/amo/validators.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Update dependency jszip to v3.9.1
  package-lock.json
  package.json
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Do not generate fuzzy matches when extracting locales
  scripts/extract-l10n.sh
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Remove puente: add necessary babel configuration instead
  babel.cfg
  babeljs.cfg
  locale/templates/LC_MESSAGES/django.pot
  locale/templates/LC_MESSAGES/djangojs.pot
  requirements/prod.txt
  scripts/extract-l10n.sh
  setup.py
  src/olympia/core/babel.py
  src/olympia/lib/settings_base.py
  src/olympia/translations/templates/translations/trans-menu.html
Due: black, flake8, curlylint

Update comment
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none
