Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Add position back
  src/olympia/addons/indexers.py
Due: black, flake8

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pass user instead of request in most acl checks
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/tests/test_decorators.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
  src/olympia/devhub/decorators.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
Due: black, flake8, curlylint

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Remove action_allowed(), renamed action_allowed_user to action_allowed_for
  src/olympia/abuse/admin.py
  src/olympia/access/acl.py
  src/olympia/access/templatetags/jinja_helpers.py
  src/olympia/access/tests.py
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/addons/admin.py
  src/olympia/addons/utils.py
  src/olympia/addons/views.py
  src/olympia/amo/context_processors.py
  src/olympia/amo/decorators.py
  src/olympia/amo/tests/test_decorators.py
  src/olympia/amo/tests/test_views.py
  src/olympia/api/permissions.py
  src/olympia/bandwagon/admin.py
  src/olympia/bandwagon/permissions.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/views.py
  src/olympia/ratings/permissions.py
  src/olympia/ratings/views.py
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/scanners/admin.py
  src/olympia/signing/views.py
  src/olympia/stats/decorators.py
  src/olympia/stats/views.py
  src/olympia/users/admin.py
  src/olympia/users/models.py
  src/olympia/versions/views.py
  src/olympia/zadmin/tests/test_commands.py
Due: black, flake8, curlylint

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Make author_or_unlisted_viewer_or_reviewer() and check_addon_ownership() take a user, not a request
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/decorators.py
  src/olympia/addons/views.py
  src/olympia/devhub/decorators.py
  src/olympia/devhub/templates/devhub/addons/listing/item_actions.html
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/templates/devhub/versions/edit.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/views.py
Due: black, flake8, curlylint

Extra imports no longer needed
  src/olympia/access/tests.py
Due: black, flake8

Elasticsearch 7.x compatibility & cleanups (#19126)
  .circleci/config.yml
  docker-compose.yml
  src/olympia/addons/indexers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/views.py
  src/olympia/amo/indexers.py
  src/olympia/amo/pagination.py
  src/olympia/constants/search.py
  src/olympia/lib/es/utils.py
  src/olympia/ratings/tests/test_models.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

added addon delete function to addons api
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
Due: black, flake8

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

replace jwt with TimestampSigner
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/addons/views.py
Due: black, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
