Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Run CI on push to master
  .github/workflows/ci.yml
Due: none

ruff formatting
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Only push image on non forks
  .github/workflows/ci.yml
Due: none

more accurate test case
  src/olympia/reviewers/tests/test_assay_tags.py
Due: black, flake8

ruff fixes
  src/olympia/reviewers/tests/test_assay_tags.py
Due: black, flake8

Run CI on push to master (#22330)
  .github/workflows/ci.yml
Due: none

template tag name
  src/olympia/reviewers/templatetags/assay.py
Due: black, flake8

Fix inaccuracies in email sent to developers when rejecting versions being blocked
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
  src/olympia/blocklist/utils.py
Due: black, flake8

Forgot to save
  src/olympia/blocklist/utils.py
Due: black, flake8

Add prefix and enable push on master
  .github/actions/build-docker/action.yml
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

parameter names
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8, curlylint

ruff format
  src/olympia/reviewers/tests/test_jinja_helpers.py
Due: black, flake8

Update .github/actions/build-docker/action.yml
  .github/actions/build-docker/action.yml
Due: none

Add version suffix and enable push on master (#22331)
  .github/actions/build-docker/action.yml
Due: none

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Expose reviewers validation result API through JWT auth and document it
  docs/topics/api/reviewers.rst
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

SQUASHED
  .github/actions/run-docker/action.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile-docker
  Makefile-os
  deps/.keep
  docker-compose.ci.yml
  docker-compose.yml
  docker/entrypoint.sh
  requirements/dev.txt
  settings_test.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Use test durations to further optimize test execution
  .github/workflows/ci.yml
  .github/workflows/test-durations.yml
Due: none

Fix passing extra_details down to the activity + test
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Quick doc update
  docs/topics/api/reviewers.rst
Due: none

Expose reviewers validation result API through JWT auth and document it (#22328)
  docs/topics/api/reviewers.rst
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Ditch the /deps volume
  .gitignore
  docker-compose.ci.yml
  docker-compose.deps.yml
  docker-compose.yml
  docker/entrypoint.sh
Due: none

tests
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

TMP: remove update deps at the beggingin
  Makefile-os
  docker-compose.yml
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Assay Links Added for Yara and Customs, opens the flagged add-on version & specific file. (#22324)
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/templatetags/assay.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8, curlylint

TMP: add comment
  docker-compose.deps.yml
Due: none

Ditch the /deps volume (#22332)
  .gitignore
  Makefile-os
  docker-compose.ci.yml
  docker-compose.deps.yml
  docker-compose.yml
  docker/entrypoint.sh
Due: none

Don't attempt to push an image if actor is dependabot
  .github/workflows/ci.yml
Due: none

Don't attempt to push an image if actor is dependabot (#22343)
  .github/workflows/ci.yml
Due: none

Fix invalid syntax and missing context in check pip packages
  scripts/check_pip_packages.sh
Due: none
