Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Add BlockType enum and model property (#22734)
  src/olympia/amo/tests/test_storage_utils.py
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/migrations/0035_alter_blockversion_soft.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_models.py
Due: black, flake8

Allow developers to download file attachments (#22726)
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/views.py
Due: black, flake8

Hide attachment upload on force disable/enable (#22728)
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Fix user-media loading in local environments (#22732)
  .github/workflows/_test.yml
  Makefile-docker
  docker/nginx/addons.conf
  storage/shared_storage/uploads/.check
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Allow URLs in developer replies to ratings
  src/olympia/ratings/serializers.py
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

Maybe fixes locales
  Dockerfile
Due: none

Add back tests to the built image
  .dockerignore
Due: none

Better test, both are important
  tests/js/zamboni/i18n.spec.js
Due: prettier

Fix static-build test
  tests/js/zamboni/i18n.spec.js
Due: prettier

Make assets step in Dockerfile depend on locales, for jsi18n files
  Dockerfile
Due: none

Try to make it break in CI
  .github/workflows/_test.yml
Due: none

Add JS test
  tests/js/zamboni/i18n.spec.js
Due: prettier

Add test ensuring JS translations are built correctly in our image
  .dockerignore
  .github/workflows/_test.yml
  tests/js/zamboni/i18n.spec.js
Due: prettier

Only depend on locales stage for files we need to copy over
  Dockerfile
Due: none

Make assets step in Dockerfile depend on locales, for jsi18n files (#22717)
  .dockerignore
  .github/workflows/_test.yml
  Dockerfile
  tests/js/zamboni/i18n.spec.js
Due: prettier

Decouple DEBUG from DEV_MODE to enable running dev/prod mode independent of debug.
  Dockerfile
  Makefile-docker
  docker-bake.hcl
  docker-compose.ci.yml
  docs/topics/development/static-files.md
  settings.py
  settings_test.py
  src/olympia/accounts/tests/test_utils.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/utils.py
  src/olympia/api/urls.py
  src/olympia/core/apps.py
  src/olympia/landfill/management/commands/fetch_prod_addons.py
  src/olympia/landfill/management/commands/fetch_prod_versions.py
  src/olympia/landfill/management/commands/generate_addons.py
  src/olympia/landfill/management/commands/generate_themes.py
  src/olympia/lib/jingo_minify_helpers.py
  src/olympia/lib/settings_base.py
  src/olympia/urls.py
  src/olympia/users/tasks.py
Due: black, flake8

review
  src/olympia/addons/decorators.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/amo/templates/amo/submissions_disabled.html
  src/olympia/devhub/decorators.py
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/files/tests/test_views.py
  src/olympia/files/views.py
  src/olympia/signing/tests/test_views.py
  static/js/common/upload-addon.js
Due: black, prettier, flake8, curlylint

expose blocked version as blocked and soft_blocked in the API
  docs/topics/api/blocklist.rst
  docs/topics/api/overview.rst
  src/olympia/blocklist/serializers.py
  src/olympia/blocklist/tests/test_serializers.py
  src/olympia/blocklist/tests/test_views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

TMP: Fix from review
  Makefile-docker
  src/olympia/lib/jingo_minify_helpers.py
  src/olympia/lib/settings_base.py
  src/olympia/users/tasks.py
Due: black, flake8

Update docs
  docs/topics/development/troubleshooting_and_debugging.md
  src/olympia/lib/settings_base.py
Due: black, flake8

Addd upload_filter tests
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Add test of bypass switch and end statsd call
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Server javascript catalog dynamically in DEV_MODE
  Dockerfile
  docker-compose.yml
  src/olympia/urls.py
Due: black, flake8

Fix initialization should always reindex
  src/olympia/amo/management/commands/data_seed.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Partial revert of setup-ui-tests
  Makefile-docker
Due: none

Integrate initialize command into make up flow
  .github/actions/run-docker/action.yml
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docs/topics/development/data_management.md
  docs/topics/development/makefile_commands.md
  docs/topics/development/setup_and_configuration.md
  settings.py
  src/olympia/amo/management/commands/create_db.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

TMP: fix
  Makefile-docker
Due: none

Before
  .github/actions/run-docker/action.yml
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-bake.hcl
  docker-compose.ci.yml
  docker-compose.yml
  docs/topics/development/data_management.md
  docs/topics/development/makefile_commands.md
  docs/topics/development/setup_and_configuration.md
  docs/topics/development/static-files.md
  docs/topics/development/troubleshooting_and_debugging.md
  settings.py
  settings_test.py
  src/olympia/accounts/tests/test_utils.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/amo/management/commands/create_db.py
  src/olympia/amo/management/commands/data_seed.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/utils.py
  src/olympia/api/urls.py
  src/olympia/core/apps.py
  src/olympia/landfill/management/commands/fetch_prod_addons.py
  src/olympia/landfill/management/commands/fetch_prod_versions.py
  src/olympia/landfill/management/commands/generate_addons.py
  src/olympia/landfill/management/commands/generate_themes.py
  src/olympia/lib/settings_base.py
  src/olympia/urls.py
Due: black, flake8

Move deps
  .dockerignore
  .gitignore
  .prettierignore
  Dockerfile
  docker-compose.ci.yml
  docker-compose.yml
  pyproject.toml
  src/olympia/lib/settings_base.py
Due: black, flake8

drop now unused abusereport.appellant_job and reporter_appeal_date
  src/olympia/abuse/migrations/0040_alter_cinderpolicy_options_and_more.py
Due: black, flake8

Soft-block-tests (#22738)
  src/olympia/blocklist/cron.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_commands.py
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/blocklist/tests/test_mlbf.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8
