Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Only consider developer appeals
  src/olympia/abuse/models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

fix broken/missing l10n in devhub (#24294)
  src/olympia/devhub/templates/devhub/addons/edit/additional_details.html
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
  static/js/stats/table.js
Due: prettier, curlylint

Pontoon/AMO: Update Hebrew (he)
  locale/he/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Hebrew (he), Italian (it)
  locale/he/LC_MESSAGES/django.po
  locale/it/LC_MESSAGES/django.po
Due: none

Create waffle switch
  src/olympia/scanners/migrations/0058_create_waffle_switch.py
Due: black, flake8

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Fancier queryset, test
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Expose the re-enabled versions for an appeal (#24256)
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealApprove.txt
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW), Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/django.po
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Fix test
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Prevent reviewers from resolving developer appeals with reject/reject_multiple_versions actions (#24296)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO), Polish (pl)
  locale/nb_NO/LC_MESSAGES/django.po
  locale/pl/LC_MESSAGES/django.po
Due: none

Bump sphinx to 8.2.0
  requirements/dev.txt
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Russian (ru)
  locale/hsb/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Add ipython-pygments-lexers (ipython 9.x dep)
  requirements/prod.txt
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL), Dutch (nl)
  locale/fy_NL/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Tajik (tg)
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Tajik (tg)
  locale/tg/LC_MESSAGES/django.po
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Hungarian (hu), Interlingua (ia)
  locale/hu/LC_MESSAGES/django.po
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Add dummy upload endpoint for local/dev/stage to test upload speed
  docker/nginx/addons.conf.template
  src/olympia/amo/urls.py
  src/olympia/amo/views.py
Due: black, flake8

Meh
  src/olympia/amo/views.py
Due: black, flake8

Add dummy upload endpoint for local/dev/stage to test upload speed (#24301)
  docker/nginx/addons.conf.template
  src/olympia/amo/urls.py
  src/olympia/amo/views.py
Due: black, flake8

Allow more scanners to have matched rules
  src/olympia/scanners/models.py
Due: black, flake8

Add basic Django admin to create scanner webhooks
  src/olympia/scanners/admin.py
  src/olympia/scanners/models.py
Due: black, flake8
