Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Update django.po
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

remove obsolete SECURE_BROWSER_XSS_FILTER setting (#19629)
  src/olympia/amo/tests/test_secure_headers.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

drop unused custom fields from License model (#19627)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/licenses.py
  src/olympia/devhub/fixtures/devhub/addon-validation-1.json
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/versions/fixtures/initial.json
  src/olympia/versions/migrations/0028_alter_license_on_form.py
  src/olympia/versions/models.py
Due: black, flake8

Have sitemap.xml render correctly under django4.x (#19628)
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/lib/settings_base.py
Due: black, flake8

rename forms named `form`
  src/olympia/devhub/templates/devhub/addons/edit/additional_details.html
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/edit/technical.html
  src/olympia/devhub/templates/devhub/addons/forms_shared/media.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

source form too
  src/olympia/devhub/templates/devhub/addons/submit/source.html
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Define CC & CPUCOUNT to workaround uwsgi build issues on CircleCI
  .circleci/config.yml
Due: none

Define CC & CPUCOUNT to workaround uwsgi build issues on CircleCI (#19644)
  .circleci/config.yml
Due: none

In CI set CPUCOUNT, CC with other en variables, move that above install steps
  .circleci/config.yml
Due: none

Quotes
  .circleci/config.yml
Due: none

In CI set CPUCOUNT, CC with other en variables, move that above install steps (#19645)
  .circleci/config.yml
Due: none

work around django4.0's extra elide_empty kwarg to Query.get_compiler
  src/olympia/translations/query.py
Due: black, flake8

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Drop unused cookies requirement
  requirements/tests.txt
Due: none

Drop typed-ast, only needed by black with Python < 3.8
  requirements/codestyle.txt
Due: none

Drop cached-property, only needed by pygit2 with Python < 3.8
  requirements/prod.txt
Due: none

Drop typing-extensions, only needed by black with Python < 3.10
  requirements/codestyle.txt
Due: none

Remove unused dependency (setuptools vendors their deps)
  requirements/system.txt
Due: none

Remove unused dependency asn1crypto (cryptography dropped it a while ago)
  requirements/system.txt
Due: none

correctly use @never_cache on class methods
  src/olympia/accounts/views.py
Due: black, flake8

Revert "Remove unused dependency asn1crypto (cryptography dropped it a while ago)"
  requirements/system.txt
Due: none

set USE_L10N=True and use locale specific number/date/time formatting
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
