Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Fix 4 devhub TestCreatVersionForUpload tests that were out of sync with actual calls
  src/olympia/devhub/tests/test_tasks.py
Due: black, flake8

Fix api TestGzipMiddleware.set_settings(), Gzip has moved down the stack from index 4 to 5
  src/olympia/api/tests/test_middleware.py
Due: black, flake8

Kinda fix addons TestLanguageToolsView.test_memoize(), seems cache isn't getting cleared in test setup
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
  locale/el/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Greek (el), Kabyle (kab)
  locale/el/LC_MESSAGES/django.po
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

correct where the decision type is extracted from; include real payload
  src/olympia/abuse/tests/assets/cinder_webhook_payloads/proactive_decision_from_amo.json
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

review fixes
  src/olympia/abuse/views.py
Due: black, flake8

Remove locales below 80% threshold
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/core/languages.py
Due: black, flake8

Ignore all decisions that originated from the api (#23386)
  src/olympia/abuse/tests/assets/cinder_webhook_payloads/proactive_decision_from_amo.json
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

prevent empty `job_id` values - `null` should be the only value empty
  src/olympia/abuse/migrations/0057_remove_cinderjob_decision_alter_cinderjob_job_id.py
  src/olympia/abuse/models.py
Due: black, flake8

try-catch
  src/olympia/promoted/migrations/0029_auto_20250429_1315.py
Due: black, flake8

Enable Partner Group for High Profile Rating (#23390)
  src/olympia/constants/promoted.py
  src/olympia/promoted/migrations/0029_auto_20250429_1315.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Use fix_webext_fixture() in devhub test_extract_theme_properties() test (doesn't fix it yet); add notes on current test failure details
  src/olympia/devhub/tests/test_utils.py
Due: black, flake8

Fix devhub test_extract_theme_properties() by adding a guid kwarg to fix_webetxt_fixture(); needs app logic double check
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_utils.py
Due: black, flake8

Make previous fix_webext_fixture() hack completely selective, previous approach broke stuff, yo
  src/olympia/amo/tests/__init__.py
Due: black, flake8

undo changes is test_momize(), there are issues with the test setup
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Albanian (sq)
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/django.po
Due: none

Expose the policy text for decisions in version|important-changes history
  src/olympia/reviewers/templates/reviewers/includes/history.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

test git parameters
  README.md
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Drop PromotedAddon and PromotedApproval
  src/olympia/abuse/cinder.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/amo/tests/__init__.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/bandwagon/views.py
  src/olympia/discovery/admin.py
  src/olympia/discovery/migrations/0016_delete_promotedaddon_discoveryaddon_and_more.py
  src/olympia/promoted/management/commands/sync_promoted_addons.py
  src/olympia/promoted/migrations/0030_remove_promotedaddon_addon_and_more.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_commands.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/management/commands/force_min_android_compatibility.py
Due: black, flake8

Rename PromotedAddonPromotion and PromotedAddonVersion to PromotedAddon and PromotedApproval
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/permissions.py
  src/olympia/discovery/admin.py
  src/olympia/discovery/views.py
  src/olympia/hero/tests/test_models.py
  src/olympia/landfill/serializers.py
  src/olympia/promoted/admin.py
  src/olympia/promoted/management/commands/promote_by_firefox_themes.py
  src/olympia/promoted/migrations/0031_promotedaddon_and_more.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_commands.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/cron.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/management/commands/force_max_android_compatibility.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

xfail test_seamonkey_serve_rdf(): legacy extensions aren't supported, so rdf manifests aren't supported
  src/olympia/addons/tests/test_update.py
Due: black, flake8

Update tests
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Couple more tests
  src/olympia/devhub/tests/test_forms.py
  src/olympia/files/tests/test_utils.py
Due: black, flake8

Update decorators.py
  src/olympia/addons/decorators.py
Due: black, flake8

xfail test_persona_redirect() for now
  src/olympia/amo/tests/test_redirects.py
Due: black, flake8

Pontoon/AMO: Update Ukrainian (uk)
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none
