Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

more black
  src/olympia/access/acl.py
Due: black, flake8

Remove dead code from update service (#18443)
  services/update.py
  services/utils.py
  src/olympia/addons/tests/test_update.py
  src/olympia/constants/base.py
Due: black, flake8

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Add tests for LazyChoiceField
  src/olympia/api/tests/test_fields.py
Due: black, flake8

Move create_version_for_upload to utils instead of tasks
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
Due: black, flake8

get_task_user
  src/olympia/addons/utils.py
Due: black, flake8

set tags property via addon api (#18428)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/api/fields.py
  src/olympia/api/tests/test_fields.py
Due: black, flake8

Fix import
  src/olympia/addons/utils.py
Due: black, flake8

Ugh, more imports fixing
  src/olympia/landfill/serializers.py
Due: black, flake8

Fix mocks
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Don't mess with permissions for now
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
  src/olympia/api/tests/test_permissions.py
Due: black, flake8

squash those migrations
  src/olympia/files/migrations/0018_auto_20211130_1539.py
  src/olympia/files/migrations/0019_rename_sitepermission_filesitepermission.py
Due: black, flake8

add /addon/tags/ endpoint to list available tags
  docs/topics/api/addons.rst
  docs/topics/api/index.rst
  docs/topics/api/tags.rst
  src/olympia/addons/api_urls.py
  src/olympia/tags/tests/test_views.py
  src/olympia/tags/views.py
Due: black, flake8

Don't deal with auto_approvable just yet
  src/olympia/versions/models.py
Due: black, flake8

Remove useless constant for now
  src/olympia/constants/site_permissions.py
Due: black, flake8

Add backend to generate site permission add-ons (#18429)
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
  src/olympia/api/tests/test_permissions.py
  src/olympia/constants/base.py
  src/olympia/constants/site_permissions.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
  src/olympia/files/migrations/0018_auto_20211130_1539.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/landfill/serializers.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Pontoon: Update Danish (da) localization of AMO
  locale/da/LC_MESSAGES/djangojs.po
Due: none

review fixes
  docs/topics/api/addons.rst
  src/olympia/tags/tests/test_views.py
Due: black, flake8

add /addon/tags/ endpoint to list available tags (#18445)
  docs/topics/api/addons.rst
  docs/topics/api/index.rst
  docs/topics/api/tags.rst
  src/olympia/addons/api_urls.py
  src/olympia/tags/tests/test_views.py
  src/olympia/tags/views.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Lock file maintenance
  package-lock.json
Due: none

Fix icons previews when clicking on default icon in devhub
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/widgets.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8

Update src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_forms.py
Due: black, flake8

Fix icons previews when clicking on default icon in devhub (#18453)
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/widgets.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8

implement license slugs (#18437)
  docs/topics/api/addons.rst
  docs/topics/api/index.rst
  docs/topics/api/licenses.rst
  docs/topics/api/overview.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/licenses.py
  src/olympia/devhub/fixtures/devhub/addon-validation-1.json
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/lib/settings_base.py
  src/olympia/versions/fixtures/initial.json
  src/olympia/versions/migrations/0021_auto_20211130_1539.py
  src/olympia/versions/models.py
Due: black, flake8

Only allow creation of Site Permission add-ons via a specific permission
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/utils.py
  src/olympia/constants/permissions.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Only log submit_source on POST requests and add logging to version_edit
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
Due: black, flake8

Adjust docstring
  src/olympia/access/acl.py
Due: black, flake8

Only allow creation of Site Permission add-ons via a specific permission (#18460)
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/utils.py
  src/olympia/constants/permissions.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Re-enable API throttling on dev
  src/olympia/conf/dev/settings.py
Due: black, flake8

Upgrade Django to 3.2.10, pin it to < 4 in dependabot config for now
  .github/dependabot.yml
  requirements/prod.txt
Due: none

Re-enable API throttling on dev (#18463)
  src/olympia/conf/dev/settings.py
Due: black, flake8

Pontoon: Update Telugu (te) localization of AMO
  locale/te/LC_MESSAGES/django.po
  locale/te/LC_MESSAGES/djangojs.po
Due: none

Upgrade Django to 3.2.10, pin it to < 4 in dependabot config for now (#18468)
  .github/dependabot.yml
  requirements/prod.txt
Due: none

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Revert "Re-enable API throttling on dev (#18463)"
  src/olympia/conf/dev/settings.py
Due: black, flake8
