Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

makes writeable: is_experimental, requires_payment, is_disabled
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

validate slug in addon api
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/utils.py
  src/olympia/bandwagon/serializers.py
  src/olympia/devhub/forms.py
Due: black, flake8

Assign reasons to actions when the ActivityLog entry is written
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Address review comments
  src/olympia/activity/models.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Assign reasons to actions when the ActivityLog entry is written (#18290)
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Only display reasons select when needed
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Add tests
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Only display reasons select when needed (#18289)
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Add an admin for ReviewActionReasonLog
  src/olympia/activity/admin.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Limit reason select to only active reasons
  src/olympia/activity/admin.py
Due: black, flake8

Remove the add and change options from the reason field on the form
  src/olympia/activity/admin.py
Due: black, flake8

Grr codestyle
  src/olympia/activity/admin.py
Due: black, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hindi (hi-IN) localization of AMO
  locale/hi_IN/LC_MESSAGES/django.po
Due: none

add docs for addon api create/update functionality
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  docs/topics/api/v3_legacy/addons.rst
  docs/topics/api/v4_frozen/addons.rst
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none
