Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Fix broken tests following locales tweaks (#23168)
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_url_prefix.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/lib/settings_base.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

test fix for TestGetAddonRecommendations
  src/olympia/addons/tests/test_utils_.py
Due: black, flake8

mock statsd in the correct place
  src/olympia/signing/tests/test_views.py
Due: black, flake8

test fix for TestGetAddonRecommendations (#23170)
  src/olympia/addons/tests/test_utils_.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Return mimimal user profile for non-developer users.
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_serializers.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/amo/fixtures/base/addon_3615.json
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/lib/settings_base.py
  src/olympia/users/admin.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

drop has_full_profile from ES index
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
Due: black, flake8

test fixes, refactor promoted_groups' name
  src/olympia/abuse/actions.py
  src/olympia/abuse/cinder.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/devhub/templates/devhub/includes/addon_details.html
  src/olympia/devhub/templates/devhub/new-landing/components/my-addons.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/hero/tests/test_models.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_commands.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

temp
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

fix tests
  src/olympia/accounts/tests/test_serializers.py
  src/olympia/ratings/tests/test_serializers.py
Due: black, flake8

Return minimal user profile for non-developer users. (#23154)
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_serializers.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/amo/fixtures/base/addon_3615.json
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_serializers.py
  src/olympia/users/admin.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

review
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/templates/base.html
Due: black, flake8, curlylint

tests
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/templates/base.html
  src/olympia/users/models.py
Due: black, flake8, curlylint

sync enforcement actions from Cinder for policies
  src/olympia/abuse/actions.py
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0051_add_cinderpolicy_enforcement_actions.py
  src/olympia/abuse/migrations/0052_auto_fill_cinderpolicy_enforcement_actions.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

pass for_entity as a kwarg after I made it kwarg only...
  src/olympia/reviewers/utils.py
Due: black, flake8

catch error
  src/olympia/devhub/views.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

sync enforcement actions from Cinder for policies (#23161)
  src/olympia/abuse/actions.py
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0051_add_cinderpolicy_enforcement_actions.py
  src/olympia/abuse/migrations/0052_auto_fill_cinderpolicy_enforcement_actions.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

expose what versions would be re-enabled with a force enable
  src/olympia/addons/models.py
  src/olympia/constants/base.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
Due: black, flake8, curlylint

Add some reserved guids
  src/olympia/access/tests.py
  src/olympia/constants/base.py
Due: black, flake8

Update ci_completed.yml
  .github/workflows/ci_completed.yml
Due: none

Update ci_completed.yml (#23172)
  .github/workflows/ci_completed.yml
Due: none

send 400 response to Cinder for some webhook validation errors
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
  src/olympia/conf/prod/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

review
  src/olympia/devhub/migrations/0008_auto_20250313_0001.py
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/templates/base.html
Due: black, flake8, curlylint

TMP: health check completed only runs on failure to scheduled runs.
  .github/workflows/health_check_completed.yml
Due: none

Only send slack message on scheduled events.
  .github/workflows/health_check.yml
Due: none

Pontoon/AMO: Update Indonesian (id)
  locale/id/LC_MESSAGES/django.po
Due: none

fix querycount
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

less queries
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/promoted/models.py
Due: black, flake8

Add Slack notification to healthcheck (#23162)
  .github/workflows/health_check.yml
  .github/workflows/health_check_completed.yml
  scripts/health_check.py
  scripts/health_check_blocks.py
  tests/make/test_health_check.py
  tests/make/test_health_check_blocks.py
Due: black, flake8
