Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Fix typo in string & corresponding translation
  locale/zh_TW/LC_MESSAGES/django.po
  src/olympia/search/filters.py
Due: black, flake8

Fix typo in string & corresponding translation (#21363)
  locale/zh_TW/LC_MESSAGES/django.po
  src/olympia/search/filters.py
Due: black, flake8

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Change addon to add-on in activity short string
  src/olympia/constants/activity.py
Due: black, flake8

Allow arguments to be passed to update_and_clean_categories command
  src/olympia/addons/management/commands/update_and_clean_categories.py
Due: black, flake8

Allow arguments to be passed to update_and_clean_categories command (#21374)
  src/olympia/addons/management/commands/update_and_clean_categories.py
Due: black, flake8

Allow Abuse reports to be sent against Rating
  docs/topics/api/abuse.rst
  src/olympia/abuse/api_urls.py
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0015_remove_abusereport_just_one_of_guid_and_user_must_be_set_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_serializers.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
  src/olympia/ratings/migrations/0009_alter_deniedratingword_word.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Rename instances of thundernest to thunderbird. (#256)
  src/olympia/amo/templates/amo/404-responsive.html
  src/olympia/amo/templates/amo/404.html
  src/olympia/devhub/templates/devhub/email/submission.txt
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/reviewers/templates/reviewers/emails/base.ltxt
  src/olympia/templates/copyright.html
  src/olympia/translations/tasks.py
  static/js/common/upload-addon.js
Due: black, prettier, flake8, curlylint

consume webhook decisions
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/assets/cinder_webhook.json
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/models.py
Due: black, flake8

replace force disable/enable buttons with actions
  src/olympia/addons/models.py
  src/olympia/reviewers/templates/reviewers/emails/force_disable_addon.ltxt
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

switch from black to ruff format
  Makefile-docker
  conftest.py
  locale/generate_category_po_files.py
  pyproject.toml
  requirements/codestyle.txt
  scripts/run_pyupgrade.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/amo/celery.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_file_validation_annotations.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/devhub/utils.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/git/utils.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_templatetags.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/signing/tests/test_views.py
  src/olympia/stats/tests/test_views.py
  src/olympia/stats/urls.py
  src/olympia/users/cron.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Update docs
  docs/topics/api/abuse.rst
Due: none

Move cinder report call back to the serializer (in the base one though)
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
Due: black, flake8

Change addon to add-on in activity short string (#21367)
  src/olympia/constants/activity.py
Due: black, flake8

flag abuse reports reviewers will handle; send to seperate queue
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/models.py
Due: black, flake8

Also document reason in the response
  docs/topics/api/abuse.rst
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
