Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Persian (fa)
  locale/fa/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Allow policies to be selected directly for reviewer tools actions (#23437)
  src/olympia/constants/reviewers.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/migrations/0043_auto_20250508_1731.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Display banned column in user admin changelist page (#23464)
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

update ContentActionTargetAppealRemovalAffirmation template
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Add auto generated model documentation to AMO docs (#22483)
  .gitignore
  Makefile-docker
  docker/debian_packages.txt
  docs/_static/panzoom-graphviz.js
  docs/conf.py
  docs/index.md
  eslint.config.ts
  knip.ts
  package-lock.json
  package.json
  requirements/dev.txt
  settings.py
  src/olympia/amo/management/commands/generate_model_diagrams.py
  src/olympia/amo/templates/model_doc.html
  src/olympia/amo/templates/model_doc_index.html
  src/olympia/amo/tests/test_commands.py
  src/olympia/core/tests/test_db_migrations.py
  src/olympia/lib/settings_base.py
  src/olympia/versions/models.py
Due: black, prettier, flake8, curlylint

Add Django model info and instructions on how to squash migrations
  docs/_static/images/migration_graph_mermaid.png
  docs/topics/development/data_management.md
  requirements/dev.txt
Due: none

Squash abuse 0001 - 0010
  src/olympia/abuse/migrations/0001_initial_squashed_0010_cinderreport.py
Due: black, flake8

When resolving multiple jobs in a reviewer action, record activity & notify owners once
  src/olympia/abuse/actions.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/reviewers/utils.py
Due: black, flake8

report_decision_to_cinder_and_notify test
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

actions tests
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

send_notification test
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Fix existing tests
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Also reset arguments, test utils
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Imports cleanup
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Fix test
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Enable DiscoveryItem.position_overide again, with note about test_olympia database setup
  src/olympia/discovery/models.py
Due: black, flake8

Update src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealRemovalAffirmation.txt
Due: none

update ContentActionTargetAppealRemovalAffirmation template (#23466)
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Add distinct to search by promoted in discovery addons
  src/olympia/discovery/admin.py
Due: black, flake8

Fix urlparams() when a query has multiple values for a given key
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/utils.py
Due: black, flake8

Cache unauthenticated GET/HEAD requests for one hour. (#289)
  src/olympia/amo/middleware.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Dockerfile.python3: compile mo files
  Dockerfile.python3
Due: none

Add comment about zadmin test_assert_cache_requests_helper() not failiing when run in issolation
  src/olympia/zadmin/tests/test_models.py
Due: black, flake8

xfail zadmin test_assert_cache_result_helper() now now
  src/olympia/zadmin/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

more better docs. much readable.
  docs/topics/development/data_management.md
Due: none

Reword comment more defensively
  src/olympia/reviewers/utils.py
Due: black, flake8

Add distinct to search by promoted in discovery addons (#23477)
  src/olympia/discovery/admin.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
