Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

TMP: include compose file configs
  docs/topics/development/building_and_running_services.md
Due: none

More fixes from comments
  docs/README.md
  docs/topics/development/testing_and_quality_assurance.md
  docs/topics/development/troubleshooting_and_debugging.md
Due: none

Submit on click rather than onblur
  src/olympia/reviewers/templates/reviewers/review.html
  static/js/zamboni/reviewers.js
Due: prettier, curlylint

TMP: fix docker
  .circleci/config.yml
  .dockerignore
  .github/actions/build-docker/action.yml
  .gitignore
  Dockerfile
  Makefile-os
  docker-bake.hcl
  docker-compose.deps.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/topics/development/setup_and_configuration.md
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Prevent URLs from being added to add-on summaries
  src/olympia/accounts/serializers.py
  src/olympia/addons/models.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/bandwagon/serializers.py
  src/olympia/bandwagon/tests/test_models.py
  src/olympia/translations/models.py
Due: black, flake8

Perform validation (needs tests)
  src/olympia/addons/serializers.py
  src/olympia/addons/utils.py
  src/olympia/addons/validators.py
  src/olympia/amo/utils.py
  src/olympia/devhub/forms.py
Due: black, flake8

use cleaned values of due_date_reasons for safety
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/views.py
Due: black, flake8

Don't try to strip if there is nothing to strip
  src/olympia/translations/models.py
Due: black, flake8

Add a filter to the review queue for due date reasons (#22558)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Dotted underline under unlisted authors
  static/css/zamboni/reviewers.less
Due: none

Add Submit Button to Review Due Date Changes (#22555)
  src/olympia/reviewers/templates/reviewers/review.html
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: prettier, curlylint

restrict /policy PATCH to non-themes
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
Due: black, flake8

Move / Fix package.json
  .dockerignore
  .gitignore
  Dockerfile
  Makefile-os
  deps/package-lock.json
  deps/package.json
  src/olympia/amo/views.py
Due: black, flake8

Revert some stuff
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  Makefile-os
  docker-compose.yml
Due: none

TMP: remove docker compose ci
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .gitignore
  Makefile-os
  docker-compose.ci.yml
  docker-compose.yml
  docs/topics/development/setup_and_configuration.md
Due: none

No parameter
  src/olympia/addons/validators.py
Due: black, flake8

Test fixes
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

False if nothing to find
  src/olympia/amo/utils.py
Due: black, flake8

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Croatian (hr) localization of AMO
  locale/hr/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
