Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Add read-only mode for unlisted reviewer tools pages
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/decorators.py
  src/olympia/addons/tests/test_decorators.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
  src/olympia/api/tests/test_permissions.py
  src/olympia/constants/permissions.py
  src/olympia/devhub/decorators.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/files/decorators.py
  src/olympia/files/tests/test_decorators.py
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
Due: black, flake8, curlylint

Pontoon: Update Croatian (hr) localization of AMO
  locale/hr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Fix copy/paste error in test
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Stop displaying status changes in review page (#16813)
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Add uniqe constraint for add-on version string
  src/olympia/versions/migrations/0016_auto_20210325_1320.py
  src/olympia/versions/models.py
Due: black, flake8

Fix tests
  src/olympia/addons/fixtures/addons/listed-two-versions.json
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/blocklist/tests/test_mlbf.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Add missing migrations
  src/olympia/activity/migrations/0009_auto_20210325_1320.py
  src/olympia/discovery/migrations/0011_auto_20210325_1320.py
  src/olympia/promoted/migrations/0019_delete_promotedsubscription.py
  src/olympia/scanners/migrations/0043_auto_20210325_1320.py
  src/olympia/shelves/migrations/0013_auto_20210325_1320.py
Due: black, flake8

Refactor process_addons command
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/amo/management/__init__.py
  src/olympia/versions/management/__init__.py
  src/olympia/versions/management/commands/__init__.py
Due: black, flake8

Add command to process versions, add first task: hard delete versions without files
  src/olympia/versions/management/commands/process_versions.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Reformat
  src/olympia/amo/management/__init__.py
Due: black, flake8

Add celery route
  src/olympia/lib/settings_base.py
Due: black, flake8

Update links on/developers
  src/olympia/devhub/templates/devhub/new-landing/components/banner.html
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
Due: curlylint

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

theme previews can be generated as svgs
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/constants/base.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

replace write_svg_to_png when we've already written the svg to disk
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/utils.py
Due: black, flake8

do the interim png->jpg conversion into a BytesIO so we don't have to re-read from disk + use temporaryfile for the svg->png converstion for thumbnail generation
  src/olympia/amo/utils.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/utils.py
Due: black, flake8

refactor resize_image
  src/olympia/amo/utils.py
Due: black, flake8

django32 bump
  requirements/prod_django32.txt
Due: none

django32 bump (#16832)
  requirements/prod_django32.txt
Due: none

Fixes the required changes.
  src/olympia/devhub/templates/devhub/new-landing/components/banner.html
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
Due: curlylint

Fixes some other changes.
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
Due: curlylint

Pontoon: Update Kaqchikel (cak) localization of AMO
  locale/cak/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Update banner.html
  src/olympia/devhub/templates/devhub/new-landing/components/banner.html
Due: curlylint

Update links on/developers #16773 (#16829)
  src/olympia/devhub/templates/devhub/new-landing/components/banner.html
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
Due: curlylint

theme previews can be generated as svgs (#16831)
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/utils.py
Due: black, flake8

Update - Links Updated
  src/olympia/devhub/templates/devhub/includes/source_form_field.html
Due: curlylint

Update - Links updated
  src/olympia/templates/photon-footer.html
Due: curlylint

Update constraint name
  src/olympia/versions/models.py
Due: black, flake8

replace django-babel temporary fork with maintained fork, enmerkar
  requirements/prod.txt
  requirements/prod_without_hash.txt
Due: none

replace django-babel temporary fork with maintained fork, enmerkar (#16840)
  requirements/prod.txt
  requirements/prod_without_hash.txt
Due: none
