Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

We raise NotImplementedError on unknown actions now, not KeyError
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Remove year in LICENSE
  LICENSE
Due: none

Fix standalone validator - the upload JS code requires theme_specific to be present (#21028)
  src/olympia/devhub/templates/devhub/validate_addon.html
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8, curlylint

get_fxa_config_name tests
  src/olympia/accounts/tests/test_utils.py
Due: black, flake8

redirect_for_login tests
  src/olympia/accounts/tests/test_utils.py
Due: black, flake8

@with_user tests
  src/olympia/accounts/tests/test_views.py
Due: black, flake8

Sort imports
  src/olympia/accounts/tests/test_utils.py
Due: black, flake8

Fix typo
  src/olympia/accounts/tests/test_views.py
Due: black, flake8

test fake fxa
  src/olympia/accounts/tests/test_views.py
  src/olympia/amo/templates/amo/fake_fxa_authorization.html
Due: black, flake8, curlylint

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

devhub tests
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Enforce 2FA at extension upload
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8

devhub test fixes
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
  locale/en_CA/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
  locale/tr/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Indonesian (id) localization of AMO
  locale/id/LC_MESSAGES/django.po
  locale/id/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Indonesian (id) localization of AMO
  locale/id/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/djangojs.po
Due: none

return usage_per_version adus as list to preserve order
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none
