Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Extra space
  src/olympia/reviewers/templates/reviewers/review.html
Due: curlylint

Remove -next suffix from image tags
  .github/actions/build-docker/action.yml
Due: none

Remove -next suffix from image tags (#22568)
  .github/actions/build-docker/action.yml
Due: none

Make up the docs (#22313)
  docs/Makefile
  docs/README.md
  docs/topics/development/building_and_running_services.md
  docs/topics/development/data_management.md
  docs/topics/development/debugging.md
  docs/topics/development/dependencies.md
  docs/topics/development/dependency_management.md
  docs/topics/development/docker.md
  docs/topics/development/github_actions.md
  docs/topics/development/index.md
  docs/topics/development/localization_and_internationalization.md
  docs/topics/development/makefile_commands.md
  docs/topics/development/performance_and_optimization.md
  docs/topics/development/setup_and_configuration.md
  docs/topics/development/testing.md
  docs/topics/development/testing_and_quality_assurance.md
  docs/topics/development/tests.md
  docs/topics/development/translations.md
  docs/topics/development/troubleshooting_and_debugging.md
Due: none

Simplify docker setup
  .dockerignore
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-os
  deps/package-lock.json
  deps/package.json
  docker-bake.hcl
  docker-compose.ci.yml
  docker-compose.deps.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/topics/development/setup_and_configuration.md
  scripts/setup.py
  src/olympia/amo/views.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Remove version.json file from host environment
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.yml
  scripts/setup.py
  src/olympia/amo/views.py
  src/olympia/core/apps.py
  src/olympia/core/utils.py
  tests/make/make.spec.js
Due: black, prettier, flake8

tmp: fix
  Makefile-os
  scripts/setup.py
  src/olympia/amo/views.py
  src/olympia/core/utils.py
  tests/make/make.spec.js
Due: black, prettier, flake8

TMP: fix tests
  src/olympia/amo/tests/test_settings.py
  src/olympia/core/sentry.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Update README.md
  README.md
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

TMP: remove unecessary test
  src/olympia/core/tests/test_apps.py
Due: black, flake8

TMP: fix test for get_version_json
  src/olympia/core/tests/test_utils.py
  src/olympia/core/utils.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

License related fixes
  src/olympia/constants/licenses.py
Due: black, flake8

Use name as published by OSI for BSD-2-Clause license
  docs/topics/api/licenses.rst
  src/olympia/constants/licenses.py
Due: black, flake8

Typos
  docs/topics/api/licenses.rst
Due: none

Fix license name for LGPL family
  docs/topics/api/licenses.rst
  src/olympia/constants/licenses.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Remove docker-compose.ci.yml
  .github/actions/run-docker/action.yml
  .gitignore
  docker-compose.ci.yml
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
Due: none

TMP: well I guess this all kind of has to go together. it is all very related
  .dockerignore
  .github/actions/build-docker/action.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  deps/.keep
  deps/package-lock.json
  deps/package.json
  docker-bake.hcl
  docker-compose.deps.yml
  docker-compose.development.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
  requirements/dev.txt
  requirements/locales.txt
  scripts/setup.py
  src/olympia/amo/views.py
  tests/make/make.spec.js
Due: black, prettier, flake8

TMP: fix
  .github/actions/run-docker/action.yml
  docker-bake.hcl
Due: none

TMP: more fix
  .github/actions/run-docker/action.yml
Due: none

TMP: move supervisord to production dependencies.
  requirements/dev.txt
  requirements/prod.txt
Due: none

300 weight font
  static/css/zamboni/reviewers.less
Due: none

Use docker compose watch
  .github/actions/run-docker/action.yml
  Makefile-os
  docker-compose.development.yml
  docker-compose.yml
  docker/supervisor-celery.conf
  docker/supervisor.conf
  docker/uwsgi.ini
  docs/topics/development/troubleshooting_and_debugging.md
  requirements/prod.txt
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
