Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Refactor documentation URLs in `docs` view and update agreement message in template
  src/olympia/devhub/templates/devhub/includes/agreement.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

TMP: fix broken link rendering false positives by adding actually referenced links to the docs link test
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

TMP: fix broken test
  src/olympia/devhub/templates/devhub/includes/agreement.html
Due: curlylint

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

fix tests for nondeterministic ordering
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

Add Policies FAQ to links and restructure links to make them more obvious (#23689)
  src/olympia/devhub/templates/devhub/includes/agreement.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update 5 localizations
  locale/cs/LC_MESSAGES/django.po
  locale/nb_NO/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

store removed, added strings in arguments instead
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/constants/activity.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/views.py
Due: black, flake8

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Add bulk add functionality for disposable email domains
  src/olympia/lib/settings_base.py
  src/olympia/users/management/commands/bulk_add_disposable_domains.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_commands.py
  src/olympia/users/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update Dutch (nl)
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Don't dupe error in messages banner for invalid form; channel in preselected
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
Due: black, flake8

have (single) listed as a select choice
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none
