Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Add debugging information to create_ratinglog task (#20359)
  src/olympia/activity/management/commands/backfill_ratinglog.py
  src/olympia/activity/tasks.py
Due: black, flake8

Remove the canned-responses endpoint (#20355)
  docs/topics/api/overview.rst
  docs/topics/api/reviewers.rst
  src/olympia/reviewers/api_urls.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Remove canned responses logic from reviewers form (#20357)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

on review page comma seperate authors; add a test
  src/olympia/reviewers/templates/reviewers/developer_profile.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Prevent potential race condition in AddonReviewerFlags API
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Remove dumb extra import
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Ensure our mock is called
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

add reviewer page listing add-ons for a developer (#20358)
  src/olympia/reviewers/templates/reviewers/developer_profile.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/views.py
  src/olympia/users/templatetags/jinja_helpers.py
  src/olympia/users/tests/test_helpers.py
Due: black, flake8, curlylint

Specify platform docker images where necessary
  docker-compose.yml
Due: none

Expose the version used at creation/update in add-on API
  src/olympia/addons/serializers.py
Due: black, flake8

Fix tests
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Minimum Viable Documentation
  docs/topics/api/addons.rst
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Nits
  docs/topics/api/addons.rst
  src/olympia/addons/serializers.py
Due: black, flake8

Expose the version used at creation/update in add-on API (#20367)
  docs/topics/api/addons.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

update out of date BSD and MIT license links
  docs/topics/api/licenses.rst
  src/olympia/constants/licenses.py
Due: black, flake8

Specify platform docker images where necessary (#20366)
  docker-compose.yml
Due: none

correctly attribute human multiple rejection to current reviewer
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8
