Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Automatically hard-block add-ons an user is an author of when banning them (#24356)
  src/olympia/constants/blocklist.py
  src/olympia/constants/permissions.py
  src/olympia/users/admin.py
  src/olympia/users/models.py
  src/olympia/users/templates/admin/users/userprofile/change_form.html
  src/olympia/users/tests/test_admin.py
  src/olympia/users/tests/test_models.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Display metadata and link to detail page in scanner admin query results
  src/olympia/scanners/admin.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matching_files.html
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matching_files_and_data.html
  static/css/admin/scannerresult.css
Due: black, flake8, curlylint

Pontoon/AMO: Update Tajik (tg)
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Add a migration to duplicate the customs scanner rules for webhook
  src/olympia/scanners/migrations/0064_create_customs_scanner_rules_for_webhook.py
Due: black, flake8

Add filter by webhook scanners in the scanner results Django admin
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Stop requiring wheel anymore
  pyproject.toml
  requirements/prod.txt
Due: none

move addon_important_change to a property of the activity _LOG class
  src/olympia/amo/__init__.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Add filter by webhook scanners in the scanner results Django admin (#24374)
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Japanese (ja)
  locale/ja/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Stop requiring wheel anymore (#24395)
  pyproject.toml
  requirements/prod.txt
Due: none

Pontoon/AMO: Update Croatian (hr)
  locale/hr/LC_MESSAGES/djangojs.po
Due: none

Add a migration to duplicate the customs scanner rules for webhook (#24373)
  src/olympia/scanners/migrations/0064_create_customs_scanner_rules_for_webhook.py
Due: black, flake8

Style & test fixes
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

add test
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/django.po
Due: none

Add default configuration from schema before saving
  src/olympia/constants/scanners.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/utils.py
Due: black, flake8

Add configuration to query rules too
  src/olympia/scanners/admin.py
Due: black, flake8

Make NARC rules configurable
  requirements/prod.txt
  src/olympia/constants/scanners.py
  src/olympia/lib/settings_base.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0064_scannerqueryrule_configuration_and_more.py
  src/olympia/scanners/migrations/0065_default_narc_configuration.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
Due: black, flake8

Fix tests
  src/olympia/constants/scanners.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Small optimization + comment rewording
  src/olympia/scanners/tasks.py
Due: black, flake8

Allow configuration to be blank now that save() fills in the defaults
  src/olympia/constants/scanners.py
  src/olympia/scanners/migrations/0064_scannerqueryrule_configuration_and_more.py
  src/olympia/scanners/models.py
Due: black, flake8

More testing
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/scanners/tests/test_utils.py
  src/olympia/scanners/utils.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
