Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Update src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/templates/devhub/verify_email.html
Due: curlylint

Add css truncation to email history table cells
  static/css/zamboni/developers.css
Due: none

Increase email verification timeout to 10 minutes and refresh rate to 30 seconds
  src/olympia/devhub/tests/test_views.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8

Add amo_devhub suffix to SUPPORT_EMAIL
  src/olympia/lib/settings_base.py
Due: black, flake8

Fix support link test
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

Improve confirmation delivered screen on email suppression flow:
  src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Expose to Cinder whether the add-on is part of any promoted group, not just badged ones
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Adjust CinderActions and appeals to work without a CinderJob (#22052)
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/tests/test_commands.py
Due: black, flake8

Improve usability of verify email page when verification is pending or timedout (#22084)
  src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/lib/settings_base.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
  src/olympia/users/tests/test_user_utils.py
  src/olympia/users/utils.py
  static/css/zamboni/developers.css
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

fix test_escalate_addon_no_versions_to_flag
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

revert random accidental characters
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Remove obsolete `docs` job from CircleCI (#22094)
  .circleci/config.yml
Due: none

fix test_escalate_addon_no_versions_to_flag (#22103)
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Build docs in docker (now failing from the npm check)
  .github/workflows/docs.yml
Due: none

Remove setup-environment github action
  .github/actions/setup-environment/action.yml
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Simplify
  src/olympia/abuse/cinder.py
Due: black, flake8

Update "Legal" link in footer to point to new AMO-specific page and remove outdated copyright template (#22087)
  src/olympia/templates/copyright.html
  src/olympia/templates/photon-footer.html
Due: curlylint

Build docs in docker container (#22101)
  .github/actions/setup-environment/action.yml
  .github/workflows/docs.yml
Due: none

Update task that resigns add-ons without a COSE signature
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/constants/activity.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/versions/compare.py
Due: black, flake8

Reviewer tools proactive decisions reported to cinder
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/utils.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/templates/reviewers/emails/approve_multiple_versions.ltxt
  src/olympia/reviewers/templates/reviewers/emails/base.ltxt
  src/olympia/reviewers/templates/reviewers/emails/extension_nominated_to_approved.ltxt
  src/olympia/reviewers/templates/reviewers/emails/extension_nominated_to_rejected.ltxt
  src/olympia/reviewers/templates/reviewers/emails/extension_pending_to_approved.ltxt
  src/olympia/reviewers/templates/reviewers/emails/extension_pending_to_rejected.ltxt
  src/olympia/reviewers/templates/reviewers/emails/files.ltxt
  src/olympia/reviewers/templates/reviewers/emails/force_disable_addon.ltxt
  src/olympia/reviewers/templates/reviewers/emails/reject_multiple_versions.ltxt
  src/olympia/reviewers/templates/reviewers/emails/reject_multiple_versions_disabled_addon.ltxt
  src/olympia/reviewers/templates/reviewers/emails/reject_multiple_versions_with_delay.ltxt
  src/olympia/reviewers/templates/reviewers/emails/theme_nominated_to_approved.ltxt
  src/olympia/reviewers/templates/reviewers/emails/theme_nominated_to_rejected.ltxt
  src/olympia/reviewers/templates/reviewers/emails/theme_pending_to_approved.ltxt
  src/olympia/reviewers/templates/reviewers/emails/theme_pending_to_rejected.ltxt
  src/olympia/reviewers/templates/reviewers/emails/unlisted_to_reviewed_auto.ltxt
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_review_scenarios.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
