Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

And update these
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Use new record_decision()
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/utils.py
Due: black, flake8

abuse tests, formatting
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Update test
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Update following rebase
  src/olympia/abuse/actions.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pain
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

In actions tests delay in the future like reviewers would do
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
  locale/es_AR/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hebrew (he)
  locale/he/LC_MESSAGES/django.po
Due: none

Tests
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

data (django form cleaned) contains a date, details (json) a string
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Don't flag add-ons for growth threshold if hotness is negative (#23031)
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
  locale/es_CL/LC_MESSAGES/djangojs.po
Due: none

Comment + stop hardcoding error message
  src/olympia/reviewers/forms.py
Due: black, flake8

TMP: more (#23034)
  .github/actions/run-docker/action.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  docker-compose.yml
  docker/entrypoint.sh
  scripts/setup.py
  settings.py
  src/olympia/lib/settings_base.py
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Build assets with django_vite
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/nginx/addons.conf
  jest.config.js
  package-lock.json
  package.json
  requirements/prod.txt
  scripts/update_assets.py
  settings.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/core/apps.py
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  src/olympia/templates/base.html
  static/js/preload.js
  static/js/zamboni/analytics.js
  tests/js/setup.js
  tests/js/zamboni/analytics.spec.js
  tests/js/zamboni/i18n.spec.js
  tests/js/zamboni/stats.spec.js
  tests/make/make.spec.js
  tests/make/test_update_assets.py
  vite.config.js
  vitest.config.js
Due: black, prettier, flake8, curlylint

Rename "preload" to "jquery_base"
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  src/olympia/templates/base.html
Due: black, flake8, curlylint

Extract what we can to variables
  src/olympia/reviewers/forms.py
Due: black, flake8

TMP: remove print
  src/olympia/amo/templatetags/jinja_helpers.py
Due: black, flake8

Introduce vite to transpile js/css assets for development and production + vitest for static file testing (#22957)
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/nginx/addons.conf
  jest.config.js
  package-lock.json
  package.json
  requirements/prod.txt
  scripts/update_assets.py
  settings.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/core/apps.py
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  src/olympia/templates/base.html
  static/js/preload.js
  static/js/zamboni/analytics.js
  tests/js/setup.js
  tests/js/zamboni/analytics.spec.js
  tests/js/zamboni/i18n.spec.js
  tests/js/zamboni/stats.spec.js
  tests/make/make.spec.js
  tests/make/test_update_assets.py
  vite.config.js
  vitest.config.js
Due: black, prettier, flake8, curlylint

Disable/enable the delay date widget dynamically
  static/js/zamboni/reviewers.js
Due: prettier

Reformat
  static/js/zamboni/reviewers.js
Due: prettier
