Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Fix build docker image action (#22020)
  .github/actions/build-docker/action.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/verify-docker-image.yml
Due: none

Copy fixes and updates
  src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/tests/test_views.py
Due: black, flake8, curlylint

migrations fixes - keep dependencies; make reversible
  src/olympia/abuse/migrations/0027_add_cinderdecision.py
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
Due: black, flake8

try to fix fail in CI
  src/olympia/ratings/migrations/0010_auto_20231106_1533.py
Due: black, flake8

Switch ubuntu image to 2004:current (ubuntu-2004:202201-02 is deprecated)
  .circleci/config.yml
Due: none

Refactor decision related fields into CinderDecision (#22023)
  src/olympia/abuse/migrations/0027_add_cinderdecision.py
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/constants/abuse.py
  src/olympia/ratings/migrations/0010_auto_20231106_1533.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Update src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/templates/devhub/verify_email.html
Due: curlylint

wrap cinderdecision backfill in @use_master
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
Due: black, flake8

Update 0028_cinderdecision_backfill.py
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
Due: black, flake8

Simplify socketlabs check for status and messaging when something goes wrong. (#22005)
  src/olympia/devhub/templates/devhub/verify_email.html
  src/olympia/devhub/templates/devhub/verify_email_form.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/lib/settings_base.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_tasks.py
  src/olympia/users/tests/test_user_utils.py
  src/olympia/users/utils.py
  static/css/zamboni/developers.css
Due: black, flake8, curlylint

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Update 0028_cinderdecision_backfill.py (#22038)
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
Due: black, flake8

Ignore only timestamp diff on push l10n extraction
  scripts/run_l10n_extraction.sh
Due: none

Update description
  src/olympia/constants/categories.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
