Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pass the events to wait for to wait_for_scanner_results (#25490)
  src/olympia/scanners/management/commands/retry_versions_waiting_on_scanners.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_commands.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Remove the use-yara-x waffle switch and old yara
  requirements/prod.txt
  src/olympia/scanners/migrations/0091_delete_use_yara_x_waffle_switch.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

docs: proofread the scanner pipeline page
  docs/topics/development/scanner_pipeline.md
Due: none

Hold restrictions set by scanners for disable&block until the decision is executed (#25496)
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/utils.py
  src/olympia/scanners/actions.py
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Truncate descriptions from XPI using summary max-length when scanning with NARC
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

docs: proofread the scanner pipeline page (#25505)
  docs/topics/development/scanner_pipeline.md
Due: none

Remove unused run_scanner() function (#25503)
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Remove the use-yara-x waffle switch and old yara (#25504)
  requirements/prod.txt
  src/olympia/scanners/migrations/0091_delete_use_yara_x_waffle_switch.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Add the on_version_scanned scanner webhook event
  docs/topics/development/scanner_pipeline.md
  src/olympia/constants/scanners.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/scanners/management/commands/retry_versions_waiting_on_scanners.py
  src/olympia/scanners/migrations/0092_alter_scannerwebhookevent_event.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_commands.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Truncate descriptions from XPI using summary max-length when scanning with NARC (#25506)
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

fix: feedback comments
  src/pinguino/devhub/.env.example
  src/pinguino/devhub/README.md
  src/pinguino/devhub/src/components/addon-card.ts
  src/pinguino/devhub/src/components/update-card.ts
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/http.ts
  src/pinguino/devhub/src/data/queries.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/env.d.ts
  src/pinguino/devhub/src/foundations/README.md
  src/pinguino/devhub/src/pages/devhub-home.ts
Due: none

fix: feedback comment
  src/pinguino/devhub/src/data/api.ts
Due: none

feat: pinguino devhub landing page (#25488)
  .github/workflows/_test_pinguino.yml
  docker-compose.yml
  src/pinguino/README.md
  src/pinguino/devhub/.env.example
  src/pinguino/devhub/.gitignore
  src/pinguino/devhub/.npmrc
  src/pinguino/devhub/README.md
  src/pinguino/devhub/biome.json
  src/pinguino/devhub/index.html
  src/pinguino/devhub/package-lock.json
  src/pinguino/devhub/package.json
  src/pinguino/devhub/src/app.css
  src/pinguino/devhub/src/components/addon-card.ts
  src/pinguino/devhub/src/components/devhub-header.ts
  src/pinguino/devhub/src/components/submit-card.ts
  src/pinguino/devhub/src/components/update-card.ts
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/devtools.ts
  src/pinguino/devhub/src/data/http.ts
  src/pinguino/devhub/src/data/index.ts
  src/pinguino/devhub/src/data/mock.ts
  src/pinguino/devhub/src/data/queries.ts
  src/pinguino/devhub/src/data/query-client.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/env.d.ts
  src/pinguino/devhub/src/foundations/README.md
  src/pinguino/devhub/src/foundations/acorn.ts
  src/pinguino/devhub/src/foundations/layout/app-container.ts
  src/pinguino/devhub/src/foundations/layout/app-grid.ts
  src/pinguino/devhub/src/foundations/layout/app-stack.ts
  src/pinguino/devhub/src/foundations/layout/index.ts
  src/pinguino/devhub/src/main.ts
  src/pinguino/devhub/src/pages/devhub-addon.ts
  src/pinguino/devhub/src/pages/devhub-home.ts
  src/pinguino/devhub/tsconfig.json
  src/pinguino/devhub/vite.config.ts
  src/pinguino/src/devhub/devhub-home.ts
  src/pinguino/src/foundations/README.md
Due: curlylint

Disable check_dev_agreement in is_submission_allowed() Developer Agreement API check
  src/olympia/devhub/views.py
Due: black, flake8

reformatting
  src/olympia/devhub/api_urls.py
  src/olympia/devhub/serializers.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8

Localize the throttled API error message through AMO's catalog
  src/olympia/api/exceptions.py
  src/olympia/api/tests/test_exceptions.py
Due: black, flake8

Handle scanner tasks created before we changed the wait_for_scanner_results() signature
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

feat: pinguino devhub testing framework
  .github/workflows/_test_pinguino.yml
  src/pinguino/devhub/.gitignore
  src/pinguino/devhub/README.md
  src/pinguino/devhub/biome.json
  src/pinguino/devhub/package-lock.json
  src/pinguino/devhub/package.json
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/tests/components/addon-card.test.ts
  src/pinguino/devhub/tests/components/update-card.test.ts
  src/pinguino/devhub/tests/data/api.test.ts
  src/pinguino/devhub/tests/data/http.test.ts
  src/pinguino/devhub/tests/helpers/fixture.ts
  src/pinguino/devhub/tests/pages/devhub-addon.test.ts
  src/pinguino/devhub/tests/pages/devhub-home-error.test.ts
  src/pinguino/devhub/tests/pages/devhub-home.test.ts
  src/pinguino/devhub/tests/setup.ts
  src/pinguino/devhub/tsconfig.json
  src/pinguino/devhub/vitest.config.ts
Due: none

Handle scanner tasks created before we changed the wait_for_scanner_results() signature (#25535)
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Developer Agreement API is_submission_allowed() check should not check dev agreement (#25529)
  src/olympia/devhub/api_urls.py
  src/olympia/devhub/serializers.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8

Reprompt admins for MFA if they make a POST request
  src/olympia/accounts/decorators.py
  src/olympia/accounts/templates/accounts/restore-post.html
  src/olympia/accounts/tests/test_decorators.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/urls.py
  src/olympia/accounts/views.py
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_middleware.py
  src/olympia/lib/settings_base.py
  static/js/accounts-restore-post.js
Due: black, prettier, flake8, curlylint

Implement Devhub Agreement
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/http.ts
  src/pinguino/devhub/src/data/index.ts
  src/pinguino/devhub/src/data/mock.ts
  src/pinguino/devhub/src/data/queries.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/main.ts
  src/pinguino/devhub/src/pages/addon/main.ts
  src/pinguino/devhub/src/pages/addon/submit/main.ts
  src/pinguino/devhub/src/pages/addon/submit/templates/agreement.ts
  src/pinguino/devhub/src/pages/addon/templates/devhub-addon.ts
Due: none

Need to login with 2fa everywhere in the admin now
  src/olympia/abuse/tests/test_admin.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/bandwagon/tests/test_admin.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/files/tests/test_admin.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/reviewers/tests/test_admin.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/tags/tests/test_admin.py
  src/olympia/users/tests/test_admin.py
  src/olympia/users/tests/test_forms.py
  src/olympia/versions/tests/test_admin.py
  src/olympia/zadmin/tests/test_views.py
Due: black, flake8

Check that client-supplied image content type is consistent with the actual image
  src/olympia/accounts/serializers.py
  src/olympia/addons/fields.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/views.py
  src/olympia/versions/tasks.py
  src/olympia/versions/utils.py
Due: black, flake8

Don't bother passing valid_types, hardcode IMG_TYPES in ImageCheck
  src/olympia/accounts/serializers.py
  src/olympia/addons/fields.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/utils.py
  src/olympia/devhub/views.py
Due: black, flake8

Renaming
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/devhub/views.py
  src/olympia/versions/utils.py
Due: black, flake8

Check that client-supplied image content type is consistent with the actual image (#25549)
  src/olympia/accounts/serializers.py
  src/olympia/addons/fields.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/views.py
  src/olympia/versions/tasks.py
  src/olympia/versions/utils.py
Due: black, flake8

feat: pinguino devhub testing framework (#25536)
  .github/workflows/_test_pinguino.yml
  src/pinguino/devhub/.gitignore
  src/pinguino/devhub/README.md
  src/pinguino/devhub/biome.json
  src/pinguino/devhub/package-lock.json
  src/pinguino/devhub/package.json
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/tests/components/addon-card.test.ts
  src/pinguino/devhub/tests/components/update-card.test.ts
  src/pinguino/devhub/tests/data/api.test.ts
  src/pinguino/devhub/tests/data/http.test.ts
  src/pinguino/devhub/tests/helpers/fixture.ts
  src/pinguino/devhub/tests/pages/devhub-addon.test.ts
  src/pinguino/devhub/tests/pages/devhub-home-error.test.ts
  src/pinguino/devhub/tests/pages/devhub-home.test.ts
  src/pinguino/devhub/tests/setup.ts
  src/pinguino/devhub/tsconfig.json
  src/pinguino/devhub/vitest.config.ts
Due: none

fix: pinguino home activity log implimentation
  src/pinguino/devhub/src/components/addon-card.ts
  src/pinguino/devhub/src/components/update-card.ts
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/mock.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/main.ts
  src/pinguino/devhub/src/navigation.ts
  src/pinguino/devhub/tests/components/addon-card.test.ts
  src/pinguino/devhub/tests/components/update-card.test.ts
  src/pinguino/devhub/tests/data/api.test.ts
  src/pinguino/devhub/tests/navigation.test.ts
  src/pinguino/devhub/tests/pages/devhub-home.test.ts
Due: none

style: fix for linter
  src/pinguino/devhub/src/components/update-card.ts
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/navigation.ts
Due: none

Implement Devhub Agreement
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/http.ts
  src/pinguino/devhub/src/data/index.ts
  src/pinguino/devhub/src/data/mock.ts
  src/pinguino/devhub/src/data/queries.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/main.ts
  src/pinguino/devhub/src/pages/addon/main.ts
  src/pinguino/devhub/src/pages/addon/submit/main.ts
  src/pinguino/devhub/src/pages/addon/submit/templates/agreement.ts
  src/pinguino/devhub/src/pages/addon/templates/devhub-addon.ts
  src/pinguino/devhub/tests/setup.ts
Due: none

Reprompt admins for MFA if they make a POST request (#25542)
  src/olympia/abuse/tests/test_admin.py
  src/olympia/accounts/decorators.py
  src/olympia/accounts/templates/accounts/restore-post.html
  src/olympia/accounts/tests/test_decorators.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/urls.py
  src/olympia/accounts/views.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_middleware.py
  src/olympia/bandwagon/tests/test_admin.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/files/tests/test_admin.py
  src/olympia/lib/settings_base.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/reviewers/tests/test_admin.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/tags/tests/test_admin.py
  src/olympia/users/tests/test_admin.py
  src/olympia/users/tests/test_forms.py
  src/olympia/versions/tests/test_admin.py
  src/olympia/zadmin/tests/test_views.py
  static/js/accounts-restore-post.js
Due: black, prettier, flake8, curlylint

tests
  src/pinguino/devhub/tests/data/api.test.ts
  src/pinguino/devhub/tests/data/http.test.ts
  src/pinguino/devhub/tests/pages/addon/routes.test.ts
  src/pinguino/devhub/tests/pages/addon/submit/agreement.test.ts
  src/pinguino/devhub/tests/pages/devhub-addon.test.ts
Due: none

Add FAQ and update contact form
  src/olympia/devhub/templates/devhub/faq.html
  src/olympia/devhub/templates/devhub/nav.html
  src/olympia/devhub/templates/devhub/support.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/urls.py
  src/olympia/devhub/views.py
  static/css/devhub.less
  static/css/devhub/faq.less
Due: black, flake8, curlylint

Bump yara-x version to 2026.10.05
  requirements/yara-x.txt
Due: none

Auto-create scanner rules reported by webhooks
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/scanners/tests/test_views.py
Due: black, flake8

update docs
  docs/topics/development/scanner_pipeline.md
Due: none

Hide irrelevant fields and reorder scanner rule admin forms
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
  static/js/scanners/scannerrule_change_form.js
Due: black, prettier, flake8
