Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Add ci_completed.yml workflow to notify slack when something goes wrong. (#23080)
  .github/workflows/ci_completed.yml
Due: none

Replace drf-yasg with drf_spectacular
  requirements/prod.txt
  settings.py
  src/olympia/abuse/serializers.py
  src/olympia/accounts/serializers.py
  src/olympia/addons/views.py
  src/olympia/amo/tests/test_csp_headers.py
  src/olympia/api/urls.py
  src/olympia/core/apps.py
  src/olympia/lib/settings_base.py
  src/olympia/schema.py
  src/olympia/users/models.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Review comments
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/amo/fixtures/pontoon_response_frontend.json
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Use specific emoji for cancelled workflows
  .github/workflows/ci_completed.yml
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Migrate all admin js/css to vite compilation (#23141)
  src/olympia/abuse/admin.py
  src/olympia/addons/admin.py
  src/olympia/amo/admin.py
  src/olympia/blocklist/admin.py
  src/olympia/discovery/admin.py
  src/olympia/hero/admin.py
  src/olympia/scanners/admin.py
  src/olympia/versions/admin.py
  static/css/admin-abuse-report.less
  static/css/admin-blocklist_block.less
  static/css/admin-blocklist_blocklistsubmission.less
  static/css/admin-discovery.less
  static/css/admin-scanner-results.less
  static/css/admin-scanner-rule.less
  static/css/admin-versions.less
  static/css/admin.less
  static/css/admin/discovery.css
  static/js/admin-scanner-query-result.js
  static/js/admin-versions.js
  static/js/admin.js
  static/js/admin/ip_address_search.js
  static/js/admin/scannerqueryresult.js
Due: black, prettier, flake8

Use specific emoji for cancelled workflows (#23157)
  .github/workflows/ci_completed.yml
Due: none

Add retries
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

With proper formatting
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Fix bug with locale above threshold but present in only one project
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Disable locales that have completion rate below 40%, enable those above
  src/olympia/core/languages.py
Due: black, flake8

Consistent formatting
  src/olympia/core/languages.py
Due: black, flake8

Disable locales that have completion rate below 40%, enable those above (#23158)
  src/olympia/core/languages.py
Due: black, flake8

Add command to check locales completion rates and send emails about it (#23153)
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/templates/amo/emails/locales_completion.ltxt
  src/olympia/amo/tests/test_commands.py
  src/olympia/core/languages.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
Due: none

rm TAAR service integrations (#23147)
  docs/topics/api/addons.rst
  docs/topics/api/discovery.rst
  docs/topics/api/v3_legacy/addons.rst
  docs/topics/api/v3_legacy/discovery.rst
  docs/topics/api/v4_frozen/addons.rst
  docs/topics/api/v4_frozen/discovery.rst
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/addons/views.py
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/discovery/migrations/0015_auto_20250310_1114.py
  src/olympia/discovery/serializers.py
  src/olympia/discovery/tests/test_utils.py
  src/olympia/discovery/tests/test_views.py
  src/olympia/discovery/utils.py
  src/olympia/discovery/views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update ci_completed.yml
  .github/workflows/ci_completed.yml
Due: none

review
  src/olympia/promoted/models.py
Due: black, flake8

Add py-call-uwsgi-fork-hooks to local development uwsgi config
  docker/uwsgi.ini
Due: none

Update ci_completed.yml (#23163)
  .github/workflows/ci_completed.yml
Due: none

Add Developer Experience Survey to DevHub
  src/olympia/constants/base.py
  src/olympia/devhub/migrations/0007_surveyresponse_surveyresponse_unique_survey_user.py
  src/olympia/devhub/migrations/0008_auto_20250313_0001.py
  src/olympia/devhub/models.py
  src/olympia/devhub/urls.py
  src/olympia/devhub/views.py
  src/olympia/templates/base.html
  src/olympia/users/models.py
  static/css/zamboni/zamboni.css
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

tests
  src/olympia/devhub/migrations/0007_surveyresponse_surveyresponse_unique_survey_user.py
  src/olympia/devhub/models.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/templates/base.html
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Add py-call-uwsgi-fork-hooks to local development uwsgi config (#23164)
  docker/uwsgi.ini
Due: none

Always run the post run step, logging conditionally and exiting based on the success/failure of the run step
  .github/actions/run-docker/action.yml
  .github/workflows/_test_check.yml
Due: none

Fix lint
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Always run the post run step, logging conditionally and exiting based on the success/failure of the run step (#23169)
  .github/actions/run-docker/action.yml
  .github/workflows/_test_check.yml
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Fix test_score_boost_exact_match_in_right_language test following locales tweaks
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Formatting, fix expected locales
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Fix tests depending on ga-IE
  src/olympia/amo/tests/test_url_prefix.py
Due: black, flake8

More fixes
  src/olympia/amo/tests/test_utils.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/lib/settings_base.py
Due: black, flake8
