Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

WIP still one extra query (count) per version, plus it seems wrong?
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/utils.py
  src/olympia/activity/views.py
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/templatetags/jinja_helpers.py
Due: black, flake8, curlylint

Remove initialize_docker: Integrate data initialization to make up
  .github/actions/run-docker/action.yml
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docs/topics/development/data_management.md
  docs/topics/development/makefile_commands.md
  docs/topics/development/setup_and_configuration.md
  src/olympia/amo/management/commands/create_db.py
  src/olympia/amo/management/commands/initialize_data.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Make clean up files
  .dockerignore
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.yml
  docker/uwsgi.ini
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
  docs/topics/development/static-files.md
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Remove docker context switcher
  Makefile-os
  docs/topics/development/setup_and_configuration.md
Due: none

Fixes it
  src/olympia/activity/models.py
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

clear REASONS.ABUSE_ADDON_VIOLATION if a forwarded job is combined
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

still accept obsolete groups as search params, behind a gate
  src/olympia/addons/serializers.py
  src/olympia/addons/views.py
  src/olympia/lib/settings_base.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Minor license related fixes
  docs/topics/api/licenses.rst
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Fix CinderPolicy plural name
  src/olympia/abuse/admin.py
  src/olympia/abuse/models.py
Due: black, flake8

Fix CinderPolicy plural name (#22675)
  src/olympia/abuse/admin.py
  src/olympia/abuse/models.py
Due: black, flake8

add clean up migration
  src/olympia/promoted/migrations/0021_auto_20240919_0952.py
Due: black, flake8

Add fallback for latest_version/current_version that are fetched separately
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/templatetags/jinja_helpers.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Trying my best to come up with a docstring...
  src/olympia/activity/models.py
Due: black, flake8

Minor license related fixes (#22682)
  docs/topics/api/licenses.rst
Due: none

Remove docker context switcher (#22678)
  Makefile-os
  docs/topics/development/setup_and_configuration.md
Due: none

devhub tests
  src/olympia/devhub/tests/test_views_versions.py
Due: black, flake8

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
Due: none

Add test
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
Due: black, flake8

old test fix
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

large upload test
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

make test rely on variable
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

linting
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

rm sponsored, verified (#22671)
  docs/topics/api/addons.rst
  docs/topics/api/v4_frozen/addons.rst
  scripts/autograph_localdev_config.yaml
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/constants/promoted.py
  src/olympia/hero/tests/test_models.py
  src/olympia/lib/settings_base.py
  src/olympia/promoted/migrations/0021_auto_20240919_0952.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/search/tests/test_search_ranking.py
  static/css/zamboni/reviewers.less
Due: black, flake8
