Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Improve comment in search.md
  docs/topics/development/search.md
Due: none

Skip names that already contain a sentinel
  src/olympia/addons/indexers.py
  src/olympia/addons/tests/test_indexers.py
Due: black, flake8

Fix ruff format failure in test_filters
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
  locale/ko/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Guard the sentinel clause on letters and digits
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Remove run-action-in-auto-approve waffle switch (#25252)
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/scanners/migrations/0086_delete_run_action_in_auto_approve_waffle_switch.py
Due: black, flake8

Set die-on-term to true in uWSGI config (#25227)
  docker/uwsgi.ini
Due: none

Standardize policy language and drop 'happy to help' closer
  src/olympia/abuse/templates/abuse/emails/ContentActionApproveListingContent.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionBanUser.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionChangePendingRejectionDate.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionDeleteCollection.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionDeleteRating.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectListingContent.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_approve.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown.txt
  src/olympia/abuse/templates/abuse/emails/reporter_content_approve.txt
  src/olympia/abuse/templates/abuse/emails/reporter_invalid_ignore.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon_delayed.txt
  src/olympia/devhub/templates/devhub/emails/submission_api_key_revocation.txt
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Revert test assertion updates from language pass
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Update test assertions to match new email copy
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown_delayed.txt
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
Due: black, flake8

Show radio inputs for non-negative policies (#25259)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

Sync test assertions with rewritten email copy
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/activity/tests/test_utils.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/ratings/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

Expose more detail about enforcement actions with delays (#25269)
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Make no stopword analyzer suffix constant clearer
  docs/topics/development/search.md
  src/olympia/addons/indexers.py
  src/olympia/constants/search.py
Due: black, flake8

Make no stopword analyzer suffix constant clearer
  src/olympia/addons/indexers.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Rename the analyzed exact-name match helper
  docs/topics/development/search.md
  src/olympia/addons/indexers.py
  src/olympia/search/filters.py
Due: black, flake8

Rename the analyzed exact-name ranking tests
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Rename analyzed exact-name match tests by behavior
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Use the language code in l10n field placeholders
  docs/topics/development/search.md
  src/olympia/search/filters.py
Due: black, flake8

Clarify what the no-stopwords analyzers provide
  src/olympia/addons/indexers.py
Due: black, flake8

Name the analyzed exact-name clause by its semantics
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Simplify the degenerate sentinel names test comment
  src/olympia/addons/tests/test_indexers.py
Due: black, flake8

Fix the no-stopwords suffix comment
  src/olympia/constants/search.py
Due: black, flake8

Fix the inverted no-stopwords comments
  src/olympia/addons/indexers.py
Due: black, flake8

Describe the must_not by its purpose
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Improve tests
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

cover DISABLE_ADDON being overridden with same needing versions for activity
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

create activity and send email when overriding to same enforcement action
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Update sbom.yml
  .github/workflows/sbom.yml
Due: none

associtate DECISION_CREATED activity with a version
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Group dependabot updates for ssdlc-actions together
  .github/dependabot.yml
Due: none
