Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

fix ruff rules B017, B018, B028, B905 - or explictly disable per line
  pyproject.toml
  settings.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/api/models.py
  src/olympia/blocklist/mlbf.py
  src/olympia/devhub/forms.py
  src/olympia/discovery/utils.py
  src/olympia/files/models.py
  src/olympia/git/tests/test_commands.py
  src/olympia/git/tests/test_tasks.py
  src/olympia/git/tests/test_utils.py
  src/olympia/ratings/tests/test_tasks.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/translations/tests/test_models.py
Due: black, flake8

slightly rework get_disco_recommendations
  src/olympia/discovery/utils.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

fix ruff rules B017, B018, B028, B905 - or explictly disable per line (#20990)
  pyproject.toml
  settings.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/api/models.py
  src/olympia/blocklist/mlbf.py
  src/olympia/devhub/forms.py
  src/olympia/discovery/utils.py
  src/olympia/files/models.py
  src/olympia/git/tests/test_commands.py
  src/olympia/git/tests/test_tasks.py
  src/olympia/git/tests/test_utils.py
  src/olympia/ratings/tests/test_tasks.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/translations/tests/test_models.py
Due: black, flake8

use expected django admin context when rendering add template (#20987)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
Due: black, flake8, curlylint

handle edits to submission metadata
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_forms.py
Due: black, flake8

in migration default canned_block_reason field to '' for existing records
  src/olympia/blocklist/forms.py
  src/olympia/reviewers/migrations/0031_reviewactionreason_canned_block_reason.py
Due: black, flake8

add canned reasons to blocksubmission admin (#20978)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/tests/test_forms.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/migrations/0031_reviewactionreason_canned_block_reason.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  static/css/admin/blocklist_blocklistsubmission.css
  static/js/admin/blocklist_blocklistsubmission.js
Due: black, prettier, flake8, curlylint

Record IP addresses from the 3rd HTTP_X_FORWARDED_FOR value from the right on GCP
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_middleware.py
Due: black, flake8

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Enforce 2FA on extension submission flow, api keys page
  src/olympia/accounts/decorators.py
  src/olympia/accounts/utils.py
  src/olympia/accounts/views.py
  src/olympia/amo/templates/amo/fake_fxa_authorization.html
  src/olympia/devhub/decorators.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Potentially need to regenerate fxa_state, we might not have it at this point
  src/olympia/accounts/utils.py
Due: black, flake8

Remove empty line
  src/olympia/accounts/decorators.py
Due: black, flake8

Fix stray '%' in it locale string
  locale/it/LC_MESSAGES/django.po
Due: none

Reword docs
  src/olympia/amo/middleware.py
Due: black, flake8

Replace clear admin review button with an action
  src/olympia/constants/activity.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

Added a bit about why we start from the right
  src/olympia/amo/middleware.py
Due: black, flake8

update test
  src/olympia/blocklist/tests/test_forms.py
Due: black, flake8

Test fixes
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Replace clear admin review button with an action (#21003)
  src/olympia/constants/activity.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

handle edits to submission metadata (#20995)
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_forms.py
Due: black, flake8

Add request/clear needs admin theme review activities to important changes log
  src/olympia/reviewers/views.py
Due: black, flake8

Add request/clear needs admin theme review activities to important changes log (#21008)
  src/olympia/reviewers/views.py
Due: black, flake8

Refactor how we render changed_version_ids so they can be changed
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/templates/admin/blocklist/includes/blocks.html
  src/olympia/blocklist/templates/admin/blocklist/widgets/blocks.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_forms.py
Due: black, flake8, curlylint

Rename ugly variables, clean up comments now that it works
  src/olympia/accounts/decorators.py
  src/olympia/accounts/utils.py
  src/olympia/accounts/views.py
Due: black, flake8

Refactor to remove duplicate/obsolete code
  src/olympia/accounts/utils.py
  src/olympia/accounts/views.py
Due: black, flake8

Require 2FA before we even go through login_required
  src/olympia/accounts/decorators.py
  src/olympia/devhub/views.py
Due: black, flake8

We still need a way to get the fxa config name
  src/olympia/accounts/utils.py
  src/olympia/accounts/views.py
Due: black, flake8

Remove action parameter
  src/olympia/accounts/tests/test_utils.py
  src/olympia/amo/tests/__init__.py
Due: black, flake8

Fix next_path and config in redirect_for_login
  src/olympia/accounts/utils.py
Due: black, flake8

Don't pop state, keep compatibility with the way loginstart works
  src/olympia/accounts/views.py
Due: black, flake8

Consistency with other function
  src/olympia/accounts/utils.py
Due: black, flake8

Test fixes
  src/olympia/accounts/tests/test_utils.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/amo/tests/test_middleware.py
Due: black, flake8

Force 2FA in devhub tests
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Obsolete FIXME comment
  src/olympia/accounts/tests/test_views.py
Due: black, flake8

Tests for the decorator
  src/olympia/accounts/tests/test_decorators.py
Due: black, flake8

override ALLOWED_HOSTS for prod to disallow non-production hosts
  src/olympia/conf/prod/settings.py
Due: black, flake8

fxa_login_url() tests
  src/olympia/accounts/tests/test_utils.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
