Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Romanian (ro), German (de)
  locale/de/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

add/refactor utility functions for rollback availablity
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/signing/views.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/versions/utils.py
Due: black, flake8

add devhub UI to rollback
  src/olympia/abuse/migrations/0060_auto_20250710_0958.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/versions/utils.py
  static/css/devhub/forms.less
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Pontoon/AMO: Update Romanian (ro), Polish (pl)
  locale/pl/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

Update second_level_notification.txt
  src/olympia/abuse/templates/abuse/emails/second_level_notification.txt
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

add fi and nb-NO to supported locales
  src/olympia/core/languages.py
Due: black, flake8

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

fix tests
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/files/tests/test_utils.py
Due: black, flake8

add fi and nb-NO to supported locales (#23704)
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/fixtures/pontoon_response.json
  src/olympia/core/languages.py
  src/olympia/files/tests/test_utils.py
Due: black, flake8

Update second_level_notification.txt (#23703)
  src/olympia/abuse/templates/abuse/emails/second_level_notification.txt
Due: none

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

cinder returns 201 for override decision
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

Fix package install issues in Dockerfile.python3.delpoy to match .python3
  Dockerfile.python3.deploy
Due: none

Bum mozilla/addons/* actions (#23699)
  .github/workflows/_health_check.yml
  .github/workflows/_test_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
Due: none

relax status code check
  src/olympia/abuse/cinder.py
Due: black, flake8

update CINDER_SERVER_URL to saas cinder
  src/olympia/lib/settings_base.py
Due: black, flake8

send enforcement action for override decisions
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

define staging url in settings rather than settings_base
  settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Only attempt slack notification in _health_check.yml workflow if it is defined (it is not defined on forks which now causes PRs to break CI)
  .github/workflows/_health_check.yml
  .github/workflows/health_check.yml
Due: none

one test returning 200 so that we know our logic doesn't care about the specific code
  src/olympia/abuse/tests/test_models.py
Due: black, flake8
