Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Remove obsolete "pioneer" landing page
  src/olympia/pages/templates/pages/pioneer.html
  src/olympia/pages/tests.py
  src/olympia/pages/urls.py
  static/img/pioneer/flag.svg
  static/img/pioneer/mozilla.svg
  static/img/pioneer/stars.png
  static/img/pioneer/stars@2x.png
  static/img/pioneer/wordmark.svg
Due: black, flake8, curlylint

Remove obsolete "pioneer" landing page (#17460)
  src/olympia/pages/templates/pages/pioneer.html
  src/olympia/pages/tests.py
  src/olympia/pages/urls.py
  static/img/pioneer/flag.svg
  static/img/pioneer/mozilla.svg
  static/img/pioneer/stars.png
  static/img/pioneer/stars@2x.png
  static/img/pioneer/wordmark.svg
Due: black, flake8, curlylint

Replace legacy assets cachebusting by staticfiles's ManifestStaticFilesStorage from django
  Dockerfile.deploy
  scripts/generate_build.py
  src/olympia/amo/management/commands/compress_assets.py
  src/olympia/amo/templates/amo/category-arrow.html
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/devhub/templates/devhub/new-landing/components/get_involved.html
  src/olympia/devhub/templates/devhub/new-landing/components/submit_or_manage_extension.html
  src/olympia/devhub/widgets.py
  src/olympia/lib/jingo_minify_helpers.py
  src/olympia/lib/settings_base.py
  src/olympia/lib/tests/test_jingo_minify_helpers.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/templates/header_title.html
  src/olympia/users/models.py
  static/css/shield_study/main.css
  static/js/zamboni/addon_details.js
Due: black, prettier, flake8, curlylint

drop some references to install.rdf in comments/messages
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/reviewers/serializers.py
Due: black, flake8

whitespace change to satisfy Black
  src/olympia/reviewers/serializers.py
Due: black, flake8

Pontoon: Update Japanese (ja) localization of AMO
  locale/ja/LC_MESSAGES/django.po
Due: none

Replaced all the instances
  src/olympia/accounts/templatetags/jinja_helpers.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Replaced Mutliple Instances
  src/olympia/reviewers/templatetags/jinja_helpers.py
Due: black, flake8

Replaced Multiple Instances
  src/olympia/amo/templatetags/jinja_helpers.py
Due: black, flake8

Mutiple Instances were replaced
  src/olympia/access/templatetags/jinja_helpers.py
Due: black, flake8

Multiple Instances were replaced
  src/olympia/devhub/templatetags/jinja_helpers.py
Due: black, flake8

Replaced Multiple Instances
  src/olympia/stats/templatetags/jinja_helpers.py
Due: black, flake8

Replaced Multiple Instances
  src/olympia/addons/templatetags/jinja_helpers.py
Due: black, flake8

Replaced Multiple Instances
  src/olympia/translations/templatetags/jinja_helpers.py
Due: black, flake8

Update jinja_helpers.py
  src/olympia/accounts/templatetags/jinja_helpers.py
Due: black, flake8

Update jinja_helpers.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
Due: black, flake8

Update jinja_helpers.py
  src/olympia/amo/templatetags/jinja_helpers.py
Due: black, flake8

Update jinja_helpers.py
  src/olympia/devhub/templatetags/jinja_helpers.py
Due: black, flake8

Replaced Instance
  docs/_intersphinx/jinja.inv
Due: none

Lock file maintenance
  package-lock.json
Due: none

Run tests without ManifestStaticFilesStorage
  settings_test.py
Due: black, flake8

Fix tests
  src/olympia/amo/tests/test_commands.py
  src/olympia/lib/tests/test_jingo_minify_helpers.py
Due: black, flake8

Reformatting
  src/olympia/lib/tests/test_jingo_minify_helpers.py
Due: black, flake8

It's fine, since collectstatic also copies the original
  static/js/zamboni/addon_details.js
Due: prettier

Register static directly
  src/olympia/amo/templatetags/jinja_helpers.py
Due: black, flake8

Reformat comment
  src/olympia/lib/settings_base.py
Due: black, flake8

add waffle switch to enable mv3 submissions
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/addons/webextension_mv3.xpi
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/files/migrations/0010_enable_mv3_switch.py
Due: black, flake8

Replace legacy assets cachebusting by staticfiles's ManifestStaticFilesStorage from django (#17464)
  Dockerfile.deploy
  scripts/generate_build.py
  settings_test.py
  src/olympia/amo/management/commands/compress_assets.py
  src/olympia/amo/templates/amo/category-arrow.html
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/devhub/templates/devhub/new-landing/components/get_involved.html
  src/olympia/devhub/templates/devhub/new-landing/components/submit_or_manage_extension.html
  src/olympia/devhub/widgets.py
  src/olympia/lib/jingo_minify_helpers.py
  src/olympia/lib/settings_base.py
  src/olympia/lib/tests/test_jingo_minify_helpers.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/templates/header_title.html
  src/olympia/users/models.py
  static/css/shield_study/main.css
Due: black, flake8, curlylint

Remove obsolete CSS file
  static/css/pioneer/main.css
Due: none

Upgrade Node to v14
  docker/nodesource.list
Due: none

Upgrade Node to v14 (#17475)
  docker/nodesource.list
Due: none

Fix merge
  src/olympia/amo/templatetags/jinja_helpers.py
Due: black, flake8

Update tests.txt
  requirements/tests.txt
Due: none
