Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Fix fake FxA user auth for local environments
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

Fix fake FxA user auth for local environments (#24419)
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

Remove broken urlconf_decorator - it hasn't worked in 10 years
  src/olympia/devhub/urls.py
  src/olympia/lib/misc/__init__.py
  src/olympia/lib/misc/tests/__init__.py
  src/olympia/lib/misc/urlconf_decorator.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Fix CSP in admin to allow django's jsi18n admin view as a script
  settings.py
  src/olympia/amo/middleware.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Don't use INTERNAL_SITE_URL for the local nginx check, it doesn't work that way
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
Due: black, flake8

Simpler that way
  src/olympia/amo/middleware.py
Due: black, flake8

Cleanup
  src/olympia/devhub/urls.py
Due: black, flake8

Fix tests - don't expect a tuple, expect a list
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Cleanup
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Test expected CSP
  src/olympia/amo/tests/test_csp_headers.py
Due: black, flake8

Remove broken urlconf_decorator - it hasn't worked in 10 years (#24421)
  src/olympia/devhub/urls.py
  src/olympia/lib/misc/__init__.py
  src/olympia/lib/misc/tests/__init__.py
  src/olympia/lib/misc/urlconf_decorator.py
Due: black, flake8

Add actions to block add-ons / view authors in scanner results admin
  src/olympia/blocklist/admin.py
  src/olympia/scanners/admin.py
  src/olympia/users/admin.py
Due: black, flake8

Tests etc
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/users/admin.py
Due: black, flake8

Replace last_content_review_pass with content_review_status
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/addons/migrations/0059_add_addonapprovalscounter_content_review_status.py
  src/olympia/addons/migrations/0060_backfill_last_content_review_status.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Allow re-requests for content review
  src/olympia/devhub/templates/devhub/includes/listing_visibility.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/urls.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Add links to user admin page in reviewer tools review & developer profile pages
  src/olympia/reviewers/templates/reviewers/developer_profile.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/views.py
  static/css/restyle/restyle.less
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Support other locales than en-US
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_csp_headers.py
Due: black, flake8

Update elasticsearch client libraries to 8.x (#24370)
  .github/dependabot.yml
  Dockerfile
  docker-compose.yml
  requirements/dev.txt
  requirements/prod.txt
  src/olympia/addons/tasks.py
  src/olympia/addons/views.py
  src/olympia/api/serializers.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_models.py
  src/olympia/search/filters.py
  src/olympia/search/management/commands/reindex.py
  src/olympia/search/tests/test_filters.py
  src/olympia/search/utils.py
Due: black, flake8

Tests review page
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Test developer profile
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Fix CSP in admin to allow django's jsi18n admin view as a script (#24422)
  settings.py
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_csp_headers.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Increase uwsgi buffer-size in local environments to match prod
  docker/uwsgi.ini
Due: none

Replace deprecated $.trim() by <String>.trim()
  static/js/zamboni/global.js
Due: prettier

Wrap this
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

New approach for blocking
  src/olympia/blocklist/admin.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Increase uwsgi buffer-size in local environments to match prod (#24438)
  docker/uwsgi.ini
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
