Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Don't try backfilling ratinglogs if there is already one (#20328)
  src/olympia/activity/management/commands/backfill_ratinglog.py
  src/olympia/activity/tests/test_commands.py
Due: black, flake8

Send initial acknowledgement email for Add-ons for all channels (#20331)
  scripts/crontab/crontab.tpl
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/templates/devhub/emails/submission.html
  src/olympia/devhub/templates/devhub/emails/submission.txt
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/management/commands/notify_about_auto_approve_delay.py
  src/olympia/reviewers/templates/reviewers/emails/held_for_review.ltxt
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

drop xpi uploads and sitemaps from get_changed_files
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Update relevant due dates when clearing pending rejections
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

use models to get directory paths
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

codestyle fix
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Update relevant due dates when clearing pending rejections (#20336)
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

change collect functions to use qs.only and iterators
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Don't translate new reviewer buttons
  src/olympia/reviewers/templates/reviewers/review.html
Due: curlylint

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

changed collect_files and collect_sources back to manually building paths
  src/olympia/amo/management/commands/get_changed_files.py
Due: black, flake8

Don't require Addon slug in `ModelForm`s (and therefore django admin)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_admin.py
Due: black, flake8

codestyle again
  src/olympia/amo/management/commands/get_changed_files.py
Due: black, flake8

Black
  src/olympia/addons/tests/test_admin.py
Due: black, flake8

add a test for Versions|Files without sources|files
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

command to return folders with (potentially) changed files instead (#20329)
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Add additional addon admin filters
  src/olympia/addons/admin.py
Due: black, flake8

Don't require Addon slug in `ModelForm`s (and therefore django admin) (#20340)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_admin.py
Due: black, flake8

Don't translate new reviewer buttons (#20339)
  src/olympia/reviewers/templates/reviewers/review.html
Due: curlylint

Add additional addon admin filters (#20341)
  src/olympia/addons/admin.py
Due: black, flake8

Update Dockerfile for arm64
  Dockerfile
Due: none

Configure addons-server to start sending data to GA4
  src/olympia/lib/settings_base.py
  static/js/zamboni/analytics.js
  tests/js/zamboni/analytics.spec.js
Due: black, prettier, flake8

Do not require a review reason for reviewer reply
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Configure addons-server to start sending data to GA4 (#20346)
  src/olympia/lib/settings_base.py
  static/js/zamboni/analytics.js
  tests/js/zamboni/analytics.spec.js
Due: black, prettier, flake8

Do not require a review reason for reviewer reply (#20350)
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Remove the canned-responses endpoint
  docs/topics/api/overview.rst
  docs/topics/api/reviewers.rst
  src/olympia/reviewers/api_urls.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Remove canned responses logic from reviewers form
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

add reviewer page listing add-ons for a developer
  src/olympia/reviewers/templates/reviewers/developer_profile.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/views.py
  src/olympia/users/templatetags/jinja_helpers.py
  src/olympia/users/tests/test_helpers.py
Due: black, flake8, curlylint

Add debugging information to create_ratinglog task
  src/olympia/activity/management/commands/backfill_ratinglog.py
  src/olympia/activity/tasks.py
Due: black, flake8

Black me
  src/olympia/activity/management/commands/backfill_ratinglog.py
  src/olympia/activity/tasks.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
