Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Adapt test
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_commands.py
Due: black, flake8

Pontoon: Update Kaqchikel (cak) localization of AMO
  locale/cak/LC_MESSAGES/django.po
Due: none

Update boto3 from 1.9.21 to 1.9.22
  requirements/prod_common.txt
Due: none

Record 0 score for reviewers
  src/olympia/reviewers/models.py
Due: black, flake8

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon: Update Spanish (es) localization of AMO
  locale/es/LC_MESSAGES/django.po
Due: none

Pontoon: Update Punjabi (pa-IN) localization of AMO
  locale/pa_IN/LC_MESSAGES/django.po
Due: none

Update freezegun from 0.3.10 to 0.3.11
  requirements/tests.txt
Due: none

Update boto3 from 1.9.22 to 1.9.23
  requirements/prod_common.txt
Due: none

Update botocore from 1.12.22 to 1.12.23
  requirements/prod_common.txt
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Indonesian (id) localization of AMO
  locale/id/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Move & rename user_can_delete_review, it's not a jinja helper
  src/olympia/ratings/permissions.py
  src/olympia/ratings/templatetags/jinja_helpers.py
  src/olympia/ratings/tests/test_permissions.py
  src/olympia/ratings/views.py
  src/olympia/reviewers/forms.py
Due: black, flake8

Add `show_permissions_for` support, with documentation
  docs/topics/api/ratings.rst
  src/olympia/ratings/tests/test_views.py
  src/olympia/ratings/views.py
Due: black, flake8

Add can_reply field to ratings list responses when an addon is passed
  docs/topics/api/ratings.rst
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/ratings/views.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Add logging to awarding reviewer score (#9681)
  src/olympia/reviewers/models.py
Due: black, flake8

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Malay (ms) localization of AMO
  locale/ms/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Fix quote_attr_values argument to HTMLSerializer
  src/olympia/amo/utils.py
  src/olympia/translations/utils.py
Due: black, flake8

Update html5lib now that bleach does not depend directly on it
  requirements/prod_common.txt
Due: none

Fix HTMLSerializer import path
  src/olympia/amo/utils.py
  src/olympia/translations/utils.py
Due: black, flake8

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Remove as much legacy disco pane code as possible, redirecting to firefox "new" page
  src/olympia/legacy_discovery/templates/legacy_discovery/addons/base.html
  src/olympia/legacy_discovery/templates/legacy_discovery/addons/detail.html
  src/olympia/legacy_discovery/templates/legacy_discovery/addons/eula.html
  src/olympia/legacy_discovery/templates/legacy_discovery/base.html
  src/olympia/legacy_discovery/templates/legacy_discovery/macros.html
  src/olympia/legacy_discovery/templates/legacy_discovery/more_addons.html
  src/olympia/legacy_discovery/templates/legacy_discovery/pane.html
  src/olympia/legacy_discovery/templates/legacy_discovery/pane_account.html
  src/olympia/legacy_discovery/tests/test_views.py
  src/olympia/legacy_discovery/urls.py
  src/olympia/legacy_discovery/views.py
Due: black, flake8, curlylint

Remove more obsolete code tied to legacy disco pane
  src/olympia/addons/templates/addons/impala/dependencies_note.html
  src/olympia/addons/templates/addons/impala/homepage_promos.html
  src/olympia/addons/templatetags/jinja_helpers.py
  src/olympia/legacy_api/tests/test_views.py
  src/olympia/legacy_discovery/modules.py
  src/olympia/legacy_discovery/templates/legacy_discovery/modules/collection.html
  src/olympia/legacy_discovery/templates/legacy_discovery/modules/monthly.html
  src/olympia/legacy_discovery/templatetags/jinja_helpers.py
  src/olympia/legacy_discovery/views.py
Due: black, flake8, curlylint

Change addon title locator. (#9694)
  tests/ui/pages/desktop/details.py
Due: black, flake8

preload theme wizard with existing properties (#9644)
  src/olympia/devhub/templates/devhub/addons/submit/wizard.html
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/versions/utils.py
  static/css/devhub/static-theme.less
  static/js/zamboni/static_theme.js
Due: black, prettier, flake8, curlylint

Update amo-validator from 1.11.0 to 1.11.1
  requirements/prod_common.txt
Due: none

Update certifi from 2018.8.24 to 2018.10.15
  requirements/system.txt
Due: none

Unify storage path related settings. (#9655)
  conftest.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_settings.py
  src/olympia/conf/dev/settings.py
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/files/tests/test_models.py
  src/olympia/lib/settings_base.py
  src/olympia/stats/management/commands/download_counts_from_file.py
  src/olympia/stats/management/commands/theme_update_counts_from_file.py
  src/olympia/stats/management/commands/update_counts_from_file.py
Due: black, flake8
