Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Move /deps/node_modules to /data/olympia/node_modules
  .dockerignore
  Dockerfile
  Makefile-docker
  docker-compose.yml
  docker/nginx/addons.conf
  docs/topics/development/dependency_management.md
  package.json
  requirements/prod.txt
  scripts/install_deps.py
  settings.py
  src/olympia/core/apps.py
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  static/css/index.css
  static/css/index.css.js
  static/js/blue.css
  static/js/blue.js
  static/js/common/index.js
  static/js/index.js
  vite.config.js
Due: black, prettier, flake8, curlylint

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

clean
  src/olympia/devhub/templates/devhub/addons/edit/technical.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/translations/models.py
  static/css/zamboni/developers.css
  static/css/zamboni/zamboni.css
Due: black, flake8, curlylint

tests
  src/olympia/addons/tests/test_models.py
  src/olympia/translations/models.py
Due: black, flake8

test
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

more relevant tests
  src/olympia/addons/tests/test_models.py
  src/olympia/translations/models.py
Due: black, flake8

lint
  src/olympia/addons/tests/test_models.py
Due: black, flake8

docs
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
Due: none

Pontoon: Update Telugu (te) localization of AMO
  locale/te/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Telugu (te) localization of AMO
  locale/te/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Move dependencies into /data/olympia: /deps/ -> /data/olympia/deps /deps/node_modules -> /data/olympia/node_modules
  Dockerfile
  Makefile-docker
  docker-compose.yml
  docker/entrypoint.sh
  docker/nginx/addons.conf
  docs/topics/development/building_and_running_services.md
  docs/topics/development/dependency_management.md
  docs/topics/development/performance_and_optimization.md
  pyproject.toml
  scripts/install_deps.py
  scripts/setup.py
  src/olympia/lib/settings_base.py
  tests/make/make.spec.js
  tests/make/test_install_deps.py
  tests/make/test_setup.py
Due: black, prettier, flake8

Add test for static file loading
  Makefile-docker
  docker-compose.yml
  docker/nginx/addons.conf
  src/olympia/amo/management/__init__.py
  src/olympia/amo/management/commands/data_load.py
  src/olympia/amo/management/commands/data_seed.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/core/apps.py
  src/olympia/lib/settings_base.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Remove the whole concept of development/production mounts
  .github/actions/run-docker/action.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/entrypoint.sh
  docker/nginx/addons.conf
  locale/compile-mo.sh
  scripts/compile_locales.py
  scripts/setup.py
  scripts/sync_host_files.py
  scripts/update_assets.py
  settings.py
  site-static/.gitkeep
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/core/apps.py
  static-build/.gitkeep
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Add update_all_due_dates test
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Update this test
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

Reformat
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Update migration
  src/olympia/activity/migrations/0028_alter_activitylog_action.py
  src/olympia/reviewers/migrations/0041_reviewqueuehistory.py
Due: black, flake8

Add basic admin to help testing
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/models.py
Due: black, flake8

build assets with vite
  .dockerignore
  .github/actions/build-docker/action.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/nginx/addons.conf
  docs/topics/development/static-files.md
  jest.config.js
  package-lock.json
  package.json
  pyproject.toml
  requirements/prod.txt
  settings.py
  src/olympia/core/apps.py
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  src/olympia/lib/storage.py
  src/olympia/reviewers/templates/reviewers/base.html
  src/olympia/stats/templates/stats/stats.html
  src/olympia/templates/base.html
  static/css/zamboni/devhub.less
  static/css/zamboni/index.less
  static/css/zamboni/reviewers/index.less
  static/js/common/fonts.js
  static/js/common/index.js
  static/js/preload.js
  static/js/zamboni/devhub/index.js
  static/public/img/favicon.ico
  tests/js/zamboni/i18n.spec.js
  tests/js/zamboni/stats.spec.js
  vite.config.js
Due: black, prettier, flake8, curlylint

drive-by fix typos
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Also record a manual clear
  src/olympia/reviewers/utils.py
Due: black, flake8

Rename method, add test for clearing nhr action
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Also display `created` in admin
  src/olympia/reviewers/admin.py
Due: black, flake8

Fix python version used by dependabot
  .python-version
Due: none

Add comment
  .python-version
Due: none

Fix python version used by dependabot (#22958)
  .python-version
Due: none

Record review queue history: when a version enters the queue, when they leave it (#22927)
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/activity/migrations/0028_alter_activitylog_action.py
  src/olympia/activity/utils.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/views.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/migrations/0027_backfill_needshumanreview.py
  src/olympia/reviewers/migrations/0041_reviewqueuehistory.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
Due: black, flake8

Refactor ContentDecision to be used consistently TODO: - test report_to_cinder, execute_action_and_notify, etc - specicially: clearing pending rejections; setting pending rejections; clearing NHR
  src/olympia/abuse/actions.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

Change wording of escalated appeals in version history
  src/olympia/reviewers/models.py
Due: black, flake8
