Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Cleanup
  docs.md
  docs/topics/development/index.rst
  docs/topics/development/introduction.md
Due: none

Fix Activity Log. (#288)
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/amo/models.py
  src/olympia/reviewers/templates/reviewers/includes/history.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
Due: black, flake8, curlylint

Remove variables and hard-code values
  Makefile-docker
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

More efficient utilization of github action cache
  .github/actions/cache-deps/action.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  Dockerfile
  Makefile-os
  docker-compose.ci.yml
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Set cache from/to only in CI
  .github/actions/build-docker/action.yml
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Update Dockerfile
  Dockerfile
Due: none

More efficient utilization of github action cache (#22314)
  .github/actions/build-docker/action.yml
  .github/actions/cache-deps/action.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  Dockerfile
  Makefile-os
  docker-compose.ci.yml
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

added link logic
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/templatetags/assay.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
Due: black, flake8, curlylint

testing
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

test name
  src/olympia/reviewers/tests/test_assay_tags.py
Due: black, flake8

Revert "Update class names and copy"
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Hard-code super user name and email (#22296)
  Makefile-docker
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Use separate activity log action for automated rejections after delay expiry (#22295)
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Restrict manifest v3 to 128.0 (Fixes #280) (#282)
  src/olympia/constants/base.py
  src/olympia/files/tests/test_utils_.py
  src/olympia/files/utils.py
Due: black, flake8

style fixes, parameter fix
  src/olympia/reviewers/templatetags/assay.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
  locale/it/LC_MESSAGES/djangojs.po
Due: none

fixes
  src/olympia/reviewers/tests/test_assay_tags.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

test definition fix
  src/olympia/reviewers/tests/test_jinja_helpers.py
Due: black, flake8

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Fix flaky tests
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

Reorganize and consolidate CI workflows
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

TMP: squash
  src/olympia/devhub/tests/test_forms.py
Due: black, flake8

TMP: recomment
  .circleci/config.yml
Due: none

Refactor CI workflow and enable parallelization (#22306)
  .circleci/config.yml
  .github/workflows/ci.yml
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

TMP: What could go wrong
  .github/actions/run-docker/action.yml
  .github/workflows/ci.yml
  .github/workflows/extract-locales.yml
  .gitignore
  Dockerfile
  Makefile-os
  docker-compose.ci.yml
  docker-compose.deps.yml
  docker-compose.yml
Due: none
