Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Albanian (sq)
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Croatian (hr)
  locale/hr/LC_MESSAGES/django.po
Due: none

Initialize Tajik (tg) content
  locale/tg/LC_MESSAGES/django.po
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update 61 localizations
  locale/tg/LC_MESSAGES/django.po
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Tajik (tg)
  locale/tg/LC_MESSAGES/django.po
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Simple error handling
  src/olympia/abuse/management/commands/fake_cinder_webhook.py
Due: black, flake8

drop localized strings from reviewer tools (#24251)
  src/olympia/addons/models.py
  src/olympia/amo/templates/amo/fake_fxa_authorization.html
  src/olympia/constants/reviewers.py
  src/olympia/core/apps.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/includes/paginator_history.html
  src/olympia/reviewers/templates/reviewers/includes/user_ratings_list.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/moderationlog_detail.html
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templates/reviewers/review.html
Due: black, flake8, curlylint

Fancier exception handling
  src/olympia/abuse/management/commands/fake_cinder_webhook.py
Due: black, flake8

Add command to fake cinder webhook request in local environments (#24245)
  src/olympia/abuse/management/commands/fake_cinder_webhook.py
Due: black, flake8

fix broken/missing l10n in devhub
  src/olympia/devhub/templates/devhub/addons/edit/additional_details.html
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
  static/js/stats/table.js
Due: prettier, curlylint

Prevent reviewers from resolving appeals with reject/reject_multiple_versions actions
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8
