Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Backfill human review date more aggressively
  src/olympia/reviewers/migrations/0024_backfill-human-review-date-more-agressively.py
Due: black, flake8

Add some dependencies
  src/olympia/reviewers/migrations/0024_backfill-human-review-date-more-agressively.py
Due: black, flake8

s/support/supports/
  src/olympia/reviewers/serializers.py
Due: black, flake8

correct url in docs
  docs/topics/api/licenses.rst
Due: none

update out of date BSD and MIT license links (#20373)
  docs/topics/api/licenses.rst
  src/olympia/constants/licenses.py
Due: black, flake8

Move migration to versions, grab DISABLED instead of AWAITING_REVIEW
  src/olympia/versions/migrations/0036_backfill-human-review-date-more-agressively.py
Due: black, flake8

Allow for multi-region hosts for Google Analytics
  src/olympia/lib/settings_base.py
Due: black, flake8

Prevent potential race condition in AddonReviewerFlags API (#20364)
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Allow for multi-region hosts for Google Analytics (#20381)
  src/olympia/lib/settings_base.py
Due: black, flake8

Backfill human review date more aggressively (#20377)
  src/olympia/versions/migrations/0036_backfill-human-review-date-more-agressively.py
Due: black, flake8

correctly attribute human multiple rejection to current reviewer (#20374)
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

add clear_needs_human_review action; enable some actions for deleted addons
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Remove code related to old canned responses feature (#20382)
  docs/topics/api/overview.rst
  docs/topics/api/reviewers.rst
  src/olympia/activity/migrations/0023_remove_draftcomment_canned_response.py
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/constants/reviewers.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/migrations/0024_delete_cannedresponse.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Return a HTTP 409 for conflicts when creating add-ons/versions through the API
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/api/exceptions.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Kaqchikel (cak) localization of AMO
  locale/cak/LC_MESSAGES/django.po
Due: none

Return a HTTP 409 for conflicts when creating add-ons/versions through the API (#20389)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/api/exceptions.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
Due: black, flake8

Allow looking up versions by version number in the add-on versions API
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Document other endpoints too
  docs/topics/api/addons.rst
Due: none

add is_disabled to DeveloperVersionSerializer and update
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Fixed #20215 by removing unnecessary `{% with %}` blocks which replaced `{% blocktrans %}` in #20209
  src/olympia/blocklist/templates/admin/blocklist/block_change_list.html
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  src/olympia/blocklist/templates/admin/blocklist/multi_guid_input.html
Due: curlylint

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

v prefix support
  docs/topics/api/addons.rst
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Pontoon: Update Catalan (ca) localization of AMO
  locale/ca/LC_MESSAGES/django.po
Due: none

Remove unnecessary `{% with %}` blocks which replaced `{% blocktrans %}`
  src/olympia/blocklist/templates/admin/blocklist/block_change_list.html
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  src/olympia/blocklist/templates/admin/blocklist/multi_guid_input.html
Due: curlylint

Add a waffle switch controlling use of TAAR, don't log timeout exceptions
  src/olympia/discovery/migrations/0014_auto_20230227_1144.py
  src/olympia/discovery/tests/test_utils.py
  src/olympia/discovery/utils.py
Due: black, flake8

Remove obsolete 'Versions Needing Human Review' queue
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
