Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

set_human_review for all actions + extra tests
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

add migrations
  src/olympia/files/migrations/0028_set_approval_date.py
  src/olympia/versions/migrations/0035_set_human_review_date.py
Due: black, flake8

stop setting human_review_date for unlisted reviewer replies and comments
  src/olympia/reviewers/utils.py
Due: black, flake8

codestyle updates
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/views.py
  src/olympia/activity/views.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/admin.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/tests/test_messages.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/bandwagon/models.py
  src/olympia/devhub/file_validation_annotations.py
  src/olympia/devhub/widgets.py
  src/olympia/git/utils.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/tests/test_review_reports.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/stats/tests/test_views.py
Due: black, flake8

Show & Allow removing Unlisted Auto-Approval Extra Delay in review tools
  src/olympia/addons/models.py
  src/olympia/constants/permissions.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
  static/img/developers/reviewer-sprite.png
Due: black, flake8, curlylint

Remove wrong JOIN, move into main method
  src/olympia/addons/models.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Reformat differently
  src/olympia/addons/models.py
Due: black, flake8

still show deleted add-ons and versions in review queues
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Tests
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Fix for AddonReviewerFlags API
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Expose due date on version admin
  src/olympia/versions/admin.py
Due: black, flake8

Add missing API docs
  docs/topics/api/reviewers.rst
Due: none

replace File|Version.reviewed with approval_date and human_review_date (#20281)
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
  src/olympia/amo/sitemap.py
  src/olympia/constants/base.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/files/migrations/0027_auto_20230131_1818.py
  src/olympia/files/migrations/0028_set_approval_date.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/signing/serializers.py
  src/olympia/signing/tests/test_views.py
  src/olympia/versions/migrations/0034_auto_20230131_1821.py
  src/olympia/versions/migrations/0035_set_human_review_date.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/views.py
Due: black, flake8

Expose due date on version admin (#20306)
  src/olympia/versions/admin.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Update due dates on an add-on when doing a listed approval/confirm approval
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Allow blank due dates
  src/olympia/versions/models.py
Due: black, flake8

still show deleted add-ons and versions in review queues (#20299)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Update due dates on an add-on when doing a listed approval/confirm approval (#20308)
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Fix broken merge
  src/olympia/reviewers/utils.py
Due: black, flake8

Allow blank due dates (#20309)
  src/olympia/versions/models.py
Due: black, flake8

Update 0035_set_human_review_date.py
  src/olympia/versions/migrations/0035_set_human_review_date.py
Due: black, flake8

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Update 0035_set_human_review_date.py (#20311)
  src/olympia/versions/migrations/0035_set_human_review_date.py
Due: black, flake8

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Fix query (and tests) for pending queues
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Apply same logic to get_pending_rejection_queue()
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
Due: black, flake8

We need to keep the annotations (and therefore the base filter) to allow sorting on it
  src/olympia/addons/models.py
Due: black, flake8

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
