Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

use variable
  src/olympia/devhub/templates/devhub/addons/submit/source.html
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

lint
  src/olympia/devhub/views.py
Due: black, flake8

Fix broken test
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

Modified email templates associated with reviewer actions to indicate whether they include an attachment
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionApproveInitialDecision.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

cleanup
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

remove unused param
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

formatting
  src/olympia/abuse/templates/abuse/emails/CinderActionApproveInitialDecision.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
Due: none

stricter test
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

formatting
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Skip assets/locales/sources in development docker build
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  Dockerfile
  Makefile-docker
  Makefile-os
  docker-bake.hcl
  docker-compose.ci.yml
  docker-compose.yml
  docker/entrypoint.sh
  src/olympia/core/apps.py
Due: black, flake8

reset File.original_status when rejected
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Create/migrate DB before seeding.
  Makefile-docker
Due: none

Use db_backup + management commands to implement data dump/load/seed (#22693)
  Makefile-docker
  Makefile-os
  docs/topics/development/data_management.md
  requirements/dev.txt
  settings.py
  src/olympia/amo/management/__init__.py
  src/olympia/amo/management/commands/data_dump.py
  src/olympia/amo/management/commands/data_load.py
  src/olympia/amo/management/commands/data_seed.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Rename "hard" BlockVersion to "soft" to unify the conceptual flow of "soft" blocks
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/migrations/0034_remove_blockversion_hard_blockversion_soft.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

Only include locale stage in production image
  Dockerfile
Due: none

Allow autograph to pull config in prod mode (#22700)
  docker-compose.yml
Due: none

Fix sponsored/verified removal migration
  src/olympia/constants/promoted.py
  src/olympia/promoted/migrations/0021_auto_20240919_0952.py
Due: black, flake8

Rename "hard" BlockVersion to "soft" to unify the conceptual flow of "soft" blocks (#22707)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/migrations/0034_remove_blockversion_hard_blockversion_soft.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

trans var
  src/olympia/devhub/templates/devhub/addons/submit/source.html
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
Due: curlylint

move attachment for files with policy.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/includes/policies.txt
Due: none

Re-introduce dummy constants
  src/olympia/constants/promoted.py
  src/olympia/promoted/migrations/0021_auto_20240919_0952.py
Due: black, flake8

move for non-policy
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
Due: none

Attachment Emails for Reviewer Attachments (#22704)
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionApproveInitialDecision.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/templates/abuse/emails/includes/policies.txt
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Fix sponsored/verified removal migration (#22709)
  src/olympia/constants/promoted.py
  src/olympia/promoted/migrations/0021_auto_20240919_0952.py
Due: black, flake8

Only include locale stage in production image (#22708)
  Dockerfile
Due: none

Simplify static file mounts in nginx
  docker-compose.ci.yml
  docker-compose.yml
  docker/nginx/addons.conf
Due: none

Only compile assets in production image
  .github/workflows/_test.yml
  Dockerfile
  Makefile-os
  docker-compose.yml
  src/olympia/core/apps.py
  src/olympia/lib/settings_base.py
Due: black, flake8

TMP: ensure volume dirs exist
  Makefile-os
Due: none

TMP: use django to create staticfile dirs
  Makefile-os
  src/olympia/core/apps.py
Due: black, flake8

Update src/olympia/core/apps.py
  src/olympia/core/apps.py
Due: black, flake8

Update src/olympia/lib/settings_base.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Add class method/property to mange block type from soft parameter.
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_models.py
Due: black, flake8

reset File.original_status when rejected (#22705)
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Add waffle flag for submissions
  src/olympia/addons/migrations/0052_auto_20240927_1810.py
  src/olympia/addons/views.py
  src/olympia/devhub/views.py
  src/olympia/files/views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
