Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Added rollback to version api (#23897)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Pontoon/AMO: Update Dutch (nl), Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Simplification, tests
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/blocklist/utils.py
Due: black, flake8

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Add missing assertions
  src/olympia/blocklist/tests/test_utils.py
Due: black, flake8

Pontoon/AMO: Update Dutch (nl)
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de), Russian (ru)
  locale/de/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Finnish (fi)
  locale/fi/LC_MESSAGES/django.po
Due: none

rewrite RollbackVersionForm for less queries
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB), Italian (it)
  locale/en_GB/LC_MESSAGES/django.po
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

rewrite RollbackVersionForm for less queries (#23915)
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Restrict future approvals in "Disable and block" scanner action
  src/olympia/scanners/actions.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/users/admin.py
  src/olympia/users/models.py
  src/olympia/versions/models.py
  src/olympia/zadmin/admin.py
Due: black, flake8

Add ActivityLog when disabling auto-approval because of a restriction
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Adjust expected number of queries
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Record correct user for version unblocking activity log (#23907)
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/blocklist/utils.py
Due: black, flake8

Add 7 days cooldown to dependabot
  .github/dependabot.yml
Due: none

Pontoon/AMO: Update German (de), Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

tests network_from_ip
  src/olympia/users/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none
