Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Add ReviewStats class and manually_reviewed_versions method
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
Due: black, flake8

Pontoon/AMO: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/djangojs.po
Due: none

Re-order needs human review reasons, display them in the review queue for each add-on (#23426)
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Update .dockerignore
  .dockerignore
Due: none

Update .gitignore
  .gitignore
Due: none

Update settings.py
  settings.py
Due: black, flake8

associate deny appeal version logs with original versions
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Allow policies to selected directly for reviewer tools actions
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/migrations/0043_auto_20250508_1731.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Include private notes in stakeholder email
  src/olympia/abuse/actions.py
  src/olympia/abuse/templates/abuse/emails/stakeholder_notification.txt
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

associate deny appeal version logs with original versions (#23449)
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Document use of reasoning for reviewer comments
  src/olympia/reviewers/utils.py
Due: black, flake8

Cleanup
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Record `reasoning` and `private_notes` separately in Content Decisions (#23419)
  src/olympia/abuse/actions.py
  src/olympia/abuse/admin.py
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0058_rename_notes_contentdecision_reasoning_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/templates/abuse/emails/stakeholder_notification.txt
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_utils.py
  src/olympia/activity/tests/test_views.py
  src/olympia/constants/activity.py
  src/olympia/devhub/tests/test_feeds.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

drop support for AMO_ESCALATE and forwarded jobs
  src/olympia/abuse/actions.py
  src/olympia/abuse/management/commands/backfill_cinder_escalations.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_commands.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/constants/abuse.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Add runbooks with examples for localdev/dev/statistics (#23286)
  docs/_static/images/statistics-overview-chart.png
  docs/index.md
  docs/topics/runbooks/dev/index.md
  docs/topics/runbooks/dev/shell_into_dev_pod.md
  docs/topics/runbooks/index.md
  docs/topics/runbooks/localdev/bigquery_credentials_setup.md
  docs/topics/runbooks/localdev/index.md
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
  settings.py
Due: black, flake8

fix
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

drop support for AMO_ESCALATE and forwarded jobs (#23338)
  src/olympia/abuse/actions.py
  src/olympia/abuse/management/commands/backfill_cinder_escalations.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_commands.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/constants/abuse.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Pontoon/AMO: Update Japanese (ja)
  locale/ja/LC_MESSAGES/django.po
Due: none

Fix including policies text in emails of decisions coming from Cinder with notes
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Drop legacy promoted models
  src/olympia/promoted/migrations/0030_remove_promotedaddon_addon_and_more.py
Due: black, flake8

Don't change ordering logic, just exclude private comment action
  src/olympia/abuse/models.py
Due: black, flake8

Drop legacy promoted models (#23425)
  src/olympia/promoted/migrations/0030_remove_promotedaddon_addon_and_more.py
Due: black, flake8

Fix including policies text in emails of decisions coming from Cinder with notes (#23451)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Hmm, let's back that out one more time and circle around in a bit
  src/olympia/devhub/forms.py
Due: black, flake8

Who the eff knows if this will work....
  .github/workflows/_health_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
  .github/workflows/health_check_completed.yml
Due: none

Update .github/workflows/health_check.yml
  .github/workflows/health_check.yml
Due: none

Remove unecessary code after review
  .github/workflows/_health_check.yml
Due: none

On (no branch): Pre-migrations
  src/olympia/abuse/migrations/0059_remove_cinderjob_forwarded_to_job_and_more.py
  src/olympia/activity/migrations/0029_alter_activitylog_action.py
  src/olympia/addons/migrations/0055_alter_addon_description_and_more.py
  src/olympia/blocklist/migrations/0042_alter_blockversion_block_type.py
  src/olympia/devhub/migrations/0009_alter_surveyresponse_survey_id.py
  src/olympia/discovery/migrations/0017_discoveryaddon_discoverypromotedgroup_promotedaddon.py
  src/olympia/files/migrations/0034_remove_file_reviewed.py
  src/olympia/git/migrations/0007_delete_gitextractionentry.py
  src/olympia/promoted/migrations/0031_promotedaddon_and_more.py
  src/olympia/reviewers/migrations/0043_alter_needshumanreview_reason_and_more.py
  src/olympia/shelves/migrations/0023_alter_shelf_addon_type.py
  src/olympia/translations/migrations/0003_puretranslation_purifiedmarkdowntranslation.py
  src/olympia/users/migrations/0018_remove_userprofile_is_public_and_more.py
  src/olympia/versions/migrations/0048_alter_version_release_notes.py
Due: black, flake8
