Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Forbid sorting reviewer queues by name / type (and remove dead code)
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

Forbid sorting reviewer queues by name / type (and remove dead code) (#17775)
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

Don't fail API theme submission for small themes that fit in memory
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Pass uploadedfile instance
  src/olympia/files/tests/test_models.py
Due: black, flake8

Don't fail API theme submission for small themes that fit in memory (#17781)
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Cachebust Primary Hero images and Secondary Hero icons
  src/olympia/hero/models.py
  src/olympia/hero/tests/test_models.py
  src/olympia/hero/tests/test_serializers.py
Due: black, flake8

Reformat test
  src/olympia/hero/tests/test_models.py
Due: black, flake8

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Cachebust Primary Hero images and Secondary Hero icons (#17785)
  src/olympia/hero/models.py
  src/olympia/hero/tests/test_models.py
  src/olympia/hero/tests/test_serializers.py
Due: black, flake8

add enable_for_random_shelf field; expose admin to DISCOVERY_EDIT
  src/olympia/constants/permissions.py
  src/olympia/shelves/models.py
  src/olympia/shelves/tests/test_models.py
  src/olympia/tags/admin.py
  src/olympia/tags/migrations/0007_tag_enable_for_random_shelf.py
  src/olympia/tags/models.py
  src/olympia/tags/tests/test_admin.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
  locale/el/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Remove obsolete is_ajax() checks
  src/olympia/amo/templates/amo/403.html
  src/olympia/devhub/views.py
  src/olympia/templates/base_modal.html
Due: black, flake8, curlylint

Remove obsolete is_ajax() checks (#17809)
  src/olympia/amo/templates/amo/403.html
  src/olympia/devhub/views.py
  src/olympia/templates/base_modal.html
Due: black, flake8, curlylint

Add new platformdirs requirement
  requirements/codestyle.txt
Due: none

Remove binary/binary_components fields from File
  services/update.py
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_update.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/files/admin.py
  src/olympia/files/migrations/0013_auto_20210830_1424.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Reformat this
  src/olympia/versions/models.py
Due: black, flake8

Add Thunderbird version awareness to discovery API.
  src/olympia/discovery/serializers.py
Due: black, flake8

Require 'strict_max_version' and strict_compatibility for Experiments.
  src/olympia/files/utils.py
Due: black, flake8

Remove binary/binary_components fields from File (#17811)
  services/update.py
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_update.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/files/admin.py
  src/olympia/files/migrations/0013_auto_20210830_1424.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Update dependency addons-linter to v3.13.0
  package-lock.json
  package.json
Due: none

simplify migration; index enable_for_random_shelf; change Shelf.tag
  src/olympia/shelves/models.py
  src/olympia/tags/migrations/0007_tag_enable_for_random_shelf.py
  src/olympia/tags/models.py
Due: black, flake8

add enable_for_random_shelf field; expose admin to DISCOVERY_EDIT (#17794)
  src/olympia/constants/permissions.py
  src/olympia/shelves/models.py
  src/olympia/shelves/tests/test_models.py
  src/olympia/tags/admin.py
  src/olympia/tags/migrations/0007_tag_enable_for_random_shelf.py
  src/olympia/tags/models.py
  src/olympia/tags/tests/test_admin.py
Due: black, flake8

roll back pytest to 6.2.4
  requirements/tests.txt
Due: none

Fix for test_temporary_worktree test failure
  src/olympia/git/tests/test_utils.py
Due: black, flake8

Another attempt
  src/olympia/git/tests/test_utils.py
Due: black, flake8

include tag pages in the sitemap
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/amo/tests/test_sitemap.py
Due: black, flake8

include tag pages in the sitemap (#17830)
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/amo/tests/test_sitemap.py
Due: black, flake8

Fix test_temporary_worktree test with newer versions of git
  src/olympia/git/tests/test_utils.py
Due: black, flake8
