Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Refactor search code into a simpler set of modules
  settings_test.py
  src/olympia/addons/indexers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/amo/monitors.py
  src/olympia/amo/search.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/es/management/commands/__init__.py
  src/olympia/lib/es/migrations/0004_delete_reindexing.py
  src/olympia/lib/es/models.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_models.py
  src/olympia/search/management/__init__.py
  src/olympia/search/management/commands/__init__.py
  src/olympia/search/management/commands/reindex.py
  src/olympia/search/migrations/0003_reindexing.py
  src/olympia/search/models.py
  src/olympia/search/tests/test_commands.py
  src/olympia/search/tests/test_models.py
  src/olympia/search/tests/test_utils.py
  src/olympia/search/utils.py
Due: black, flake8

Disable ES verification step
  src/olympia/search/tests/test_utils.py
  src/olympia/search/utils.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

send the version.id for the version being reviewed in the form
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Fix intermittent test failure TestSigning.test_sign_file_non_ascii_filename
  src/olympia/lib/crypto/tests/test_signing.py
Due: black, flake8

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Fix nomination date inheritance for add-ons with no approved versions & pending rejection
  src/olympia/addons/models.py
  src/olympia/constants/base.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

os.path.join()
  src/olympia/lib/crypto/tests/test_signing.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Fix intermittent test failure TestSigning.test_sign_file_non_ascii_filename (#19486)
  src/olympia/lib/crypto/tests/test_signing.py
Due: black, flake8

Fix old broken tests
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Fix nomination date inheritance for add-ons with no approved versions & pending rejection (#19489)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/base.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Allow submission of add-ons using reserved guids without privileged cert again (#19480)
  src/olympia/devhub/tests/test_views.py
  src/olympia/files/fixtures/files/mozilla_guid_signed.xpi
  src/olympia/files/utils.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Refactor search code into a simpler set of modules and disable ES verification (#19481)
  settings_test.py
  src/olympia/addons/indexers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/amo/monitors.py
  src/olympia/amo/search.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/es/management/commands/__init__.py
  src/olympia/lib/es/migrations/0004_delete_reindexing.py
  src/olympia/lib/es/models.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_models.py
  src/olympia/search/management/__init__.py
  src/olympia/search/management/commands/__init__.py
  src/olympia/search/management/commands/reindex.py
  src/olympia/search/migrations/0003_reindexing.py
  src/olympia/search/models.py
  src/olympia/search/tests/test_commands.py
  src/olympia/search/tests/test_models.py
  src/olympia/search/tests/test_utils.py
  src/olympia/search/utils.py
Due: black, flake8

send the version.id for the version being reviewed in the form (#19484)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

after delayed rejection, correctly reject as content_review or not
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/migrations/0026_versionreviewerflags_pending_content_rejection.py
  src/olympia/versions/models.py
Due: black, flake8

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Do not reject disabled or deleted versions/files during a block
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
Due: black, flake8

refactor & add to tests
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
  locale/zh_CN/LC_MESSAGES/djangojs.po
Due: none

Do not reject disabled or deleted versions/files during a block (#19492)
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

make pending_content_review nullable and clear it
  src/olympia/addons/models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/migrations/0026_auto_20220722_1704.py
  src/olympia/versions/migrations/0026_versionreviewerflags_pending_content_rejection.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none
