Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Korean (ko) localization of AMO
  locale/ko/LC_MESSAGES/django.po
Due: none

Add about-sync's addon ID to the accepted list. (#19194)
  src/olympia/constants/base.py
Due: black, flake8

prevent name and summary from having null values for addons with listed versions (#19179)
  src/olympia/addons/fields.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
Due: black, flake8

addons api (pending) authors create and confirm endpoint
  docs/topics/api/addons.rst
  docs/topics/api/authors.rst
  docs/topics/api/index.rst
  docs/topics/api/overview.rst
  src/olympia/addons/api_urls.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/users/models.py
Due: black, flake8

don't assume manifest values override {locale: null} because they don't
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
Due: black, flake8

don't assume manifest values override {locale: null} because they don't (#19198)
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
Due: black, flake8

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

WIP FIXME
  src/olympia/activity/models.py
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/templates/devhub/includes/version_file.html
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/files/fields.py
  src/olympia/files/migrations/0021_auto_20220503_1855.py
  src/olympia/files/models.py
  src/olympia/files/tasks.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/git/utils.py
  src/olympia/landfill/management/commands/fetch_prod_versions.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/templates/reviewers/emails/files.ltxt
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/scanners/tasks.py
  src/olympia/signing/serializers.py
  src/olympia/signing/tests/test_views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
  src/olympia/zadmin/tests/test_views.py
  src/olympia/zadmin/views.py
  static/css/zamboni/developers.css
Due: black, flake8, curlylint

Fixtures update
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/fixtures/addons/test_manager.json
  src/olympia/addons/fixtures/addons/update.json
  src/olympia/amo/fixtures/base/addon_1833_yoono.json
  src/olympia/amo/fixtures/base/addon_3615.json
  src/olympia/amo/fixtures/base/addon_40.json
  src/olympia/amo/fixtures/base/addon_4664_twitterbar.json
  src/olympia/amo/fixtures/base/addon_5299_gcal.json
  src/olympia/amo/fixtures/base/addon_5369.json
  src/olympia/amo/fixtures/base/addon_5579.json
  src/olympia/amo/fixtures/base/addon_59.json
  src/olympia/amo/fixtures/base/addon_592.json
  src/olympia/amo/fixtures/base/addon_6113.json
  src/olympia/amo/fixtures/base/addontag.json
  src/olympia/amo/fixtures/base/featured.json
  src/olympia/devhub/fixtures/devhub/addon-validation-1.json
  src/olympia/ratings/fixtures/ratings/dev-reply.json
  src/olympia/ratings/fixtures/ratings/test_models.json
  src/olympia/reviewers/fixtures/base/approvals.json
Due: none

Some test progress, FIXME
  src/olympia/amo/tests/__init__.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/versions/models.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Add to tests to prove null values aren't allowed for license name/text
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Even more WIP
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/utils.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
Due: black, flake8

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Fixes
  src/olympia/amo/utils.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Test fixes for addons/versions/files
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/files/admin.py
  src/olympia/files/tests/test_admin.py
  src/olympia/files/tests/test_utils.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/tests/test_views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
