Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Update boto3 from 1.9.49 to 1.9.50 (#10049)
  requirements/prod_common.txt
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Remove icon support for collections
  src/olympia/amo/cron.py
  src/olympia/amo/fixtures/base/addon_3615_featuredcollection.json
  src/olympia/amo/fixtures/base/collection_57181.json
  src/olympia/amo/fixtures/base/collections.json
  src/olympia/amo/monitors.py
  src/olympia/bandwagon/fixtures/bandwagon/featured_collections.json
  src/olympia/bandwagon/fixtures/bandwagon/test_models.json
  src/olympia/bandwagon/forms.py
  src/olympia/bandwagon/models.py
  src/olympia/bandwagon/tasks.py
  src/olympia/bandwagon/templates/bandwagon/collection_detail.html
  src/olympia/bandwagon/templates/bandwagon/collection_grid.html
  src/olympia/bandwagon/templates/bandwagon/collection_listing_items.html
  src/olympia/bandwagon/templates/bandwagon/impala/collection_listing_items.html
  src/olympia/bandwagon/templates/bandwagon/includes/addedit.html
  src/olympia/bandwagon/tests/test_models.py
  src/olympia/bandwagon/tests/test_tasks.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/bandwagon/urls.py
  src/olympia/bandwagon/views.py
  src/olympia/migrations/1057-nullify-collection-icon.sql
Due: black, flake8, curlylint

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Update botocore from 1.12.49 to 1.12.50 (#10050)
  requirements/prod_common.txt
Due: none

Use id-based subdirectories for git-storage.
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/files/tests/test_utils_.py
  src/olympia/files/utils.py
  src/olympia/lib/git.py
  src/olympia/lib/tests/test_git.py
  src/olympia/versions/models.py
Due: black, flake8

restrict screenshot upload dimensions and ratio (#10044)
  src/olympia/amo/tests/images/preview_4x3.jpg
  src/olympia/amo/tests/images/teamaddons.jpg
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/devhub/templates/devhub/addons/forms_shared/media.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Change listing to product page (#10018)
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/forms_shared/media.html
  src/olympia/devhub/templates/devhub/addons/listing/item_actions.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/templates/devhub/new-landing/components/manage_your_addon.html
  src/olympia/devhub/templates/devhub/personas/edit.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templates/reviewers/themes/single.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

address deprecation warnings in urls (#10061)
  src/olympia/abuse/urls.py
  src/olympia/accounts/urls.py
  src/olympia/addons/api_urls.py
  src/olympia/api/tests/test_exceptions.py
  src/olympia/api/tests/test_namespace.py
  src/olympia/api/urls.py
  src/olympia/discovery/api_urls.py
  src/olympia/ratings/api_urls.py
  src/olympia/reviewers/api_urls.py
  src/olympia/zadmin/urls.py
Due: black, flake8

have combined name and summary length restriction (#10059)
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  static/css/zamboni/developers.css
  static/js/zamboni/global.js
Due: black, prettier, flake8, curlylint

Update pytest from 4.0.0 to 4.0.1
  requirements/tests.txt
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
