Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

fix admin override on upload feature
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Add sphinxcontrib.jquery which is now required by sphinx-rtd-theme
  requirements/docs.txt
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Fix build by replacing usage of npm bin, which is gone from npm 9.x
  Makefile-docker
Due: none

Also fix lint command
  Makefile-docker
Due: none

Fix build by replacing usage of npm bin, which is gone from npm 9.x (#20323)
  Makefile-docker
Due: none

Bump docutils to 0.18.1
  requirements/docs.txt
Due: none

fix admin override on upload feature (#20313)
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

Bump docutils to 0.18.1 (#20324)
  requirements/docs.txt
Due: none

Reformat docs/conf.py and update year
  docs/conf.py
Due: black, flake8

Reformat docs/conf.py and update year (#20325)
  docs/conf.py
Due: black, flake8

Show & Allow removing Unlisted Auto-Approval Extra Delay in review tools (#20297)
  docs/topics/api/reviewers.rst
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/permissions.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
  static/img/developers/reviewer-sprite.png
Due: black, flake8, curlylint

Add reason to user restrictions stored in database
  src/olympia/scanners/actions.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/users/admin.py
  src/olympia/users/migrations/0010_auto_20230209_1546.py
  src/olympia/users/models.py
Due: black, flake8

Add simple hack to make the text inputs larger on the restriction admins
  src/olympia/users/admin.py
Due: black, flake8

Don't try backfilling ratinglogs if there is already one
  src/olympia/activity/management/commands/backfill_ratinglog.py
  src/olympia/activity/tests/test_commands.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

command to return folders with (potentially) changed files instead
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Add reason to user restrictions stored in database (#20327)
  src/olympia/scanners/actions.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/users/admin.py
  src/olympia/users/migrations/0010_auto_20230209_1546.py
  src/olympia/users/models.py
Due: black, flake8

Stop notifying developers about auto-approval delay for each version
  scripts/crontab/crontab.tpl
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/management/commands/notify_about_auto_approve_delay.py
  src/olympia/reviewers/templates/reviewers/emails/held_for_review.ltxt
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Send initial acknowledgement email for Add-ons for all channels
  src/olympia/devhub/tasks.py
  src/olympia/devhub/templates/devhub/emails/submission.html
  src/olympia/devhub/templates/devhub/emails/submission.txt
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/lib/settings_base.py
  src/olympia/versions/models.py
Due: black, flake8, curlylint

Fix locale activation
  src/olympia/devhub/tasks.py
Due: black, flake8

Black me
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update tests for the task itself
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_tasks.py
Due: black, flake8

Tests for from_upload()
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none
