Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

rewrite is_individually_actionable to be negatable
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

filter out individually actioned reports from flag_high_abuse_reports_addons_according_to_review_tier job
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Add glob to dependencies
  package-lock.json
  package.json
Due: none

Add glob to dependencies (#22654)
  package-lock.json
  package.json
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

testing
  src/olympia/activity/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

corrected test
  src/olympia/activity/tests/test_models.py
Due: black, flake8

aggregate abuse triggers exclude dsa handled reports (#22653)
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Removed zip allowance
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

migration conflict
  src/olympia/reviewers/migrations/0038_auto_20240909_1647.py
Due: black, flake8

test (temp)
  src/olympia/git/management/commands/git_extraction.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Remove data_deps from docker compose (#22644)
  .dockerignore
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  deps/.keep
  docker-compose.yml
  requirements/dev.txt
  requirements/locale.txt
Due: none

import
  src/olympia/git/management/commands/git_extraction.py
Due: black, flake8

remove git_extraction.py from pr
  src/olympia/git/management/commands/git_extraction.py
Due: black, flake8

???
  src/olympia/git/management/commands/git_extraction.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

numQueries
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon: Update Croatian (hr) localization of AMO
  locale/hr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Document 'app' query parameter in ratings API (#22648)
  docs/topics/api/ratings.rst
Due: none

Remove all reference to update_deps*
  Dockerfile
  Makefile-docker
  docs/README.md
  docs/topics/development/dependency_management.md
  docs/topics/development/makefile_commands.md
  docs/topics/development/troubleshooting_and_debugging.md
  scripts/extract-l10n.sh
Due: none

l10n - add Saraiki (skr) to languages.py
  src/olympia/core/languages.py
Due: black, flake8

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

review changes
  src/olympia/activity/api_urls.py
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/urls.py
  src/olympia/activity/views.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/urls.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

lint
  src/olympia/activity/api_urls.py
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/urls.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

prettier
  static/js/zamboni/reviewers.js
Due: prettier

Update src/olympia/core/languages.py
  src/olympia/core/languages.py
Due: black, flake8

Pontoon: Update Arabic (ar) localization of AMO
  locale/ar/LC_MESSAGES/django.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

review changes
  src/olympia/activity/api_urls.py
  src/olympia/activity/urls.py
  src/olympia/api/urls.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

lol lint
  src/olympia/activity/urls.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Added view attachment link on DevHub in relation to #22640
  src/olympia/activity/serializers.py
  src/olympia/devhub/templates/devhub/versions/list.html
  static/css/zamboni/developers.css
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

lint
  src/olympia/activity/serializers.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8
