Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Indonesian (id) localization of AMO
  locale/id/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Update packaging from 18.0 to 19.0 (#10466)
  requirements/system.txt
Due: none

Call generate_jsi18n_files on `make update_assets`. (#10467)
  Makefile-docker
  circle.yml
Due: none

Update botocore from 1.12.81 to 1.12.82 (#10463)
  requirements/prod_common.txt
Due: none

Update boto3 from 1.9.81 to 1.9.82 (#10462)
  requirements/prod_common.txt
Due: none

Remove shield studies 1-16 (#10468)
  src/olympia/lib/settings_base.py
  src/olympia/pages/templates/pages/shield_study_10.html
  src/olympia/pages/templates/pages/shield_study_11.html
  src/olympia/pages/templates/pages/shield_study_12.html
  src/olympia/pages/templates/pages/shield_study_13.html
  src/olympia/pages/templates/pages/shield_study_14.html
  src/olympia/pages/templates/pages/shield_study_15.html
  src/olympia/pages/templates/pages/shield_study_16.html
  src/olympia/pages/templates/pages/shield_study_2.html
  src/olympia/pages/templates/pages/shield_study_3.html
  src/olympia/pages/templates/pages/shield_study_4.html
  src/olympia/pages/templates/pages/shield_study_5.html
  src/olympia/pages/templates/pages/shield_study_6.html
  src/olympia/pages/templates/pages/shield_study_7.html
  src/olympia/pages/templates/pages/shield_study_8.html
  src/olympia/pages/templates/pages/shield_study_9.html
  src/olympia/pages/tests.py
  src/olympia/pages/urls.py
Due: black, flake8, curlylint

Pin mysqlclient to <1.4
  requirements/prod_common.txt
Due: none

Use utf8mb4 for connections to MySQL in dev
  settings.py
  src/olympia/conf/dev/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Bump to xenial to make use of mysql 5.7 by default
  .travis.yml
Due: none

Fix flake8
  src/olympia/conf/dev/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

ratings tests python3 changes (#10459)
  .travis.yml
  src/olympia/addons/serializers.py
  src/olympia/amo/tests/__init__.py
  src/olympia/ratings/feeds.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/ratings/tests/test_views.py
  tox.ini
Due: black, flake8

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Python 3 fixes for the 'addons' job (#10461)
  .travis.yml
  src/olympia/addons/forms.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_buttons.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/addons/tests/test_decorators.py
  src/olympia/addons/tests/test_forms.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/amo/models.py
  src/olympia/amo/storage_utils.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_utils_.py
  src/olympia/amo/utils.py
  src/olympia/amo/views.py
  src/olympia/constants/categories.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
  src/olympia/reviewers/sql_model.py
  src/olympia/reviewers/tests/test_views_themes.py
  src/olympia/reviewers/utils.py
  src/olympia/search/filters.py
  src/olympia/stats/tests/test_views.py
  src/olympia/stats/views.py
  src/olympia/translations/fields.py
  src/olympia/translations/widgets.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
Due: black, flake8, curlylint

Remove potools dependency, remove debug locales from travis extraction.
  package.json
Due: none

Update botocore from 1.12.82 to 1.12.83 (#10478)
  requirements/prod_common.txt
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Remove utterly misplaced migration
  src/olympia/lib/crypto/985-add-activate-autograph-signing-waffle-switch.sql
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Update pip from 18.1 to 19.0
  requirements/system.txt
Due: none

Update django-aesfield from 2.0 to 2.2 (#10479)
  requirements/prod_common.txt
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Make sure OpenSearch validation is being called for new uploads.
  src/olympia/devhub/file_validation_annotations.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8

Add more details
  src/olympia/lib/crypto/signing.py
Due: black, flake8

Port SignatureInfo over from signing-clients as we'll be able to get rid of that dependency soon
  src/olympia/files/utils.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tests/mozilla-generated-by-openssl.pkcs7.der
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/lib/crypto/tests/webextension_signed.rsa
Due: black, flake8

Update boto3 from 1.9.82 to 1.9.83 (#10477)
  requirements/prod_common.txt
Due: none

correct the api changelog ordering to oldest first (#10486)
  docs/topics/api/overview.rst
Due: none

Python 3 fixes for the `es` job (#10483)
  .travis.yml
  conftest.py
  src/olympia/amo/tests/test_search.py
  src/olympia/legacy_api/tests/test_views.py
  src/olympia/legacy_api/views.py
  src/olympia/reviewers/tests/test_views_themes.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/search/tests/test_views.py
  src/olympia/search/views.py
  src/olympia/stats/tests/test_views.py
  src/olympia/stats/views.py
Due: black, flake8
