Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

check filesize through js
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

linting
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

Introduce the concept of soft-blocked versions, expose in the admin
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/migrations/0033_remove_block_max_version_remove_block_min_version_and_more.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

review fixes
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Mention max allowable filesize on DevHub when uploading versions/sources
  src/olympia/devhub/templates/devhub/addons/submit/source.html
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
Due: curlylint

When searching themes by color: ignore empty color parameters, ignore alpha value of hex string, throw error if otherwise unparseable
  src/olympia/search/filters.py
Due: black, flake8

lint
  src/olympia/search/filters.py
Due: black, flake8

test
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

data attr
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_views.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

extra line
  src/olympia/search/tests/test_filters.py
Due: black, flake8

clear REASONS.ABUSE_ADDON_VIOLATION if a forwarded job is combined (#22683)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Introduce the concept of soft-blocked versions, expose in the admin (#22690)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/migrations/0033_remove_block_max_version_remove_block_min_version_and_more.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

210mb error message?
  static/js/zamboni/reviewers.js
Due: prettier

test, param error
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Allow Zip Files to be Uploaded as Attachment (#22670)
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

comment
  static/js/common/upload-addon.js
Due: prettier

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Additional case handling for color parameter in search API (#22692)
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Use setCustomValidity for file uploads
  src/olympia/devhub/forms.py
  static/js/zamboni/devhub.js
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

remove hardcoded 200mb
  src/olympia/devhub/templates/devhub/addons/submit/upload.html
  src/olympia/devhub/templates/devhub/validate_addon.html
  src/olympia/devhub/views.py
  static/js/common/upload-addon.js
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

ruff format
  src/olympia/devhub/views.py
Due: black, flake8

extraneous space
  static/js/common/upload-addon.js
Due: prettier

helper function
  static/js/zamboni/devhub.js
  static/js/zamboni/global.js
  static/js/zamboni/reviewers.js
Due: prettier
