Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Sign user deleted email as Mozilla Add-ons Team
  src/olympia/users/templates/users/emails/user_deleted.ltxt
Due: none

Update installation flow for nodejs
  Dockerfile
  docker/nodesource.gpg.key
  docker/nodesource.list
Due: none

Update nodesource list & GPG key following upstream changes
  docker/nodesource.gpg.key
  docker/nodesource.list
Due: none

Update nodesource list & GPG key following upstream changes (#21770)
  docker/nodesource.gpg.key
  docker/nodesource.list
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

make CinderJob.decision_notes a 1000 max text field
  src/olympia/abuse/migrations/0023_cinderjob_decision_notes_alter_cinderjob_appeal_job_and_more.py
  src/olympia/abuse/models.py
Due: black, flake8

Sign user deleted email as Mozilla Add-ons Team (#21768)
  src/olympia/users/templates/users/emails/user_deleted.ltxt
Due: none

Queue Cinder jobs on a queue per entity type (#21764)
  settings_test.py
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Extract and push locales from CI
  .circleci/config.yml
  Makefile-docker
  scripts/extract-l10n.sh
  scripts/push_l10n_extraction.sh
Due: none

resolve_in_reviewer_tools -> resolvable_in_reviewer_tools
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
Due: black, flake8

include EW policy url as a variable in email templates
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/templates/abuse/emails/base.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_ignore.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown.txt
  src/olympia/abuse/templates/abuse/emails/reporter_ignore.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_collection.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_rating.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_user.txt
  src/olympia/abuse/utils.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Enable rejection action for unlisted approved versions
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

expose escalated jobs in reviewer tools too (#21767)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

revise emails and send specific emails for reviewer appeals (#21755)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0023_cinderjob_decision_notes_alter_cinderjob_appeal_job_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/templates/abuse/emails/CinderActionBanUser.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDeleteCollection.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionDeleteRating.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersion.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealApprove.txt
  src/olympia/abuse/templates/abuse/emails/CinderActionTargetAppealRemovalAffirmation.txt
  src/olympia/abuse/templates/abuse/emails/base.txt
  src/olympia/abuse/templates/abuse/emails/includes/policies.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_ignore.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown.txt
  src/olympia/abuse/templates/abuse/emails/reporter_ignore.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_collection.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_rating.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_user.txt
  src/olympia/abuse/tests/assets/cinder_webhook.json
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/djangojs.po
Due: none

add management command for sync suppressed emails
  src/olympia/users/management/commands/sync_suppressed_emails.py
  src/olympia/users/tasks.py
Due: black, flake8

CinderPolicy model: add parent and make uuid unique
  src/olympia/abuse/migrations/0024_cinderpolicy_parent_alter_cinderpolicy_uuid.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Add sync_cinder_policies management command + task
  src/olympia/abuse/management/commands/sync_cinder_policies.py
Due: black, flake8

Add CinderPolicy model and sync_cinder_policies management command (#21773)
  src/olympia/abuse/management/commands/sync_cinder_policies.py
  src/olympia/abuse/migrations/0024_cinderpolicy_parent_alter_cinderpolicy_uuid.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

add management command for sync suppressed emails (#21784)
  src/olympia/users/management/commands/sync_suppressed_emails.py
  src/olympia/users/tasks.py
Due: black, flake8

FIx: add missing task to sync_cinder_policies command
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update message shown when trying to appeal a decision that has already been overturned
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8, curlylint

FIx: add missing task to sync_cinder_policies command (#21787)
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

monitor for possible abuse reporting fails and email alerts
  scripts/crontab/crontab.tpl
  src/olympia/abuse/cron.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/templates/abuse/emails/cron/no_cinder_id.txt
  src/olympia/abuse/templates/abuse/emails/cron/unresolved_jobs.txt
  src/olympia/abuse/tests/test_cron.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Differentiate between appealed decision being affirmed or overturned
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8, curlylint

Update message shown when trying to appeal a decision that has already been overturned or affirmed (#21788)
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8, curlylint

Extract and push locales from CI
  .circleci/config.yml
  .gitignore
  Makefile-docker
  Makefile-os
  scripts/extract-l10n.sh
  scripts/push_l10n_extraction.sh
Due: none
