Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Only attempt slack notification in _health_check.yml workflow if it is defined (it is not defined on forks which now causes PRs to break CI)
  .github/workflows/_health_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
Due: none

Refactor documentation links and update agreement form layout
  src/olympia/devhub/templates/devhub/includes/agreement.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Update agreement form links and clean up test cases
  src/olympia/devhub/templates/devhub/includes/agreement.html
  src/olympia/devhub/tests/test_views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

cinder returns 201 for override decision (#23708)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

update CINDER_SERVER_URL to saas cinder (#23709)
  settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update .github/workflows/_health_check.yml
  .github/workflows/_health_check.yml
Due: none

Make sure _health_check.yml can run on fork PRs by only attempting a slack notification if the channel is defined. (#23716)
  .github/workflows/_health_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
Due: none

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

send enforcement action for override decisions
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Add more explicit screenshot instructions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Log name|summary changes in more detail
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/constants/activity.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
