Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Remove duplicate "down" word, add "privacy", document wordDelim as well
  src/olympia/search/indexers.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Quick update of the elasticsearch docs following recent changes
  docs/topics/development/search.rst
Due: none

filter out non-image filenames from static theme extraction
  src/olympia/constants/base.py
  src/olympia/devhub/tests/addons/static_theme_non_image.zip
  src/olympia/files/tests/test_utils_.py
  src/olympia/files/utils.py
Due: black, flake8

Update test_search_ranking now that "style" is in the decompounder dictionary
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Document dictionary_decompounder search filter, sort it, add a couple words
  src/olympia/search/indexers.py
Due: black, flake8

Update boto3 from 1.9.30 to 1.9.31 (#9800)
  requirements/prod_common.txt
Due: none

Also add 'cat' to the dictionary decompounder
  src/olympia/search/indexers.py
Due: black, flake8

Update python-dateutil from 2.7.3 to 2.7.4 (#9815)
  requirements/prod_common.txt
Due: none

Make the category's description nullable in the doc (#9819)
  docs/topics/api/categories.rst
Due: none

Pontoon: Update Indonesian (id) localization of AMO
  locale/id/LC_MESSAGES/djangojs.po
Due: none

Add a validator for the user's homepage (#9824)
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_serializers.py
Due: black, flake8

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/djangojs.po
Due: none

Accept multiple ids when searching for user
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

display addons-server thrown validation errors in theme wizard (#9822)
  static/js/zamboni/static_theme.js
Due: prettier

stop filenames with multiple dots from failing zip file validation (#9813)
  src/olympia/addons/tests/test_utils_.py
Due: black, flake8

Pontoon: Update Japanese (ja) localization of AMO
  locale/ja/LC_MESSAGES/djangojs.po
Due: none

Update boto3 from 1.9.31 to 1.9.33 (#9827)
  requirements/prod_common.txt
Due: none

Update botocore from 1.12.30 to 1.12.33 (#9828)
  requirements/prod_common.txt
Due: none

Wait until all indexing tasks are finished before switching to the new alias
  src/olympia/addons/cron.py
  src/olympia/addons/indexers.py
  src/olympia/amo/celery.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/es/management/commands/reindex.py
  src/olympia/lib/settings_base.py
  src/olympia/search/indexers.py
  src/olympia/stats/management/commands/index_stats.py
  src/olympia/stats/search.py
  src/olympia/stats/tests/test_cron.py
  src/olympia/zadmin/views.py
Due: black, flake8

Remove reindex time limits as it won't work as intended with groups
  src/olympia/lib/es/management/commands/reindex.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Remove unused import
  src/olympia/stats/management/commands/index_stats.py
Due: black, flake8

Add a new process_addons task to remove AMO links in some fields (#9820)
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_commands.py
Due: black, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Kaqchikel (cak) localization of AMO
  locale/cak/LC_MESSAGES/djangojs.po
Due: none

Update pbr from 5.0.0 to 5.1.0 (#9789)
  requirements/prod_common.txt
Due: none

Update pytz to 2018.7 (#9833)
  requirements/docs.txt
  requirements/prod_common.txt
Due: none

Update setuptools from 40.4.3 to 40.5.0 (#9826)
  requirements/system.txt
Due: none

Update pypom from 2.1.0 to 2.2.0 (#9834)
  requirements/uitests.txt
Due: none

Update python-dateutil from 2.7.4 to 2.7.5 (#9829)
  requirements/prod_common.txt
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/djangojs.po
Due: none

Prepare elasticsearch index for locale-specific exact matches
  src/olympia/addons/indexers.py
  src/olympia/amo/indexers.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/search/tests/test_views.py
Due: black, flake8

Add migration for the addons.contributions field (#9843)
  src/olympia/migrations/1052-remove-nullable-constraint-on-addon-contributions.sql
Due: none

Update addons doc to mark the `contributions` field as "string" only (#9846)
  docs/topics/api/addons.rst
Due: none

serve previous theme background image as json via devhub endpoint (#9847)
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/urls.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/files/tests/test_utils_.py
  src/olympia/files/utils.py
  static/js/zamboni/static_theme.js
Due: black, prettier, flake8
