Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

pass registry into jinja helpers, condense urls
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

condense tabnav builder
  src/olympia/reviewers/templatetags/jinja_helpers.py
Due: black, flake8

fix tabnav permission logic
  src/olympia/reviewers/templatetags/jinja_helpers.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

consolidate sparse info into table classes (#20717)
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Unused imports
  src/olympia/addons/tasks.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_tasks.py
Due: black, flake8

Add migration to rename existing config
  src/olympia/zadmin/migrations/0002_auto_20230522_0938.py
Due: black, flake8

Staggering tests
  src/olympia/versions/tests/test_utils.py
Due: black, flake8

get_config tests
  src/olympia/zadmin/tests/test_models.py
Due: black, flake8

Task tests
  src/olympia/addons/models.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_tasks.py
Due: black, flake8

Add top 10 ADU versions box
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/stats/utils.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Show submission warning banner to add-ons belonging to promoted groups
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

Only bother if we do have an add-on
  src/olympia/devhub/views.py
Due: black, flake8

Add help_text for growth_threshold_before_flagging
  src/olympia/reviewers/models.py
Due: black, flake8

Revert "Update Remote Settings URLs after GCP migration (#20642)"
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
Due: black, flake8

moved ADU block to RH sidebar; made style consistent; reviewers js now runs on documen load
  src/olympia/reviewers/templates/reviewers/review.html
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: prettier, curlylint

Revert "Update Remote Settings URLs after GCP migration (#20642)" (#20729)
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
Due: black, flake8

show version adu in review page (#20726)
  src/olympia/reviewers/templates/reviewers/addon_details_box.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/stats/utils.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Allow admins to create new NeedsHumanReview instances through the inline in Version admin
  src/olympia/constants/permissions.py
  src/olympia/versions/admin.py
  src/olympia/versions/tests/test_admin.py
Due: black, flake8

Add help text to migration
  src/olympia/reviewers/migrations/0028_usagetier.py
Due: black, flake8

Flag high hotness add-ons according to their review tier (#20664)
  src/olympia/addons/cron.py
  src/olympia/addons/models.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/constants/reviewers.py
  src/olympia/lib/settings_base.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/migrations/0028_usagetier.py
  src/olympia/reviewers/models.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/versions/utils.py
  src/olympia/zadmin/migrations/0002_auto_20230522_0938.py
  src/olympia/zadmin/models.py
  src/olympia/zadmin/tests/test_models.py
Due: black, flake8

Allow admins to create new NeedsHumanReview instances through the inline in Version admin (#20733)
  src/olympia/constants/permissions.py
  src/olympia/versions/admin.py
  src/olympia/versions/tests/test_admin.py
Due: black, flake8

Enable isort in ruff
  pyproject.toml
Due: none

Change default initial delay for staggered review due date generator to the standard review time
  src/olympia/addons/tests/test_tasks.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/versions/utils.py
Due: black, flake8

Change default initial delay for staggered review due date generator to the standard review time (#20740)
  src/olympia/addons/tests/test_tasks.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/versions/utils.py
Due: black, flake8

Show submission warning banner to add-ons belonging to promoted groups (#20727)
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

fix missing asserts in tests
  pyproject.toml
  src/olympia/abuse/tests/test_admin.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/test_models.py
  src/olympia/amo/tests/test_url_prefix.py
  src/olympia/api/tests/test_authentication.py
  src/olympia/api/tests/test_throttling.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/devhub/tests/test_file_validation_annotations.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/files/tests/test_utils.py
  src/olympia/git/tests/test_commands.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/views.py
  src/olympia/translations/tests/test_models.py
  src/olympia/users/tests/test_models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Add missing migrations
  src/olympia/activity/migrations/0024_alter_activitylog_action.py
  src/olympia/addons/migrations/0044_remove_addonreviewerflags_notified_about_auto_approval_delay_and_more.py
  src/olympia/bandwagon/migrations/0007_alter_collection_description_alter_collection_name_and_more.py
  src/olympia/blocklist/migrations/0029_alter_blocklistsubmission_delayed_until_and_more.py
  src/olympia/ratings/migrations/0008_alter_deniedratingword_options_alter_ratingflag_flag.py
  src/olympia/scanners/migrations/0052_alter_scannerqueryresult_version_and_more.py
  src/olympia/users/migrations/0011_alter_disposableemaildomainrestriction_restriction_type_and_more.py
  src/olympia/versions/migrations/0040_alter_license_name_and_more.py
Due: black, flake8

Add missing migrations (#20742)
  src/olympia/activity/migrations/0024_alter_activitylog_action.py
  src/olympia/addons/migrations/0044_remove_addonreviewerflags_notified_about_auto_approval_delay_and_more.py
  src/olympia/bandwagon/migrations/0007_alter_collection_description_alter_collection_name_and_more.py
  src/olympia/blocklist/migrations/0029_alter_blocklistsubmission_delayed_until_and_more.py
  src/olympia/ratings/migrations/0008_alter_deniedratingword_options_alter_ratingflag_flag.py
  src/olympia/scanners/migrations/0052_alter_scannerqueryresult_version_and_more.py
  src/olympia/users/migrations/0011_alter_disposableemaildomainrestriction_restriction_type_and_more.py
  src/olympia/versions/migrations/0040_alter_license_name_and_more.py
Due: black, flake8

Clarify that authentication is not mandatory in API calls
  docs/topics/api/auth.rst
Due: none

Update auth.rst
  docs/topics/api/auth.rst
Due: none

Don't flag add-ons for growth if no usage tiers are defined
  src/olympia/addons/admin.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_tasks.py
Due: black, flake8

fix broken throttling test
  src/olympia/api/tests/test_throttling.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
