Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

migrations to drop MAD related columns from the database
  src/olympia/reviewers/migrations/0047_remove_autoapprovalsummary_score.py
  src/olympia/scanners/migrations/0057_remove_scannerresult_score.py
  src/olympia/versions/migrations/0050_remove_versionreviewerflags_needs_human_review_by_mad.py
Due: black, flake8

Adds select All|None + expand/collapse to cinder jobs list on review page (#24028)
  src/olympia/reviewers/templates/reviewers/review.html
  static/js/zamboni/reviewers.js
Due: prettier, curlylint

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

send related Addon entity data with Rating report
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

explictly set zip(..., strict=True) to make ruff happy
  src/olympia/reviewers/forms.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl), Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), German (de)
  locale/de/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

fix test
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Albanian (sq)
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Fix logic now that the linter emits a warning instead of a notice
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_tasks.py
Due: black, flake8

adds a RemoveFieldInstant migration class, with schema support
  src/olympia/core/db/migrations.py
  src/olympia/core/db/mysql/base.py
Due: black, flake8

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
