Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Handle empty path
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
Due: black, flake8

change version checkboxes to make it clearer between blocking and already blocked (#20887)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  src/olympia/blocklist/tests/test_admin.py
  static/css/admin/blocklist_blocklistsubmission.css
Due: black, flake8, curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Add a command and associated task to clean up old outgoing urls (Fixes #203) (#227)
  src/olympia/conf/dev/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/lib/settings_base.py
  src/olympia/translations/management/commands/__init__.py
  src/olympia/translations/management/commands/clean_outgoing_urls.py
  src/olympia/translations/tasks.py
Due: black, flake8

Add a cron task to automatically create a new app version from product details. (Fixes #237) (#242)
  scripts/crontab/crontab.tpl
  src/olympia/amo/cron.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Crontab for add_latest_appversion should be ran under cron and not the root namespace.
  scripts/crontab/crontab.tpl
Due: none

Add {addon} to the format string of new activity logs that are show in review log
  src/olympia/constants/activity.py
Due: black, flake8

Remove add-guid-to-manifest waffle switch entirely
  src/olympia/files/migrations/0030_remove-add-guid-to-manifest-waffle-switch.py
Due: black, flake8

Store FileUpload paths as relative and not absolute (#20897)
  src/olympia/amo/cron.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/files/models.py
  src/olympia/files/tasks.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_tasks.py
  src/olympia/files/tests/test_views.py
  src/olympia/files/utils.py
  src/olympia/files/views.py
  src/olympia/scanners/tasks.py
Due: black, flake8

update hero admin page styles (#20900)
  static/css/admin/discovery.css
Due: none

Add {addon} to the format string of new activity logs that are show in review log (#20905)
  src/olympia/constants/activity.py
Due: black, flake8

Remove add-guid-to-manifest waffle switch entirely (#20906)
  src/olympia/files/migrations/0030_remove-add-guid-to-manifest-waffle-switch.py
Due: black, flake8

define if a blocklistsubmission updaates metadata
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/migrations/0032_alter_blocklistsubmission_reason_url_null_true.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_forms.py
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/blocklist/utils.py
  static/css/admin/blocklist_blocklistsubmission.css
  static/js/admin/blocklist_blocklistsubmission.js
Due: black, prettier, flake8, curlylint

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
  locale/el/LC_MESSAGES/djangojs.po
Due: none

add select all|none links for [un]block version checkboxes
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  static/js/admin/blocklist_blocklistsubmission.js
Due: prettier, curlylint

delete block button should be always available
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_models.py
Due: black, flake8

define if a blocklistsubmission updaates metadata (#20907)
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/migrations/0032_alter_blocklistsubmission_reason_url_null_true.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/templates/admin/blocklist/blocklistsubmission_add_form.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_forms.py
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/blocklist/utils.py
  static/css/admin/blocklist_blocklistsubmission.css
  static/js/admin/blocklist_blocklistsubmission.js
Due: black, prettier, flake8, curlylint

don't show delay_days control for delete blocklistsubmissions
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

refactor how we hide inputs to avoid base_fields
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/forms.py
Due: black, flake8

add select all|none links for [un]block version checkboxes (#20912)
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  static/js/admin/blocklist_blocklistsubmission.js
Due: prettier, curlylint

Add the @property decorator to `is_theme_experiment`. (Fixes #243)
  src/olympia/files/utils.py
Due: black, flake8

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Pontoon: Update Korean (ko) localization of AMO
  locale/ko/LC_MESSAGES/django.po
Due: none

fix blocklistsubmission delay_days and delayed_until fields (#20914)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

correctly preselect selected versions with block from reviewer tools
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

fix blocklistsubmission all|none links
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  static/js/admin/blocklist_blocklistsubmission.js
Due: prettier, curlylint

correctly preselect selected versions with block from reviewer tools (#20926)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

store more sensible logs for [un]blocked versions
  src/olympia/blocklist/templates/admin/blocklist/includes/logs.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
Due: black, flake8, curlylint

fix blocklistsubmission all|none links (#20929)
  src/olympia/blocklist/templates/admin/blocklist/includes/enhanced_blocks.html
  static/js/admin/blocklist_blocklistsubmission.js
Due: prettier, curlylint

delete block button should be always available (#20913)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/models.py
  src/olympia/blocklist/tests/test_models.py
Due: black, flake8

update reviewer test now less block detail is logged per version
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

add new activity classes to scanners
  src/olympia/scanners/views.py
Due: black, flake8

store more sensible logs for [un]blocked versions (#20932)
  src/olympia/blocklist/templates/admin/blocklist/includes/logs.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/views.py
Due: black, flake8, curlylint

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none
