Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Update action.yml
  .github/actions/context/action.yml
Due: none

track queue moves as a decision
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Quick dirty hack to get amo.urlresolvers.get_outgoing_url() tests working
  src/olympia/amo/tests/test_url_prefix.py
Due: black, flake8

Also don't inherit NHR itself
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Add amo.tests.populate_static_categories()
  src/olympia/amo/tests/__init__.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

devhub TestStaticThemesSumbitDetails.test_submit_categories_set() needs category='causes' instead of =320, but now it fails elsewhere
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Get devhub TestStaticThemesSumbitDetails.test_submit_categories_change() sort of working with populate_static_categories()
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Move populate_static_categories() to Category.populate_static_categories() class method
  src/olympia/addons/models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Have devhub test_views.TestUploadDetail.upload_file() use fix_webext_fixture(); partially fixes 1, breaks another, but needed
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

Oops, remove debug prints
  src/olympia/amo/tests/__init__.py
Due: black, flake8

Rework fix_webext_fixture() so it doesn't have manifest.json twice
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/utils.py
Due: black, flake8

Update action.yml (#23358)
  .github/actions/context/action.yml
Due: none

Make fix in fix_addons_linter_output() more robust
  src/olympia/devhub/utils.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Icelandic (is)
  locale/is/LC_MESSAGES/django.po
Due: none

Allow selecting "AMO_CLOSED_NO_ACTION" policies when resolving jobs in reviewer tools
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

Fix broken settings import in review_reports command
  src/olympia/reviewers/management/commands/review_reports.py
Due: black, flake8

TMP: more of things I don't udnerstand
  .github/workflows/pull_request.yml
  docs/topics/development/database.md
  docs/topics/development/index.md
  src/olympia/accounts/migrations/0002_migration_task.py
  src/olympia/amo/management/commands/run_task.py
  src/olympia/core/db/migrations.py
  src/olympia/core/management/commands/__init__.py
  src/olympia/core/management/commands/migrate_task.py
  src/olympia/core/management/commands/migrate_waffle.py
  src/olympia/core/tasks.py
  src/olympia/core/tests/snapshots/TestBaseMigrationCommand/test_adds_dependencies_from_previous_migrations.txt
  src/olympia/core/tests/snapshots/TestBaseMigrationCommand/test_adds_specified_operations.txt
  src/olympia/core/tests/snapshots/TestMigrateWaffle/test_add_waffle_switch.txt
  src/olympia/core/tests/snapshots/TestMigrateWaffle/test_delete_waffle_switch.txt
  src/olympia/core/tests/snapshots/TestMigrateWaffle/test_rename_waffle_switch.txt
  src/olympia/core/tests/test_commands.py
Due: black, flake8

Add lint rule to avoid accidentally importing `settings`
  pyproject.toml
Due: none

Fix broken settings import in review_reports command (#23371)
  pyproject.toml
  src/olympia/reviewers/management/commands/review_reports.py
Due: black, flake8

Set Strategic and Notable groups to is_public=False
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/promoted/migrations/0028_auto_20250425_1948.py
Due: black, flake8

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
  locale/pl/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
