Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Catalan (ca) localization of AMO
  locale/ca/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
  locale/th/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Record a single activity log for reviewer actions on multiple versions
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/activity/tests/test_models.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/templates/reviewers/reviewlog.html
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Store host_permissions in the webext_permissions table
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/files/fixtures/files/webextension_mv3.xpi
  src/olympia/files/migrations/0029_auto_20230301_1843.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Store host_permissions in the webext_permissions table (#20419)
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/files/fixtures/files/webextension_mv3.xpi
  src/olympia/files/migrations/0029_auto_20230301_1843.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Add a couple tests to prove grouping works
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Fix bug in locale file
  locale/ca/LC_MESSAGES/django.po
Due: none

Fix bug in locale file (#20435)
  locale/ca/LC_MESSAGES/django.po
Due: none

escape (incorrect) lang request values in the response
  src/olympia/api/fields.py
  src/olympia/api/tests/test_fields.py
Due: black, flake8

Update src/olympia/reviewers/utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Record a single activity log for reviewer actions on multiple versions (#20428)
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/activity/tests/test_models.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/templates/reviewers/reviewlog.html
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

raise validation error for a bad locale code
  docs/topics/api/overview.rst
  src/olympia/api/fields.py
  src/olympia/api/tests/test_fields.py
Due: black, flake8

different test for flat translation reponses
  src/olympia/api/tests/test_fields.py
Due: black, flake8

add add-ons without a current_version to Notable group too (#20423)
  src/olympia/constants/promoted.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Fix pt_BR locale
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Fix pt_BR locale (#20446)
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Create a task to extract host permissions
  src/olympia/files/management/commands/extract_host_permissions.py
  src/olympia/files/tasks.py
  src/olympia/files/tests/test_commands.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
