Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

upgrade Django to 3.2.6 (#17633)
  requirements/prod.txt
Due: none

update mv3 upload error; open link in new tab (#17625)
  src/olympia/devhub/utils.py
Due: black, flake8

Report a bug link at bottom of extension edit page goes to 404 error (#16884)
  src/olympia/templates/photon-footer.html
Due: curlylint

set mv3 minimum app version to 100
  src/olympia/constants/base.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Update src/olympia/constants/base.py
  src/olympia/constants/base.py
Due: black, flake8

let pyupgrade work as command line tool
  scripts/run_pyupgrade.py
Due: black, flake8

set mv3 minimum app version to 100 (#17635)
  src/olympia/constants/base.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

delete the comment as absolute_import is gone
  src/olympia/constants/activity.py
Due: black, flake8

Update Celery to 5.x (#17624)
  .github/dependabot.yml
  requirements/prod.txt
  src/olympia/lib/es/tests/test_commands.py
Due: black, flake8

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Move dependencies now needed by celery from dev.txt to prod.txt
  requirements/dev.txt
  requirements/prod.txt
Due: none

Move dependencies now needed by celery from dev.txt to prod.txt (#17640)
  requirements/dev.txt
  requirements/prod.txt
Due: none

Handle exception in process_blocklistsubmission task
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Pin click to < 8 for incompatibilities with celery 5
  .github/dependabot.yml
  requirements/prod.txt
Due: none

Pin click to < 8 for incompatibilities with celery 5 (#17643)
  .github/dependabot.yml
  requirements/prod.txt
Due: none

Updated Formatting
  src/olympia/reviewers/templates/reviewers/emails/held_for_review.ltxt
Due: none

Remove click from codestyle.txt as it's already in prod.txt now
  requirements/codestyle.txt
Due: none

Remove click from codestyle.txt as it's already in prod.txt now (#17650)
  requirements/codestyle.txt
Due: none

Update dependency clean-css to v5.1.5
  package-lock.json
  package.json
Due: none

fix api docs threshold search field list indentation
  docs/topics/api/addons.rst
Due: none

index ratings.average in addon ES search index
  src/olympia/addons/indexers.py
Due: black, flake8

implement ratings and users threshold search filters (#17602)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/indexers.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Update dependency jszip to v3.7.1
  package-lock.json
  package.json
Due: none

Incorrect extension star rating for extension (#16885)
  src/olympia/ratings/templatetags/jinja_helpers.py
  src/olympia/ratings/tests/test_helpers.py
  static/css/devhub/new-landing/base.less
  static/css/impala/ratings.less
Due: black, flake8

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO
  locale/ast/LC_MESSAGES/django.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO
  locale/ast/LC_MESSAGES/django.po
  locale/ast/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO
  locale/ast/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none
