Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

dont report abuse reports for unlisted versions to cinder
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
Due: black, flake8

fix test
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Remove caching of DeniedNames - replace with a single database query
  src/olympia/users/models.py
Due: black, flake8

Remove obsolete validator caching
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
Due: black, flake8

Remove obsolete tests
  src/olympia/devhub/tests/test_utils.py
Due: black, flake8

Remove caching of DeniedNames - replace with a single database query (#22626)
  src/olympia/users/models.py
Due: black, flake8

Use Bakefile to build image (#22611)
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  Makefile-os
  docker-bake.hcl
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Rename LATEST -> PREVIOUS
  .github/release-template.md
  .github/workflows/draft_release.yml
Due: none

is_reportable -> is_individually_actionable
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Only run verify build metadata on upstream PRs
  .github/workflows/ci.yml
Due: none

Only run verify build metadata on upstream PRs (#22633)
  .github/workflows/ci.yml
Due: none

Use default buildx builder for faster build
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .gitignore
  Makefile-os
  docker-bake.hcl
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

TMP: apply typo fix
  .github/workflows/draft_release.yml
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Update Docs
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
Due: none

Create release with template and release notes (#22622)
  .github/release-template.md
  .github/release.yml
  .github/workflows/draft_release.yml
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Remove obsolete validator caching (#22627)
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

rm AbuseReport.appellant_job (#22610)
  src/olympia/abuse/migrations/0039_auto_20240829_1154.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

Rename metadata.json
  .dockerignore
  .github/actions/build-docker/action.yml
  .gitignore
  Makefile-os
  docs/topics/development/building_and_running_services.md
Due: none

Remove uneeded build.py
  Dockerfile
  pyproject.toml
Due: none

TMP: clarify the reason for docker driver
  docs/topics/development/building_and_running_services.md
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Keep explicit builder declaration for backwards compatibility
  Makefile-os
Due: none

TMP: shorten metadata file
  .github/actions/build-docker/action.yml
  .gitignore
Due: none

Use default buildx builder for faster build (#22631)
  .dockerignore
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .gitignore
  Dockerfile
  Makefile-os
  docker-bake.hcl
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
  pyproject.toml
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
