Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Don't change this
  src/olympia/devhub/templates/devhub/versions/list.html
Due: curlylint

Adjust test with new pagination template
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

rm auth token in api response & document api auth changes (#18757)
  docs/topics/api/auth_internal.rst
  docs/topics/api/overview.rst
  src/olympia/accounts/views.py
Due: black, flake8

Attribute delayed rejection to the user who scheduled the rejection
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/migrations/0022_auto_20220203_2057.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Land migration to remove `reviewer_name` (#18709)
  src/olympia/users/migrations/0007_auto_20220125_1636.py
Due: black, flake8

correctly parse changeTime sent in fxa webhook payload
  src/olympia/accounts/tasks.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

drop useless `self.mocks['statsd.incr'].mock_calls` in tests
  src/olympia/devhub/tests/test_utils.py
Due: black, flake8

add statsd pings for various methods of addon submission (#18769)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
Due: black, flake8

correctly parse changeTime sent in fxa webhook payload (#18772)
  src/olympia/accounts/tasks.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

Address review comments
  src/olympia/versions/migrations/0023_auto_20220204_1646.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Handle trying to re-use a version number via the addon submission api
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Croatian (hr) localization of AMO
  locale/hr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Lock file maintenance
  package-lock.json
Due: none

Downgrade log statements in ActivityEmailParser for handled exceptions
  src/olympia/activity/utils.py
Due: black, flake8

Paint it black
  src/olympia/activity/utils.py
Due: black, flake8

Update dependency addons-linter to v4.9.0
  package-lock.json
  package.json
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Handle trying to re-use a version number via the addon submission api (#18774)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

enable addon submission api on prod; remove warnings in api docs (#18758)
  docs/topics/api/addons.rst
  src/olympia/conf/prod/settings.py
Due: black, flake8

Downgrade log statements in ActivityEmailParser for handled exceptions (#18780)
  src/olympia/activity/utils.py
Due: black, flake8

Move addon_listing_header() (and new_context())
  src/olympia/addons/templatetags/jinja_helpers.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/devhub/templatetags/jinja_helpers.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
Due: black, flake8

Remove devhub/base_impala.html, re-implement missing dashboard CSS as a result (#18768)
  src/olympia/addons/templatetags/jinja_helpers.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/devhub/templates/devhub/addons/dashboard.html
  src/olympia/devhub/templates/devhub/api/key.html
  src/olympia/devhub/templates/devhub/base_impala.html
  src/olympia/devhub/templates/devhub/includes/listing_header.html
  src/olympia/devhub/templatetags/jinja_helpers.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  static/css/devhub/dashboard.less
Due: black, flake8, curlylint

Update addons.rst
  docs/topics/api/addons.rst
Due: none

Leave space for the (larger) preview in DevHub > My Themes
  static/css/devhub/dashboard.less
Due: none

Fix it like that
  static/css/devhub/dashboard.less
  static/css/devhub/listing.less
Due: none

Also fix RTL display of devhub's dashboard
  static/css/devhub/dashboard.less
  static/css/devhub/listing.less
Due: none

Also fix submit button white-space to allow overflow
  static/css/devhub/dashboard.less
  static/css/restyle/restyle.less
Due: none

Attribute delayed rejection to the user who scheduled the rejection (#18771)
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/migrations/0022_auto_20220203_2057.py
  src/olympia/versions/migrations/0023_auto_20220204_1646.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Devhub dashboard: leave space for the (larger) preview in My Themes and fix RTL (#18794)
  static/css/devhub/dashboard.less
  static/css/devhub/listing.less
  static/css/restyle/restyle.less
Due: none

Also include tomli in tests.txt
  requirements/tests.txt
Due: none

reblackify this file
  src/olympia/pages/urls.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
