Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Remove extra logging when multiple user profiles are found (#18882)
  src/olympia/accounts/views.py
Due: black, flake8

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

migration to actually drop the activity_userlog table + extra non-db catchup (#18886)
  src/olympia/activity/migrations/0014_auto_20220222_1359.py
  src/olympia/users/migrations/0008_alter_emailuserrestriction_email_pattern.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Update addons-linter and Node to 4.12.0 and 12.22.10
  Dockerfile.deploy
  package.json
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Scrub sensitive data before sending to Sentry
  src/olympia/amo/fixtures/sentry_event.json
  src/olympia/amo/tests/test_settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

sets VERIFY_FXA_ACCESS_TOKEN=True on stage and prod
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
Due: black, flake8

always create activity log when source is uploaded
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

always create activity log when source is uploaded (#18892)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Clean more fields
  src/olympia/lib/settings_base.py
Due: black, flake8

Do comparisons in lower case because of headers
  src/olympia/amo/fixtures/sentry_event.json
  src/olympia/amo/tests/test_settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Scrub sensitive data before sending to Sentry (#18893)
  src/olympia/amo/fixtures/sentry_event.json
  src/olympia/amo/tests/test_settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

sets VERIFY_FXA_ACCESS_TOKEN=True on stage and prod (#18891)
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
Due: black, flake8

Updated logging level
  src/olympia/activity/tasks.py
Due: black, flake8

drop all support for internal WebTokenAuthentication
  docs/topics/api/accounts.rst
  docs/topics/api/v3_legacy/accounts.rst
  docs/topics/api/v3_legacy/auth_internal.rst
  docs/topics/api/v4_frozen/accounts.rst
  docs/topics/api/v4_frozen/auth_internal.rst
  src/olympia/abuse/tests/test_views.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_views.py
  src/olympia/api/authentication.py
  src/olympia/api/tests/test_authentication.py
  src/olympia/api/tests/test_permissions.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/files/tests/test_views.py
  src/olympia/files/views.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/scanners/tests/test_views.py
  src/olympia/scanners/views.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/tags/tests/test_views.py
  src/olympia/users/models.py
  static/js/zamboni/devhub.js
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

insert guid to manifest before signing (#18875)
  src/olympia/files/fixtures/files/webextension_browser_specific_settings.xpi
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tests/test_signing.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
