Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Add tests
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
Due: black, flake8

Insert a canned response when a reason is chosen (#19848)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8

Don't allow unreject action for blocked versions (#19873)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8, curlylint

reject an inbound email request with a large body before django throws
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/views.py
Due: black, flake8

Add new "description" field in scanner rules, use it as tooltip when displaying matching rules
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0051_auto_20221108_1701.py
  src/olympia/scanners/models.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
Due: black, flake8, curlylint

reject an inbound email request with a large body before django throws (#19879)
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/views.py
Due: black, flake8

Add human readable names & descriptions for Scanner Rules (and Query Rules) (#19874)
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0050_auto_20221107_1721.py
  src/olympia/scanners/migrations/0051_auto_20221108_1701.py
  src/olympia/scanners/models.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
Due: black, flake8, curlylint

Enhance VersionString to support full toolkit version strings (#19858)
  src/olympia/versions/compare.py
  src/olympia/versions/tests/test_compare.py
  src/olympia/versions/utils.py
Due: black, flake8

Force repack tests to each execute with their own tempfile.tempdir
  src/olympia/files/tests/test_tasks.py
Due: black, flake8

Add some comments
  src/olympia/files/tests/test_tasks.py
Due: black, flake8

sanitize sitemap parameters
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/views.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

enforce a higher than current version number for new listed versions
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/addons/static_theme.zip
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/signing/fixtures/@create-webextension-3.0.xpi
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

Force repack tests to each execute with their own tempfile.tempdir (#19886)
  src/olympia/files/tests/test_tasks.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Downgrade log in ReviewerScore.get_event()
  src/olympia/reviewers/models.py
Due: black, flake8

Downgrade log in ReviewerScore.get_event() (#19891)
  src/olympia/reviewers/models.py
Due: black, flake8

Replace <ModelAdmin>.formatted_matched_rules_with_files with callable
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

data can't be a set() at this point
  src/olympia/scanners/templatetags/scanners.py
Due: black, flake8

s/clamp_at/limit_to/
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8, curlylint

Surface some information about scanner results in reviewer tools (#19857)
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/models.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matching_files.html
  src/olympia/scanners/templatetags/__init__.py
  src/olympia/scanners/templatetags/scanners.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_templatetags.py
  static/css/restyle/restyle.less
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Add warning at submission for listed MV3 uploads
  src/olympia/devhub/file_validation_annotations.py
  src/olympia/devhub/tests/test_file_validation_annotations.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  static/css/zamboni/developers.css
  static/js/common/upload-addon.js
Due: black, prettier, flake8

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/django.po
Due: none

Update serializers.py
  src/olympia/addons/serializers.py
Due: black, flake8

use the value of `int(page)` to normalize number values
  src/olympia/amo/sitemap.py
Due: black, flake8

enforce a higher than current version number for new listed versions (#19889)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/addons/static_theme.zip
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/signing/fixtures/@create-webextension-3.0.xpi
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

replace `|` in reviewer actions lists with space padding
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Update link
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
Due: black, flake8

Add some tests
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8

Move add_manifest_version_messages() to be executed at validation time
  src/olympia/devhub/file_validation_annotations.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_file_validation_annotations.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
Due: black, flake8

Unused imports
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
Due: black, flake8

Only force greater version numbers against approved versions.
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/signing/views.py
Due: black, flake8

Remove obsolete tests
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
