Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Add utm params, slash to all source code submission links
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/source.html
Due: curlylint

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Update addons.rst
  docs/topics/api/addons.rst
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Update Recommendations API docs (#17942)
  docs/topics/api/addons.rst
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

include libgit2-dev in Dockerfile[.deploy] setup too
  Dockerfile
  Dockerfile.deploy
Due: none

drop is_webextension from api (#17947)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/discovery/tests/test_views.py
  src/olympia/landfill/management/commands/fetch_prod_addons.py
  src/olympia/landfill/management/commands/fetch_prod_versions.py
  src/olympia/lib/settings_base.py
Due: black, flake8

upgrade to python39 (#17945)
  .circleci/config.yml
  Dockerfile
  Dockerfile.deploy
  requirements/prod.txt
  src/olympia/translations/utils.py
Due: black, flake8

drop 'files' from v5 addons api endpoints
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Make the utm parameters consistent
  src/olympia/devhub/templates/devhub/addons/submit/source.html
Due: curlylint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Add utm params, slash to all source code submission links (#17949)
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/source.html
Due: curlylint

review fixes
  src/olympia/files/tests/test_views.py
  src/olympia/files/views.py
Due: black, flake8

implement fileupload api, part of new addon submisison api (#17919)
  src/olympia/addons/api_urls.py
  src/olympia/api/permissions.py
  src/olympia/api/urls.py
  src/olympia/conf/prod/settings.py
  src/olympia/files/models.py
  src/olympia/files/serializers.py
  src/olympia/files/tests/test_serializers.py
  src/olympia/files/tests/test_views.py
  src/olympia/files/views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

implement new uploads to the addon api, for listed too.
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/versions/models.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
