Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Extract app & locale info from next_path before redirecting in FxA callback
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

Update dependency clean-css to v5.2.1
  package-lock.json
  package.json
Due: none

Don't bother with the prefixer if next_path is falsy
  src/olympia/accounts/views.py
Due: black, flake8

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Update dependency clean-css-cli to v5.4.1
  package-lock.json
  package.json
Due: none

Extract app & locale info from next_path before redirecting in FxA callback (#18003)
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
Due: black, flake8

Load addons-server statics from the main domain on dev
  src/olympia/conf/dev/settings.py
Due: black, flake8

Don't forget the comma
  src/olympia/conf/dev/settings.py
Due: black, flake8

Avoid using .pop() on a tuple to disable 'addon-submission-api' gate in prod
  src/olympia/conf/prod/settings.py
Due: black, flake8

oops
  src/olympia/conf/prod/settings.py
Due: black, flake8

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Can even keep it a tuple for consistency
  src/olympia/conf/prod/settings.py
Due: black, flake8

Avoid using .pop() on a tuple to disable 'addon-submission-api' gate in prod (#18007)
  src/olympia/conf/prod/settings.py
Due: black, flake8

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Update dependency addons-linter to v3.18.0
  package-lock.json
  package.json
Due: none

Load addons-server statics from the main domain on dev (#18006)
  src/olympia/conf/dev/settings.py
Due: black, flake8

Raise an error when backslashes are found in zip filenames
  src/olympia/files/fixtures/files/archive-with-invalid-chars-in-filenames.zip
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Raise an error when backslashes are found in zip filenames (#18009)
  src/olympia/files/fixtures/files/archive-with-invalid-chars-in-filenames.zip
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
Due: black, flake8

Fix admin breakage by load server statics from the *external* site url
  src/olympia/conf/dev/settings.py
Due: black, flake8

Fix admin breakage by load server statics from the *external* site url (#18017)
  src/olympia/conf/dev/settings.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Japanese (ja) localization of AMO
  locale/ja/LC_MESSAGES/django.po
Due: none

Lock file maintenance
  package-lock.json
Due: none

Update dependency less to v4.1.2
  package-lock.json
  package.json
Due: none

Remove cssutils, move pyquery, cssselect to tests.txt
  requirements/prod.txt
  requirements/tests.txt
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Show reminder about add-on being subject to manual review for all channels
  src/olympia/devhub/templates/devhub/addons/submit/done.html
Due: curlylint

remove note about only internal authentication for addons api
  docs/topics/api/addons.rst
Due: none

Switch CircleCI to Node 14
  .circleci/config.yml
Due: none

Use latest orb, and ensure node-version is a string
  .circleci/config.yml
Due: none

Fix indent
  .circleci/config.yml
Due: none

Switch CircleCI to Node 14 (#18033)
  .circleci/config.yml
Due: none

Avoid database queries in 500 error page
  src/olympia/access/middleware.py
  src/olympia/amo/templates/amo/500.html
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/views.py
  src/olympia/core/__init__.py
  src/olympia/core/tests/test_init.py
  src/olympia/templates/base.html
Due: black, flake8, curlylint
