Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

send 400 response to Cinder for some webhook validation errors (#23175)
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
  src/olympia/conf/prod/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon/AMO: Update Slovenian (sl), Norwegian Nynorsk (nn-NO), Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
  locale/nn-NO/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW), Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Straggler query
  src/olympia/addons/serializers.py
Due: black, flake8

numqueries
  src/olympia/shelves/tests/test_views.py
Due: black, flake8

Vite config updates (#23177)
  .babelrc
  .browserslistrc
  Dockerfile
  package-lock.json
  package.json
  src/olympia/lib/settings_base.py
  vite.config.js
Due: black, prettier, flake8

all appeals back to their original queues
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

more test fixes
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

all appeals back to their original queues (#23189)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
  locale/nb_NO/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Fix test_tag_added_for_is_dynamic() by passing permissions into file_kw
  src/olympia/addons/tests/test_commands.py
Due: black, flake8

Pontoon/AMO: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Enhance health check workflows and scripts
  .github/workflows/health_check.yml
  .github/workflows/health_check_completed.yml
  scripts/health_check.py
  tests/make/test_health_check.py
Due: black, flake8
