Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Compute hotness even if previous week is 0
  src/olympia/addons/tasks.py
Due: black, flake8

Fix min/max, add tests
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
Due: black, flake8

Compute hotness even if previous week is 0 (#24246)
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
Due: black, flake8

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl), Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Japanese (ja)
  locale/ja/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Remove old Promoted group constants (#24236)
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/bandwagon/views.py
  src/olympia/constants/promoted.py
  src/olympia/hero/models.py
  src/olympia/promoted/admin.py
  src/olympia/promoted/migrations/0023_promotedgroup_alter_promotedaddon_group_id_and_more.py
  src/olympia/promoted/migrations/0026_auto_20250401_1656.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/cron.py
  src/olympia/reviewers/tests/test_cron.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/management/commands/force_max_android_compatibility.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

drop localized strings from reviewer tools
  src/olympia/addons/models.py
  src/olympia/amo/templates/amo/fake_fxa_authorization.html
  src/olympia/constants/reviewers.py
  src/olympia/core/apps.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/includes/paginator_history.html
  src/olympia/reviewers/templates/reviewers/includes/user_ratings_list.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/moderationlog_detail.html
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templates/reviewers/review.html
Due: black, flake8, curlylint

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Croatian (hr)
  locale/hr/LC_MESSAGES/django.po
Due: none

Expose the re-enabled versions for an appeal
  src/olympia/abuse/templates/abuse/emails/ContentActionTargetAppealApprove.txt
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none
