Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Remove obsolete FIXME, fix tests
  src/olympia/urls.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Update Makefile-docker
  Makefile-docker
Due: none

Allow Abuse reports to be sent against Rating (#21364)
  docs/topics/api/abuse.rst
  src/olympia/abuse/api_urls.py
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0015_remove_abusereport_just_one_of_guid_and_user_must_be_set_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_serializers.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
  src/olympia/ratings/migrations/0009_alter_deniedratingword_word.py
  src/olympia/urls.py
Due: black, flake8

Pontoon: Update Danish (da) localization of AMO
  locale/da/LC_MESSAGES/django.po
Due: none

switch from black to ruff format (#21384)
  Makefile-docker
  conftest.py
  locale/generate_category_po_files.py
  pyproject.toml
  requirements/codestyle.txt
  scripts/run_pyupgrade.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/amo/celery.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_file_validation_annotations.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/devhub/utils.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/git/utils.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_templatetags.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/signing/tests/test_views.py
  src/olympia/stats/tests/test_views.py
  src/olympia/stats/urls.py
  src/olympia/users/cron.py
Due: black, flake8

Update cinder.py
  src/olympia/abuse/cinder.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Update test_models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

remove post_save when flagging rating
  src/olympia/ratings/serializers.py
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

make admin rating page read only
  src/olympia/ratings/admin.py
  src/olympia/ratings/tests/test_admin.py
Due: black, flake8

fix codestyle errors
  src/olympia/ratings/admin.py
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

fix codestyle not fixed by --fix >:(
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
  locale/sq/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

take into account addon_version for escalations
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/models.py
Due: black, flake8

Allow reports against users with a reason
  docs/topics/api/abuse.rst
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_serializers.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

fix test
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

:grimace:
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

Allow reports against users with a reason (#21391)
  docs/topics/api/abuse.rst
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_serializers.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/views.py
Due: black, flake8

Switch to Node.js 18.x
  .circleci/config.yml
  docker/nodesource.list
  package.json
Due: none

set is_signed in tests
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

create task user
  src/olympia/abuse/tests/test_utils.py
Due: black, flake8

consume webhook decisions (#21376)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/assets/cinder_webhook.json
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/models.py
Due: black, flake8

migrate ratings activity
  src/olympia/ratings/migrations/0010_auto_20231106_1533.py
Due: black, flake8

Switch to Node.js 18.x (#21400)
  .circleci/config.yml
  docker/nodesource.list
  package.json
Due: none

add the vscode url to the review page
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
Due: curlylint

Remove edit logs for rating flags (#21389)
  src/olympia/ratings/admin.py
  src/olympia/ratings/migrations/0010_auto_20231106_1533.py
  src/olympia/ratings/serializers.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

add test for assay link
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint
