Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Remove obsolete tests
  src/olympia/devhub/tests/test_views.py
  src/olympia/pages/tests.py
Due: black, flake8

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Add logging and statsd pings for source code submission using the new API
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Move logging to view
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

improve addon api doc to detail limitations around `source`, and listed metadata
  docs/topics/api/addons.rst
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Simplify header_title
  src/olympia/templates/header_title.html
Due: curlylint

Remove unused/obsolete JavaScript
  Makefile-docker
  src/olympia/lib/settings_base.py
  src/olympia/templates/base.html
  static/js/common/banners.js
  static/js/impala/abuse.js
  static/js/impala/ajaxcache.js
  static/js/impala/carousel.js
  static/js/impala/footer.js
  static/js/impala/forms.js
  static/js/impala/formset.js
  static/js/impala/listing.js
  static/js/impala/ratings.js
  static/js/impala/search.js
  static/js/impala/serializers.js
  static/js/impala/site_suggestions.js
  static/js/impala/suggestions.js
  static/js/lib/semicolon.js
  static/js/zamboni/browser.js
  static/js/zamboni/buttons.js
  static/js/zamboni/capabilities.js
  static/js/zamboni/debouncer.js
  static/js/zamboni/global.js
  static/js/zamboni/init.js
  static/js/zamboni/themes.js
  static/js/zamboni/themes_review.js
  static/js/zamboni/users.js
Due: black, prettier, flake8, curlylint

Remove files no longer referenced
  static/js/common/ratingwidget.js
  static/js/zamboni/devhub_search.js
  static/js/zamboni/homepage.js
  static/js/zamboni/ratings.js
  static/js/zamboni/tabs.js
Due: prettier

Remove obsolete calls to removed functions
  static/js/zamboni/devhub.js
  static/js/zamboni/global.js
Due: prettier

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Remove unused/obsolete JavaScript (#18755)
  Makefile-docker
  src/olympia/lib/settings_base.py
  src/olympia/templates/base.html
  static/js/common/banners.js
  static/js/common/ratingwidget.js
  static/js/impala/abuse.js
  static/js/impala/ajaxcache.js
  static/js/impala/carousel.js
  static/js/impala/footer.js
  static/js/impala/forms.js
  static/js/impala/formset.js
  static/js/impala/listing.js
  static/js/impala/ratings.js
  static/js/impala/search.js
  static/js/impala/serializers.js
  static/js/impala/site_suggestions.js
  static/js/impala/suggestions.js
  static/js/lib/semicolon.js
  static/js/zamboni/browser.js
  static/js/zamboni/buttons.js
  static/js/zamboni/capabilities.js
  static/js/zamboni/debouncer.js
  static/js/zamboni/devhub.js
  static/js/zamboni/devhub_search.js
  static/js/zamboni/global.js
  static/js/zamboni/homepage.js
  static/js/zamboni/init.js
  static/js/zamboni/ratings.js
  static/js/zamboni/tabs.js
  static/js/zamboni/themes.js
  static/js/zamboni/themes_review.js
  static/js/zamboni/users.js
Due: black, prettier, flake8, curlylint

improve addon api doc to detail limitations around `source`, and listed metadata (#18800)
  docs/topics/api/addons.rst
Due: none

correct link to addon-create
  docs/topics/api/addons.rst
Due: none

add L10n comment for abuse report types label
  src/olympia/abuse/admin.py
Due: black, flake8

add USER_DELETED activity class
  src/olympia/accounts/tasks.py
  src/olympia/accounts/tests/test_tasks.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/constants/activity.py
Due: black, flake8

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

add L10n comment for abuse report types label (#18801)
  src/olympia/abuse/admin.py
Due: black, flake8

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

make blog post cron more efficient and check status code is 200
  src/olympia/devhub/cron.py
  src/olympia/devhub/migrations/0002_auto_20220209_1845.py
  src/olympia/devhub/models.py
  src/olympia/devhub/tests/json_feeds/blog.json
  src/olympia/devhub/tests/test_cron.py
Due: black, flake8

Clear pending_rejection_by when clearing pending_rejection via update (#18810)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

raise for broken response
  src/olympia/devhub/cron.py
  src/olympia/devhub/tests/test_cron.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Add logging and statsd pings for source code submission using the new API (#18781)
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
