Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon/AMO: Update Chinese (China) (zh-CN), Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/django.po
Due: none

tidy up and add more django admin permissions (#23942)
  src/olympia/abuse/admin.py
  src/olympia/abuse/tests/test_admin.py
  src/olympia/addons/admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/constants/permissions.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Fix versions not being flagged for review after 2nd level approval requeue (#23948)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Fix potential IntegrityError exception in EmailUserRestriction admin
  src/olympia/users/admin.py
  src/olympia/users/forms.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_forms.py
Due: black, flake8

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Unnecessary parenthesis
  src/olympia/users/forms.py
Due: black, flake8

Fix potential IntegrityError exception in EmailUserRestriction admin (#23956)
  src/olympia/users/admin.py
  src/olympia/users/forms.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_forms.py
Due: black, flake8

create missing migrations
  src/olympia/abuse/migrations/0062_rename_created_idx_abuse_reports_created_idx.py
  src/olympia/activity/migrations/0029_alter_activitylog_action.py
  src/olympia/addons/migrations/0057_alter_addon_description_and_more.py
  src/olympia/blocklist/migrations/0042_alter_blockversion_block_type.py
  src/olympia/devhub/migrations/0010_alter_surveyresponse_survey_id.py
  src/olympia/discovery/migrations/0017_discoveryaddon_discoverypromotedgroup_promotedaddon.py
  src/olympia/files/migrations/0035_remove_file_reviewed.py
  src/olympia/git/migrations/0007_delete_gitextractionentry.py
  src/olympia/hero/migrations/0022_alter_secondaryheromodule_icon.py
  src/olympia/promoted/migrations/0033_rename_promotedaddonversion_to_promotedapproval.py
  src/olympia/promoted/migrations/0034_rename_promotedaddonpromotion_to_promotedaddon.py
  src/olympia/promoted/migrations/0035_alter_promotedaddon_promoted_group.py
  src/olympia/reviewers/migrations/0046_alter_needshumanreview_reason_and_more.py
  src/olympia/shelves/migrations/0023_alter_shelf_addon_type.py
  src/olympia/translations/migrations/0003_puretranslation_purifiedmarkdowntranslation.py
  src/olympia/users/migrations/0020_rename_is_public_userprofile_has_full_profile_and_more.py
  src/olympia/versions/migrations/0048_alter_version_release_notes.py
Due: black, flake8

Merge commit from fork
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/addons/validators.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/constants/base.py
  src/olympia/devhub/forms.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/scanners/tasks.py
Due: black, flake8

Fix formatting
  src/olympia/addons/tests/test_utils_.py
Due: black, flake8

Remove dead code and strings from statistics
  static/js/stats/chart.js
  static/js/stats/csv_keys.js
  static/js/stats/manager.js
  static/js/stats/table.js
Due: prettier

rm Kevin from push hero list in draft_release.yml
  .github/workflows/draft_release.yml
Due: none

rm Kevin from push hero list in draft_release.yml (#23977)
  .github/workflows/draft_release.yml
Due: none

Fix deletion of ScannerQueryRule with a lot of results
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
