Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Only run js tests in ... run_js_tests
  Makefile-docker
Due: none

Start redis
  .github/workflows/_test_main.yml
Due: none

Rename es_tests marker
  .github/workflows/_test_main.yml
  Makefile-docker
  pyproject.toml
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_monitor.py
Due: black, flake8

Add requires_autograph marker and tests (might not be worth it)
  .github/workflows/_test_main.yml
  Makefile-docker
  pyproject.toml
  src/olympia/amo/tests/test_monitor.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Cleanup now unused import
  tests/make/test_compile_locales.py
Due: black, flake8

Exclude autograph tests
  Makefile-docker
Due: none

Might as well pull memcached separately too (and explicitly wait for redis to be healthy)
  .github/workflows/_test_main.yml
  docker-compose.ci.yml
Due: none

Started, not healthy for redis (no healthcheck)
  docker-compose.ci.yml
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Remove duplicate run_js_tests
  Makefile-docker
Due: none

Start services earlier in CI to improve speed (#24914)
  .github/workflows/_test_main.yml
  Makefile-docker
  docker-compose.ci.yml
  pyproject.toml
  settings.py
  settings_test.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/reviewers/tests/test_utils.py
  tests/make/test_compile_locales.py
Due: black, flake8

Relax throttling, fix tests
  src/olympia/api/throttling.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

Tests, more generous rate limiting still
  src/olympia/api/throttling.py
  src/olympia/devhub/tests/test_views.py
Due: black, flake8

Only hide button and captcha if not submitting form
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/api/key.html
  static/css/impala/devhub-api.less
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Missing throttling scope
  src/olympia/api/throttling.py
Due: black, flake8

Add basic AGENTS.md/CLAUDE.md files
  AGENTS.md
  CLAUDE.md
Due: none

Expose policies in devhub review history
  src/olympia/activity/serializers.py
  src/olympia/activity/tests/test_serializers.py
  src/olympia/activity/tests/test_views.py
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views_versions.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Enable policy->action selection in reviewer tools, for negative policies
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Add bulk banning functionality to the admin
  src/olympia/lib/settings_base.py
  src/olympia/users/admin.py
  src/olympia/users/forms.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/templates/admin/users/userprofile/bulk_ban.html
  src/olympia/users/templates/admin/users/userprofile/change_list_object_tools.html
  static/css/admin-user.less
  static/css/admin/users.css
Due: black, flake8, curlylint

Update src/olympia/activity/serializers.py
  src/olympia/activity/serializers.py
Due: black, flake8

Update styling of review message
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views_versions.py
  static/css/zamboni/developers.css
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Correct indentation of additional comments header
  static/css/zamboni/developers.css
Due: none

Fix various scenarios
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/api/key.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Expose policies in devhub review history (#24931)
  src/olympia/activity/serializers.py
  src/olympia/activity/tests/test_serializers.py
  src/olympia/activity/tests/test_views.py
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views_versions.py
  static/css/zamboni/developers.css
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Pontoon/AMO: Update Slovenian (sl), Portuguese (Brazil) (pt-BR), Dutch (nl), Czech (cs)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Add ability to ask for API key email confirmation to be resent (#24907)
  src/olympia/api/throttling.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/api/key.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  static/js/zamboni/devhub.js
Due: black, prettier, flake8, curlylint

Pontoon/AMO: Update Friulian (fur), Italian (it)
  locale/fur/LC_MESSAGES/django.po
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl)
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

First pass of tests/fixes
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
