Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Log request id when calling the webhook scanners
  src/olympia/scanners/management/commands/backfill_source_builder_results.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Log request id when calling the webhook scanners (#25469)
  src/olympia/scanners/management/commands/backfill_source_builder_results.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Retry scanner webhook deliveries instead of a fixed grace period (#25377)
  docker-compose.yml
  docs/topics/development/scanner_pipeline.md
  src/olympia/constants/reviewers.py
  src/olympia/constants/scanners.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/scanners/migrations/0090_create_scanner_results_missing_rule.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Add management command to re-run scanners on versions stuck (#25435)
  src/olympia/scanners/management/commands/retry_versions_waiting_on_scanners.py
  src/olympia/scanners/tests/test_commands.py
Due: black, flake8

Call all scanners in call_webhooks() (#25464)
  pyproject.toml
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Add CODEOWNERS file (#25468)
  CODEOWNERS
Due: none

tidy up weird ruff auto-fix
  src/olympia/amo/tests/test_cron.py
Due: black, flake8

drop apps from sitemap - only generate /firefox/ urls (#25470)
  src/olympia/amo/cron.py
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/sitemaps/sitemap-addons-2.xml
  src/olympia/amo/tests/sitemaps/sitemap-addons-android.xml
  src/olympia/amo/tests/sitemaps/sitemap-addons.xml
  src/olympia/amo/tests/sitemaps/sitemap.xml
  src/olympia/amo/tests/test_cron.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/views.py
Due: black, flake8

enable Persian (fa) locale for stage/prod
  src/olympia/amo/fixtures/pontoon_response_amo.json
  src/olympia/amo/fixtures/pontoon_response_amo_frontend.json
  src/olympia/core/languages.py
Due: black, flake8

enable Persian (fa) locale for stage/prod (#25477)
  src/olympia/amo/fixtures/pontoon_response_amo.json
  src/olympia/amo/fixtures/pontoon_response_amo_frontend.json
  src/olympia/core/languages.py
Due: black, flake8

Print file pk in the logs when creating a new file
  src/olympia/files/models.py
Due: black, flake8

Move CODEOWNERS to .github/
  .github/CODEOWNERS
  CODEOWNERS
Due: none

Also print the version/upload pk in the 'time for creation' log statement
  src/olympia/versions/models.py
Due: black, flake8

Move it back
  CODEOWNERS
Due: none

Remove old CODEOWNERS file in .github/ (#25479)
  .github/CODEOWNERS
Due: none

Pin our own mozilla/addons actions to a specific tag
  .github/workflows/_health_check.yml
  .github/workflows/_test_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
Due: none

Reduce session expiry time: 14 days normal users, 1 day privileged users
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/settings_base.py
  src/olympia/users/tests/test_views.py
Due: black, flake8

Fix intermittent test failure
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

feat: use tanstack query as better api method
  src/pinguino/devhub/.env.example
  src/pinguino/devhub/README.md
  src/pinguino/devhub/biome.json
  src/pinguino/devhub/package-lock.json
  src/pinguino/devhub/package.json
  src/pinguino/devhub/src/components/addon-card.ts
  src/pinguino/devhub/src/data/api.ts
  src/pinguino/devhub/src/data/devtools.ts
  src/pinguino/devhub/src/data/http.ts
  src/pinguino/devhub/src/data/index.ts
  src/pinguino/devhub/src/data/mock.ts
  src/pinguino/devhub/src/data/queries.ts
  src/pinguino/devhub/src/data/query-client.ts
  src/pinguino/devhub/src/data/types.ts
  src/pinguino/devhub/src/env.d.ts
  src/pinguino/devhub/src/foundations/illustrations/kit-meditate-clouds.svg
  src/pinguino/devhub/src/main.ts
  src/pinguino/devhub/src/pages/devhub-addon.ts
  src/pinguino/devhub/src/pages/devhub-home.ts
Due: none

chore: tidy directory rename issue after merge
  src/pinguino/.gitignore
  src/pinguino/.npmrc
  src/pinguino/README.md
  src/pinguino/biome.json
  src/pinguino/index.html
  src/pinguino/package-lock.json
  src/pinguino/package.json
  src/pinguino/src/app.css
  src/pinguino/src/devhub/devhub-addon.ts
  src/pinguino/src/devhub/devhub-home.ts
  src/pinguino/src/foundations/README.md
  src/pinguino/src/foundations/acorn.ts
  src/pinguino/src/foundations/layout/app-container.ts
  src/pinguino/src/foundations/layout/app-grid.ts
  src/pinguino/src/foundations/layout/app-stack.ts
  src/pinguino/src/foundations/layout/index.ts
  src/pinguino/src/main.ts
  src/pinguino/tsconfig.json
  src/pinguino/vite.config.ts
Due: curlylint

Reduce session expiry time: 14 days normal users, 1 day privileged users (#25485)
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/settings_base.py
  src/olympia/users/tests/test_views.py
Due: black, flake8

Fix intermittent test failure (#25487)
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Change restriction type for DISABLE_AND_BLOCK (#25449)
  src/olympia/scanners/actions.py
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Hold restrictions set by scanners for disable&block until the decision is executed
  src/olympia/abuse/actions.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/utils.py
  src/olympia/scanners/actions.py
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Pin our own mozilla/addons actions to a specific tag (#25480)
  .github/workflows/_health_check.yml
  .github/workflows/_test_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
Due: none

Import order
  src/olympia/abuse/actions.py
Due: black, flake8

feat: use illustration from component library
  src/pinguino/devhub/package-lock.json
  src/pinguino/devhub/package.json
  src/pinguino/devhub/src/foundations/illustrations/kit-meditate-clouds.svg
  src/pinguino/devhub/src/pages/devhub-home.ts
Due: none

fix knip config
  knip.ts
Due: none

add css to differentiate messagelist.info from messagelist.success
  static/css/admin/amoadmin.css
Due: none

Show link to the service account sheet on ScannerWebhook creation (#25453)
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
  static/css/admin/amoadmin.css
Due: black, flake8

Print file/version/upload PKs in the logs when creating a new file (#25478)
  src/olympia/files/models.py
  src/olympia/versions/models.py
Due: black, flake8

Extract is_waiting_on_scanner_webhook_events()
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
Due: black, flake8

docs: add a note about re-saving scanner webhooks
  docs/topics/development/scanner_pipeline.md
Due: none

Extract is_waiting_on_scanner_webhook_events() (#25489)
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
Due: black, flake8

Pass the events to wait for to wait_for_scanner_results
  src/olympia/scanners/management/commands/retry_versions_waiting_on_scanners.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_commands.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

docs: document the 'disable-check-is-waiting-on-scanners' waffle switch
  docs/topics/development/scanner_pipeline.md
Due: none

Remove unused run_scanner() function
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

docs: add some things worth knowing about the scanner pipeline (#25502)
  docs/topics/development/scanner_pipeline.md
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
