Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

fix 2nd leval template layout for private_notes from Cinder
  src/olympia/reviewers/templates/reviewers/decision_review.html
Due: curlylint

fix tests
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

fix 2nd level template layout for private_notes from Cinder (#23666)
  src/olympia/reviewers/templates/reviewers/decision_review.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Enable swagger on stage/prod
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
Due: black, flake8

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Compare correct data type for notify value on _health_check.yml workflow
  .github/workflows/_health_check.yml
Due: none

Compare correct data type for notify value on _health_check.yml workflow (#23674)
  .github/workflows/_health_check.yml
Due: none

Make enable/disable auto-approval an action in review page (#23651)
  src/olympia/constants/activity.py
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/templates/reviewers/includes/history.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_review_scenarios.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Allow health_check to retrigger on failure with correct permissions
  .github/workflows/health_check.yml
Due: none

Allow health_check to retrigger on failure with correct permissions (#23680)
  .github/workflows/health_check.yml
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hebrew (he)
  locale/he/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Remove reference to amo-admins in force-disabled tooltip
  src/olympia/devhub/templates/devhub/includes/addon_details.html
Due: curlylint

Remove email reply for account deletion notification emails
  src/olympia/users/models.py
  src/olympia/users/templates/users/emails/user_deleted.ltxt
Due: black, flake8

Fix test
  src/olympia/users/tests/test_models.py
Due: black, flake8

Remove reference to amo-admins in force-disabled tooltip (#23686)
  src/olympia/devhub/templates/devhub/includes/addon_details.html
Due: curlylint

Remove email reply for account deletion notification emails (#23687)
  src/olympia/users/models.py
  src/olympia/users/templates/users/emails/user_deleted.ltxt
  src/olympia/users/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update 5 localizations
  locale/cs/LC_MESSAGES/django.po
  locale/nb_NO/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr), Hungarian (hu)
  locale/fr/LC_MESSAGES/django.po
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Interlingua (ia), German (de), Sorbian, Lower (dsb)
  locale/de/LC_MESSAGES/django.po
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none
