Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Run watchmedo through supervisor in local envs instead of through uwsgi
  docker/supervisor.conf
  docker/uwsgi.ini
Due: none

add reload file to git, run on with /code/
  docker/artifacts/uwsgi-reload-monitor
  docker/supervisor.conf
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Watch /code/src for both celery and uwsgi
  docker/supervisor-celery.conf
  docker/supervisor.conf
Due: none

Keep safe-pidfile
  docker/uwsgi.ini
Due: none

Run watchmedo through supervisor in local envs instead of through uwsgi (#19513)
  docker/artifacts/uwsgi-reload-monitor
  docker/supervisor-celery.conf
  docker/supervisor.conf
  docker/uwsgi.ini
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Use get_review_status_display on File&Version directly instead of jinja utils (#19502)
  src/olympia/reviewers/templates/reviewers/includes/files_view.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
Due: black, flake8, curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Add permission to bypass all throttles, give it to relevant groups, enable throttling on dev (#19508)
  src/olympia/access/migrations/0002_give_api_bypass_throttling_permission.py
  src/olympia/api/tests/test_throttling.py
  src/olympia/api/throttling.py
  src/olympia/conf/dev/settings.py
  src/olympia/constants/permissions.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/ratings/views.py
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

refactor indexing/unindexing addons & test unindexing
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/lib/settings_base.py
  src/olympia/search/tests/test_utils.py
  src/olympia/search/utils.py
Due: black, flake8

codestyle fix
  src/olympia/search/tests/test_utils.py
Due: black, flake8

" to '
  src/olympia/search/tests/test_utils.py
Due: black, flake8

Stop indexing non public addons in ES (#19506)
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/settings_base.py
  src/olympia/search/tests/test_utils.py
  src/olympia/search/utils.py
Due: black, flake8

tighten pending_rejection constraint so either all null or all non-null
  src/olympia/versions/migrations/0027_auto_20220729_0932.py
  src/olympia/versions/models.py
Due: black, flake8

fix test creation
  src/olympia/amo/tests/__init__.py
Due: black, flake8

rm user_media_url jinja_helper
  src/olympia/addons/models.py
  src/olympia/amo/models.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/users/models.py
Due: black, flake8

more test fixes
  src/olympia/scanners/tests/test_actions.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

codestyle fix
  src/olympia/scanners/tests/test_actions.py
Due: black, flake8

Pontoon: Update Croatian (hr) localization of AMO
  locale/hr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

rm user_media_path
  src/olympia/accounts/serializers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/models.py
  src/olympia/amo/monitors.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/tests/test_storage_utils.py
  src/olympia/amo/utils.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/files/models.py
  src/olympia/hero/models.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_models.py
  src/olympia/users/tests/test_tasks.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
Due: black, flake8

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Korean (ko) localization of AMO
  locale/ko/LC_MESSAGES/django.po
Due: none

tighten pending_rejection constraint so either all null or all non-null (#19515)
  src/olympia/amo/tests/__init__.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/versions/migrations/0027_auto_20220729_0932.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

rm user_media_url and user_media_path jinja helpers (#19519)
  src/olympia/accounts/serializers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/models.py
  src/olympia/amo/monitors.py
  src/olympia/amo/templatetags/jinja_helpers.py
  src/olympia/amo/tests/test_helpers.py
  src/olympia/amo/tests/test_storage_utils.py
  src/olympia/amo/utils.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/files/models.py
  src/olympia/hero/models.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_models.py
  src/olympia/users/tests/test_tasks.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
Due: black, flake8

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

File.filename -> File.file.name; File.file_path -> File.file.path
  src/olympia/addons/indexers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/devhub/utils.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/git/utils.py
  src/olympia/landfill/management/commands/fetch_prod_versions.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/scanners/tasks.py
  src/olympia/signing/tests/test_views.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
  src/olympia/zadmin/views.py
Due: black, flake8

drop AbuseReport.addon; add constraint so one of guid and user must be set.
  src/olympia/abuse/migrations/0007_auto_20220803_0948.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

re-formating
  src/olympia/activity/tests/test_models.py
  src/olympia/activity/tests/test_utils.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_update.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/validators.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_serializers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/users/tests/test_admin.py
  src/olympia/versions/models.py
Due: black, flake8

replace FileUpload.automated_signing with channel
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_validation.py
  src/olympia/files/migrations/0023_auto_20220803_1240.py
  src/olympia/files/models.py
  src/olympia/files/serializers.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_serializers.py
  src/olympia/files/tests/test_views.py
  src/olympia/reviewers/models.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/signing/serializers.py
  src/olympia/signing/tests/test_views.py
  src/olympia/users/tests/test_models.py
  src/olympia/versions/models.py
Due: black, flake8

upgrade pycodestyle to 2.9.0
  requirements/codestyle.txt
Due: none

drop AbuseReport.addon; add constraint so one of guid and user must be set. (#19531)
  src/olympia/abuse/migrations/0007_auto_20220803_0948.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/djangojs.po
Due: none
