Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Make double-escaping tests for _TransWidget more robust
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/translations/tests/test_widgets.py
Due: black, flake8

Remove obsolete imports
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

Make double-escaping tests for _TransWidget more robust (#20182)
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/translations/tests/test_widgets.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Only use three digits for the major version when a `*` is found. (#213)
  src/olympia/versions/compare.py
Due: black, flake8

Update addons linter to 5.25.0 and node to 14.21 (#212)
  Dockerfile
  Dockerfile.deploy
  package.json
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/addons/valid_webextension_with_good_version_string.xpi
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/utils.py
  src/olympia/files/utils.py
Due: black, flake8

#187 - Implement mozAddonManager for in-app installs. (#214)
  static/js/zamboni/buttons.js
Due: prettier

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Only set due date for versions that will be manually reviewed
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

support AddonReviewerFlags.auto_approval_delayed_until too
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

stop giving unlisted versions of a promoted addon a due_date
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

fix test for promoted signal
  src/olympia/promoted/tests/test_models.py
Due: black, flake8

rm reviewer scoring
  src/olympia/amo/tests/test_amo_utils.py
  src/olympia/amo/utils.py
  src/olympia/constants/reviewers.py
  src/olympia/ratings/models.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/includes/reviewers_score_bar.html
  src/olympia/reviewers/templates/reviewers/leaderboard.html
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8, curlylint

clarify Addon.update_all_due_dates; VersionManager.should_have_due_date; add comment strings.
  src/olympia/addons/models.py
  src/olympia/versions/models.py
Due: black, flake8

Only set due date for versions that will be manually reviewed (#20184)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

correctly show due_date for unlisted versions awaiting manual review
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/utils.py
Due: black, flake8

filter out theme reviews from weekly report
  src/olympia/reviewers/management/commands/review_reports_sql/addon/risk.sql
  src/olympia/reviewers/management/commands/review_reports_sql/addon/weekly.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/weekly.sql
  src/olympia/reviewers/tests/test_review_reports.py
Due: black, flake8

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Add logging to FxA notification endpoint
  src/olympia/accounts/views.py
Due: black, flake8

rm reviewer scoring (#20195)
  src/olympia/amo/tests/test_amo_utils.py
  src/olympia/amo/utils.py
  src/olympia/constants/reviewers.py
  src/olympia/ratings/models.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/includes/reviewers_score_bar.html
  src/olympia/reviewers/templates/reviewers/leaderboard.html
  src/olympia/reviewers/templates/reviewers/queue.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8, curlylint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Revert "Bump wcwidth from 0.2.5 to 0.2.6 in /requirements (#20191)"
  requirements/prod.txt
  requirements/tests.txt
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
