Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Update reviewers.js
  static/js/zamboni/reviewers.js
Due: prettier

Change public references to Firefox Accounts to just account. (Fixes #248)
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/views.py
  src/olympia/users/forms.py
  src/olympia/users/templates/users/edit.html
  src/olympia/users/templates/users/fxa_login_prompt_content.html
  src/olympia/users/templates/users/login.html
  src/olympia/users/views.py
Due: black, flake8, curlylint

FIx linting
  static/js/zamboni/reviewers.js
Due: prettier

Restore sidebar sticky functionality
  static/css/common/footer.less
  static/css/restyle/restyle.less
  static/css/zamboni/reviewers.less
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Arabic (ar) localization of AMO
  locale/ar/LC_MESSAGES/django.po
  locale/ar/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
  locale/fur/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Upgrade node to v16, and upgrade addons-linter to v6.15.0. (Fixes #249)
  Dockerfile
  Dockerfile.deploy
  package.json
Due: none

Revert locale/compile-mo.sh changes.
  locale/compile-mo.sh
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/djangojs.po
Due: none

add/change abuse report reason for current dsa proposal
  src/olympia/abuse/migrations/0013_alter_abusereport_reason.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
