Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Switch to Python 3.12 (#22880)
  Dockerfile
Due: none

Some testing
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

WIP
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Record review queue history: when a version enters the queue, when they leave it
  src/olympia/activity/migrations/0027_alter_activitylog_action.py
  src/olympia/activity/utils.py
  src/olympia/addons/models.py
  src/olympia/devhub/views.py
  src/olympia/reviewers/migrations/0027_backfill_needshumanreview.py
  src/olympia/reviewers/migrations/0041_reviewqueuehistory.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
Due: black, flake8

Don't need that anymore
  src/olympia/activity/migrations/0027_alter_activitylog_action.py
  src/olympia/reviewers/migrations/0041_reviewqueuehistory.py
Due: black, flake8

I think that's it
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

More testing
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Adding more entries
  src/olympia/reviewers/tests/test_utils.py
Due: black, flake8

Fix test
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/versions/models.py
Due: black, flake8

Allow reviewers to reply to blocked versions
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

send owner email for override of takedown -> ignore (#22944)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/constants/abuse.py
Due: black, flake8

Allow reviewers to reply to blocked versions (#22952)
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Use monitors for health check instead of custom script:
  .github/actions/run-docker/action.yml
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/uwsgi.ini
  scripts/healthcheck.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/management/commands/monitors.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Use monitors for health check instead of custom script: (#22951)
  .github/actions/run-docker/action.yml
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docker/uwsgi.ini
  scripts/healthcheck.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/management/commands/monitors.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Fix the mounts....
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  docker-compose.ci.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
  scripts/setup.py
  settings.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/lib/settings_base.py
  storage/.gitignore
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Fix the mounts.... (#22929)
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  docker-compose.ci.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/topics/development/building_and_running_services.md
  docs/topics/development/setup_and_configuration.md
  scripts/setup.py
  settings.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/lib/settings_base.py
  storage/.gitignore
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Test checkout remote
  .dockerignore
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  deps/.gitkeep
  docker-compose.yml
  scripts/install_deps.py
  scripts/setup.py
  settings.py
  tests/__init__.py
  tests/make/test_install_deps.py
  tests/make/test_setup.py
Due: black, flake8

Fix broken checks
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
Due: black, flake8

Fix broken checks
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/_test_check.yml
  .github/workflows/ci.yml
  Dockerfile
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
Due: black, flake8

Split CI dependencies and add ./deps:/deps mount. (#22934)
  .dockerignore
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_check.yml
  .github/workflows/_test_main.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile-docker
  Makefile-os
  deps/.gitkeep
  docker-compose.yml
  scripts/install_deps.py
  scripts/setup.py
  settings.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
  tests/__init__.py
  tests/make/test_install_deps.py
  tests/make/test_setup.py
Due: black, flake8

Add the CI tests and watch it burn
  .github/actions/run-docker/action.yml
  Makefile-docker
  Makefile-os
  docker-compose.yml
  docs/topics/development/data_management.md
  scripts/setup.py
  src/olympia/core/apps.py
  tests/make/test_setup.py
Due: black, flake8

Update docs after the recent changes to make up flow
  docs/topics/development/setup_and_configuration.md
Due: none

lint
  src/olympia/abuse/actions.py
Due: black, flake8

tests
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/reviewers/cron.py
Due: black, flake8

add shim for api v3/v4
  src/olympia/addons/serializers.py
  src/olympia/lib/settings_base.py
Due: black, flake8

whoops
  src/olympia/addons/serializers.py
Due: black, flake8

tests
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
Due: black, flake8

Move /deps/node_modules to /data/olympia/node_modules
  Dockerfile
  Makefile-docker
  docs/topics/development/dependency_management.md
  scripts/install_deps.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Remove django_node_assets
  requirements/prod.txt
  src/olympia/lib/settings_base.py
Due: black, flake8

TMP: fix node_modules missing
  scripts/install_deps.py
Due: black, flake8

Vite building
  docker-compose.yml
  docker/nginx/addons.conf
  package.json
  requirements/prod.txt
  src/olympia/devhub/templates/devhub/index.html
  src/olympia/lib/settings_base.py
  static/css/index.css
  static/css/index.css.js
  static/js/blue.css
  static/js/blue.js
  static/js/common/index.js
  static/js/index.js
  vite.config.js
Due: black, prettier, flake8, curlylint

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Support Markdown in Add-on Listing Fields
  requirements/prod.txt
  src/olympia/addons/models.py
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/edit/technical.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/devhub/templates/devhub/includes/policy_form.html
  src/olympia/translations/fields.py
  src/olympia/translations/models.py
Due: black, flake8, curlylint

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none
