Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

drop breakdown.sql; combine toal into weekly; remove >= 5|10 limit
  src/olympia/reviewers/management/commands/review_reports.py
  src/olympia/reviewers/management/commands/review_reports_sql/addon/breakdown.sql
  src/olympia/reviewers/management/commands/review_reports_sql/addon/weekly.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/breakdown.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/weekly.sql
  src/olympia/reviewers/tests/test_review_reports.py
Due: black, flake8

format All Reviewers row as footer
  src/olympia/reviewers/management/commands/review_reports.py
  src/olympia/reviewers/tests/test_review_reports.py
Due: black, flake8

Refactor IP address search to make it available to other admin tools
  src/olympia/abuse/admin.py
  src/olympia/addons/admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/amo/admin.py
  src/olympia/constants/activity.py
  src/olympia/scanners/admin.py
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
  static/css/admin/amoadmin.css
  static/css/admin/userprofile.css
  static/js/admin/ip_address_search.js
Due: black, prettier, flake8

rewrite review reports to use ActivityLog records (#20060)
  src/olympia/reviewers/management/commands/review_reports.py
  src/olympia/reviewers/management/commands/review_reports_sql/addon/breakdown.sql
  src/olympia/reviewers/management/commands/review_reports_sql/addon/quarterly.sql
  src/olympia/reviewers/management/commands/review_reports_sql/addon/risk.sql
  src/olympia/reviewers/management/commands/review_reports_sql/addon/weekly.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/breakdown.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/quarterly.sql
  src/olympia/reviewers/management/commands/review_reports_sql/content/weekly.sql
  src/olympia/reviewers/tests/test_review_reports.py
Due: black, flake8

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

add the ability to delete versions via the API
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO
  locale/sq/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

add extra tests
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

fix test with JWT auth
  src/olympia/addons/tests/test_views.py
Due: black, flake8

fix undefined sorting in test
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Refactor IP address search to make it available to other admin tools (#20141)
  src/olympia/abuse/admin.py
  src/olympia/addons/admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/amo/admin.py
  src/olympia/constants/activity.py
  src/olympia/scanners/admin.py
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
  static/css/admin/amoadmin.css
  static/css/admin/userprofile.css
  static/js/admin/ip_address_search.js
Due: black, prettier, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Re-use base js from AMOModelAdmin
  src/olympia/addons/admin.py
Due: black, flake8

Fix created filter when multiple values are selected in another filter (like addons)
  src/olympia/amo/admin.py
  src/olympia/amo/templates/admin/amo/date_range_filter.html
Due: black, flake8, curlylint
