Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Update addons.rst
  docs/topics/api/addons.rst
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Show maliciousness score in reviewer tools manual queue (#20221)
  src/olympia/addons/models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Update addons.rst (#20223)
  docs/topics/api/addons.rst
Due: none

Increase retention for activity logs that we don't keep forever
  src/olympia/amo/cron.py
  src/olympia/amo/tests/test_cron.py
Due: black, flake8

Automatically reset due date for listed versions of incomplete/disabled by user add-ons
  src/olympia/addons/models.py
  src/olympia/devhub/views.py
  src/olympia/versions/models.py
Due: black, flake8

Allow setting the status of add-ons disabled by user
  src/olympia/addons/models.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/versions/models.py
Due: black, flake8

Update test
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Refactor to constant
  src/olympia/amo/cron.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/constants/activity.py
Due: black, flake8

Make ActivityLog admin pages more useful
  src/olympia/activity/admin.py
  src/olympia/activity/models.py
  src/olympia/ratings/admin.py
  src/olympia/zadmin/admin.py
Due: black, flake8

Reformat
  src/olympia/amo/tests/test_cron.py
Due: black, flake8

Add test
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Increase retention for activity logs that we don't keep forever (#20229)
  src/olympia/amo/cron.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/constants/activity.py
Due: black, flake8

Automatically reset due date for listed versions of incomplete/disabled by user add-ons (#20240)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Remove auto approved and unlisted "queues"
  src/olympia/addons/models.py
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

Update imports
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

Remove obsolete decorator
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/views.py
Due: black, flake8

Test updates
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Add links and more useful information to inline files in addon admin
  src/olympia/addons/admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/zadmin/admin.py
Due: black, flake8

Make IPLog unique per activity, show it in activity log admin
  src/olympia/activity/admin.py
  src/olympia/activity/migrations/0021_alter_iplog_activity_log.py
  src/olympia/activity/models.py
Due: black, flake8

Allow sorting by IP addresses in the admin
  src/olympia/amo/admin.py
Due: black, flake8

Remove recalc_hash
  src/olympia/addons/admin.py
  src/olympia/zadmin/tests/test_views.py
  src/olympia/zadmin/urls.py
  src/olympia/zadmin/views.py
  static/js/admin/recalc_hash.js
Due: black, prettier, flake8

Typo
  src/olympia/zadmin/tests/test_views.py
Due: black, flake8

Add links and more useful information to inline files in addon admin (#20244)
  src/olympia/addons/admin.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/zadmin/admin.py
  src/olympia/zadmin/tests/test_views.py
  src/olympia/zadmin/urls.py
  src/olympia/zadmin/views.py
  static/js/admin/recalc_hash.js
Due: black, prettier, flake8

Replace old usage of iplog_set now that it's a onetoonefield
  src/olympia/addons/tests/test_utils_.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

manually set due_date and needs_human_review
  src/olympia/addons/models.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  static/js/zamboni/reviewers.js
Due: black, prettier, flake8, curlylint

Avoid expensive annotations in admin where possible
  src/olympia/addons/admin.py
  src/olympia/amo/admin.py
  src/olympia/amo/models.py
Due: black, flake8

Fixes
  src/olympia/amo/admin.py
  src/olympia/amo/models.py
  src/olympia/promoted/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Add test
  src/olympia/ratings/tests/test_admin.py
Due: black, flake8

Avoid a few useless queries
  src/olympia/activity/models.py
Due: black, flake8

Add kept forever column, prettify title
  src/olympia/activity/admin.py
Due: black, flake8
