Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Replace post-request-task with transaction.on_commit on every delay/apply_async (#22377)
  requirements/prod.txt
  settings_test.py
  src/olympia/amo/celery.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_celery.py
  src/olympia/amo/utils.py
  src/olympia/core/apps.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/zadmin/management/commands/generate_error.py
Due: black, flake8

Update email template for reviewer activity
  src/olympia/activity/templates/activity/emails/from_reviewer.txt
Due: none

This is me having no idea what I'm doing.
  src/olympia/lib/crypto/signing.py
Due: black, flake8

Add some docstrings and stop creating new NHR for reports attached to an appeal job
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
Due: black, flake8

Login to GAR
  .github/workflows/ci.yml
Due: none

Update email template for reviewer activity (#22407)
  src/olympia/activity/templates/activity/emails/from_reviewer.txt
Due: none

Bump min fx version
  src/olympia/constants/base.py
Due: black, flake8

TMP: add comment
  src/olympia/lib/crypto/signing.py
Due: black, flake8

Bump pkcs7_digest to sha256
  src/olympia/lib/crypto/signing.py
Due: black, flake8

Remove pull_request event from CI
  .github/workflows/ci.yml
Due: none

Fix storage volume config for the nginx service
  conftest.py
  docker-compose.yml
  docker/nginx/addons.conf
Due: black, flake8

Cleaner build logs
  Dockerfile
Due: none

Remove personas from profile (#296)
  src/olympia/addons/templates/addons/persona_preview.html
  src/olympia/addons/templatetags/jinja_helpers.py
  src/olympia/users/templates/users/profile.html
Due: black, flake8, curlylint

Remove the entire persona_preview, and stub out the render function. (#297)
  src/olympia/addons/templates/addons/persona_preview.html
  src/olympia/addons/templatetags/jinja_helpers.py
  src/olympia/addons/views.py
  src/olympia/amo/templates/amo/410.html
Due: black, flake8, curlylint

Cleaner build logs (#22413)
  Dockerfile
Due: none

Login to GAR (#22405)
  .github/workflows/ci.yml
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump minimum version to 58, removing redundant min versions
  docs/topics/development/testing.md
  docs/topics/development/testing.rst
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/utils.py
  src/olympia/files/fixtures/files/webextension_with_apps_targets.xpi
  src/olympia/files/tests/test_commands.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/landfill/tests/test_serializers.py
  src/olympia/lib/crypto/signing.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

TMP: remove print
  src/olympia/devhub/utils.py
Due: black, flake8

Update src/olympia/constants/base.py
  src/olympia/constants/base.py
Due: black, flake8

TMP: remove unecessary app versions
  src/olympia/devhub/tests/test_tasks.py
Due: black, flake8

TMP: better assertion
  src/olympia/files/tests/test_utils.py
Due: black, flake8

TMP: remove unecessary tests
  src/olympia/files/tests/test_utils.py
Due: black, flake8

TMP: use msg format for string extraction
  src/olympia/files/utils.py
Due: black, flake8

TMP: update comment
  src/olympia/lib/crypto/signing.py
Due: black, flake8

TMP: Rvert markdown conversion
  docs/topics/development/testing.md
  docs/topics/development/testing.rst
Due: none

TMP: get or create voer versions
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/files/tests/test_commands.py
  src/olympia/files/tests/test_models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

TMP: use error logger for error logging
  src/olympia/devhub/utils.py
Due: black, flake8

Update PULL_REQUEST_TEMPLATE.md (#22415)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

TMP: reformatting
  src/olympia/addons/tests/test_models.py
  src/olympia/files/tests/test_commands.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/utils.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Update docs/topics/development/testing.rst
  docs/topics/development/testing.rst
Due: none

don't localise hidden activity log format labels
  src/olympia/constants/activity.py
Due: black, flake8

Update src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/signing.py
Due: black, flake8

Update src/olympia/files/utils.py
  src/olympia/files/utils.py
Due: black, flake8

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
