Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

More missing deps
  requirements/dev.txt
Due: none

Update expected images
  src/olympia/amo/tests/images/transparent-expected.jpg
  src/olympia/versions/tests/static_themes/weta_theme_amo.jpg
Due: none

Add stack-data to dev.txt (ipython requirement) (#18680)
  requirements/dev.txt
Due: none

use modern syntax in gen-cron.py; format consistently (#18667)
  scripts/crontab/gen-cron.py
  src/olympia/amo/tests/test_cron.py
Due: black, flake8

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Be bold and simplify
  src/olympia/wsgi.py
Due: black, flake8

Remove unused view
  src/olympia/amo/urls.py
  src/olympia/amo/views.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Clean up wsgi.py (#18621)
  src/olympia/amo/urls.py
  src/olympia/amo/views.py
  src/olympia/wsgi.py
Due: black, flake8

Always pass user and ip address from upload to Addon/Version creation
  src/olympia/addons/models.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/views.py
  src/olympia/files/migrations/0019_alter_fileupload_user.py
  src/olympia/files/migrations/0020_auto_20220124_1457.py
  src/olympia/files/models.py
  src/olympia/versions/models.py
Due: black, flake8

Check DeniedInstallOrigin against hostname and not netloc (#18665)
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Update dependency addons-linter to v4.7.0
  package-lock.json
  package.json
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Return ERROR_AUTHENTICATION_EXPIRED for SessionIDAuthentication problems
  src/olympia/api/authentication.py
  src/olympia/api/tests/test_authentication.py
Due: black, flake8

Address review comments
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_models.py
  src/olympia/constants/activity.py
  src/olympia/devhub/templates/devhub/addons/activity.html
  src/olympia/devhub/templates/devhub/addons/dashboard.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/users/models.py
Due: black, flake8, curlylint

Hunting down broken tests following stricter params checking
  src/olympia/addons/utils.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/views.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/views.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/users/tests/test_models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

function now unused
  src/olympia/versions/models.py
Due: black, flake8

A few more test fixes
  src/olympia/files/tests/test_models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Fix Version.from_upload() (it's impossible for upload.user to equal None now)
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Make changes for VersionReviewNotesViewSet
  src/olympia/activity/models.py
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/views.py
Due: black, flake8

Add show_user_to_developer = True to EDIT_CONTRIBUTIONS
  src/olympia/constants/activity.py
Due: black, flake8

Unused import
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Removed some mystery code
  src/olympia/users/models.py
Due: black, flake8

Upgrade celery (#18678)
  requirements/prod.txt
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

More tests
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_validation.py
Due: black, flake8

temporarily reduce SESSION_COOKIE_AGE
  src/olympia/conf/dev/settings.py
Due: black, flake8

More tests
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_utils_.py
  src/olympia/amo/tests/test_cron.py
  src/olympia/files/tests/test_views.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Add test
  src/olympia/addons/tests/test_models.py
Due: black, flake8

Address review comments
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/views.py
  src/olympia/constants/activity.py
Due: black, flake8

Stop exposing reviewer names on devhub (#18671)
  src/olympia/activity/models.py
  src/olympia/activity/serializers.py
  src/olympia/activity/tests/test_models.py
  src/olympia/activity/tests/test_serializers.py
  src/olympia/activity/tests/test_utils.py
  src/olympia/activity/tests/test_views.py
  src/olympia/activity/utils.py
  src/olympia/activity/views.py
  src/olympia/blocklist/templates/admin/blocklist/includes/logs.html
  src/olympia/constants/activity.py
  src/olympia/devhub/templates/devhub/addons/activity.html
  src/olympia/devhub/templates/devhub/addons/dashboard.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Remove all references to `reviewer_name`
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_serializers.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/users/admin.py
  src/olympia/users/migrations/0007_auto_20220125_1636.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

Use DB sessions; store refresh tokens in session; use for frontend auth too (#18475)
  scripts/crontab/crontab.tpl
  settings_test.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/accounts/tests/test_utils.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/utils.py
  src/olympia/accounts/verify.py
  src/olympia/accounts/views.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_middleware.py
  src/olympia/amo/tests/test_views.py
  src/olympia/api/authentication.py
  src/olympia/api/tests/test_authentication.py
  src/olympia/api/tests/test_permissions.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/files/tests/test_views.py
  src/olympia/files/views.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/tests/test_views.py
  src/olympia/scanners/views.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/tags/tests/test_views.py
Due: black, flake8
