Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO
  locale/pt_PT/LC_MESSAGES/django.po
Due: none

Remove git extraction code and code-manager related APIs (#22873)
  conftest.py
  docs/topics/api/overview.rst
  docs/topics/api/reviewers.rst
  docs/topics/api/v4_frozen/reviewers.rst
  requirements/prod.txt
  scripts/crontab/crontab.tpl
  src/olympia/addons/admin.py
  src/olympia/addons/models.py
  src/olympia/addons/templates/admin/addons/addon/change_form.html
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/management/commands/get_changed_files.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/constants/permissions.py
  src/olympia/git/admin.py
  src/olympia/git/management/commands/git_extraction.py
  src/olympia/git/models.py
  src/olympia/git/tasks.py
  src/olympia/git/tests/__init__.py
  src/olympia/git/tests/test_admin.py
  src/olympia/git/tests/test_commands.py
  src/olympia/git/tests/test_models.py
  src/olympia/git/tests/test_tasks.py
  src/olympia/git/tests/test_utils.py
  src/olympia/git/utils.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/api_urls.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/tests/test_serializers.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  src/olympia/zadmin/tests/test_views.py
Due: black, flake8, curlylint

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/djangojs.po
Due: none

set action_date too for already disabled decisions (#22871)
  src/olympia/abuse/migrations/0045_auto_20241120_1503.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/django.po
  locale/si/LC_MESSAGES/djangojs.po
Due: none

Add test with negative average hotness
  src/olympia/addons/tests/test_tasks.py
Due: black, flake8

Add assert num queries
  src/olympia/addons/tests/test_tasks.py
Due: black, flake8

Refactor the factory
  src/olympia/amo/tests/__init__.py
Due: black, flake8

Store NeedsHumanReview for promoted & auto-approval disabled when auto-approval is attempted (#22868)
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/activity/tests/test_utils.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/files/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/management/commands/auto_approve.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon: Update Korean (ko) localization of AMO
  locale/ko/LC_MESSAGES/django.po
Due: none

Support uploading stash/filter from multiple block types
  src/olympia/blocklist/cron.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_commands.py
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/blocklist/tests/test_tasks.py
  src/olympia/constants/blocklist.py
  src/olympia/lib/remote_settings.py
  src/olympia/lib/tests/test_remote_settings.py
Due: black, flake8

Fix data_seed migration data being skipped (#22860)
  src/olympia/amo/management/commands/data_seed.py
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
  src/olympia/applications/management/commands/import_licenses.py
  src/olympia/core/apps.py
  src/olympia/core/tests/test_apps.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Fix error when users.table does not exist yet during initialize
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Apply suggestions from code review
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Fix error when users.table does not exist yet during initialize (#22887)
  src/olympia/amo/management/commands/initialize.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Remove unnecessary translations of activity logs strings
  src/olympia/constants/activity.py
Due: black, flake8

Display block type in reviewer tools & Use specific activity log for soft-blocking versions
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/templates/reviewers/includes/version.html
Due: black, flake8, curlylint

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Better, more explicit tests and then make them all pass
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Update tests
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Apply suggestions from code review
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Remove unnecessary translations of activity logs strings (#22890)
  src/olympia/constants/activity.py
Due: black, flake8

Apply suggestions from code review
  src/olympia/blocklist/tasks.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
