Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

add location to abuse api (#21331)
  docs/topics/api/abuse.rst
  docs/topics/api/overview.rst
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0014_abusereport_location.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_serializers.py
  src/olympia/abuse/tests/test_views.py
Due: black, flake8

Don't require 2FA for new theme versions
  src/olympia/devhub/decorators.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

Don't require 2FA for new theme versions (#21232)
  src/olympia/devhub/decorators.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
Due: black, flake8

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Merge per-application categories, add command to merge and clean up obsolete ones
  docs/topics/api/categories.rst
  docs/topics/api/overview.rst
  src/olympia/addons/fields.py
  src/olympia/addons/management/commands/update_and_clean_categories.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/constants/categories.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe_minimal.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/landfill/generators.py
  src/olympia/landfill/management/commands/fetch_prod_addons.py
  src/olympia/landfill/tests/test_generators.py
  src/olympia/landfill/tests/test_users.py
  src/olympia/lib/settings_base.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  static/css/zamboni/developers.css
Due: black, flake8, curlylint

change MZA_LAUNCH_DATE
  src/olympia/constants/base.py
Due: black, flake8

change MZA_LAUNCH_DATE (#21344)
  src/olympia/constants/base.py
Due: black, flake8

Merge per-application categories, add command to merge and clean up obsolete ones (#21212)
  docs/topics/api/categories.rst
  docs/topics/api/overview.rst
  src/olympia/addons/fields.py
  src/olympia/addons/management/commands/update_and_clean_categories.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/sitemap.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_sitemap.py
  src/olympia/constants/categories.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/addons/submit/describe_minimal.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/views.py
  src/olympia/landfill/generators.py
  src/olympia/landfill/management/commands/fetch_prod_addons.py
  src/olympia/landfill/tests/test_generators.py
  src/olympia/landfill/tests/test_users.py
  src/olympia/lib/settings_base.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  static/css/zamboni/developers.css
Due: black, flake8, curlylint

Pontoon: Update Sinhala (si) localization of AMO
  locale/si/LC_MESSAGES/djangojs.po
Due: none

Add label & help text provided by legal for the appeal form
  src/olympia/abuse/forms.py
Due: black, flake8

Add label & help text provided by legal for the appeal form (#21347)
  src/olympia/abuse/forms.py
Due: black, flake8

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none
