Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

appeals on non-cinder actions are handled by amo reviewers (#21958)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/constants/abuse.py
Due: black, flake8

"rename" CinderJob.decision_id to decision_cinder_id
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0026_add_cinderjob_decision_cinder_id.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/urls.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
Due: black, flake8, curlylint

"rename" CinderJob.decision_id to decision_cinder_id (#22000)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0026_add_cinderjob_decision_cinder_id.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/urls.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
Due: black, flake8, curlylint

Document types of work in our app (utils/cron/tasks/model methods)
  docs/topics/development/django.md
  docs/topics/development/index.rst
Due: none

Sync suppressed emails daily (#21998)
  scripts/crontab/crontab.tpl
  src/olympia/lib/settings_base.py
  src/olympia/users/cron.py
  src/olympia/users/management/commands/sync_suppressed_emails.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_tasks.py
Due: black, flake8

Github action to generate git tags for staging/production release
  .github/workflows/tag-release.yml
Due: none

Add release template
  .github/release.yml
  .github/workflows/tag-release.yml
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Add a delayed rejection decision action
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown_delayed.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon_delayed.txt
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/utils.py
  src/olympia/constants/abuse.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/migrations/0043_remove_version_needs_human_review_and_more.py
  src/olympia/versions/models.py
Due: black, flake8

Add a delayed rejection decision action (#21858)
  src/olympia/abuse/models.py
  src/olympia/abuse/templates/abuse/emails/CinderActionRejectVersionDelayed.txt
  src/olympia/abuse/templates/abuse/emails/reporter_appeal_takedown_delayed.txt
  src/olympia/abuse/templates/abuse/emails/reporter_takedown_addon_delayed.txt
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/utils.py
  src/olympia/constants/abuse.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/migrations/0043_remove_version_needs_human_review_and_more.py
  src/olympia/versions/models.py
Due: black, flake8

Reusable Docker run action (Bunch of other stuff here to make it work)
  .github/actions/run-docker/action.yml
  .github/workflows/verify-docker-image.yml
  Makefile-docker
  docker/fix_olympia_user.sh
Due: none

extract locales
  .github/workflows/extract-locales.yml
  Makefile-os
  scripts/extract-l10n.sh
  scripts/push_l10n_extraction.sh
Due: none

Cleaning up and simplify
  .github/workflows/tag-release.yml
Due: none

Fix build docker image action
  .github/actions/build-docker/action.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/verify-docker-image.yml
Due: none

Remove short sha from tag
  .github/actions/build-docker/action.yml
Due: none

remove extraneous log
  scripts/extract-l10n.sh
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Refactor decision related fields into CinderDecision
  src/olympia/abuse/migrations/0027_add_cinderdecision.py
  src/olympia/abuse/migrations/0028_cinderdecision_backfill.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
  src/olympia/constants/abuse.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Automate L10n extract/merge with reusable docker run github action (#21966)
  .github/actions/run-docker/action.yml
  .github/workflows/extract-locales.yml
  Makefile-docker
  Makefile-os
  docker/fix_olympia_user.sh
  scripts/extract-l10n.sh
  scripts/push_l10n_extraction.sh
Due: none

Fix extract locales workflow to use correct syntax
  .github/workflows/extract-locales.yml
Due: none

ruff formatting changes in 0.3.0
  conftest.py
  settings.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/activity/utils.py
  src/olympia/addons/indexers.py
  src/olympia/amo/__init__.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_pytest_fixtures.py
  src/olympia/amo/tests/test_redirects.py
  src/olympia/amo/tests/test_settings.py
  src/olympia/amo/validators.py
  src/olympia/api/jwt_auth.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/lib/misc/urlconf_decorator.py
  src/olympia/reviewers/tests/test_review_scenarios.py
  src/olympia/users/management/commands/createsuperuser.py
  src/olympia/versions/update.py
Due: black, flake8

Introduce a command to resign test XPIs used in mozilla-central
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/settings_base.py
Due: black, flake8

prevent unreject reviewer actions from resolving cinderjobs
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Fix extract locales workflow to use correct syntax (#22026)
  .github/workflows/extract-locales.yml
Due: none

Fix extract locales split dry/wet runs to separate steps.
  .github/workflows/extract-locales.yml
Due: none

Fix extract locales split dry/wet runs to separate steps. (#22029)
  .github/workflows/extract-locales.yml
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
