Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update Czech (cs)
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Instead of overriding results when running on version, use a set to avoid dupes
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Japanese (ja)
  locale/ja/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Nits
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
Due: black, flake8

Make attach_trans_dict a little more developer-friendly to use
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/scanners/tasks.py
Due: black, flake8

Introduce new scanner: Name Add-on Regexp Checker, NARC (#23775)
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/constants/scanners.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/utils.py
  src/olympia/lib/settings_base.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0053_add_narc_waffle_switch.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  static/js/scanners/scannerrule_change_form.js
Due: black, prettier, flake8

soft-block versions on delete (#23768)
  docs/topics/api/addons.rst
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/utils.py
  src/olympia/devhub/templates/devhub/addons/listing/_delete_warning.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/tests/test_views.py
  src/olympia/versions/management/commands/process_versions.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

Re-run scanner actions if results changed when running narc scanner on version
  src/olympia/scanners/actions.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Avoid raising duplicate ID errors in narc
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Run narc on version created by the API if name was provided with upload
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Remove useless cruft
  src/olympia/addons/tests/test_views.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Add UsageTier checks for ratings ratio, and disable thresholds
  src/olympia/abuse/tasks.py
  src/olympia/abuse/utils.py
  src/olympia/addons/cron.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/lib/settings_base.py
  src/olympia/ratings/tasks.py
  src/olympia/ratings/tests/test_tasks.py
  src/olympia/reviewers/admin.py
  src/olympia/reviewers/migrations/0044_usagetier_abuse_reports_ratio_threshold_before_disabling_and_more.py
  src/olympia/reviewers/models.py
Due: black, flake8

Pontoon/AMO: Update Danish (da)
  locale/da/LC_MESSAGES/django.po
Due: none
