Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl)
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Tajik (tg)
  locale/tg/LC_MESSAGES/djangojs.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Check add-on guid if provided in the URL in the signing API
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

Check add-on guid if provided in the URL in the signing API (#25207)
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

Hide source code upload on edit for enterprise versions
  src/olympia/devhub/templates/devhub/versions/edit.html
Due: curlylint

versioncreateerror, more explicit testing
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

fix wording
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Arabic (ar)
  locale/ar/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

create activity and send email when overriding to same enforcement action
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Add Enterprise Add-on API
  docs/topics/api/addons.rst
  docs/topics/api/scanners.rst
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
  src/olympia/api/permissions.py
  src/olympia/api/tests/test_permissions.py
  src/olympia/lib/settings_base.py
  src/olympia/signing/views.py
Due: black, flake8

add test
  src/olympia/devhub/tests/test_views_versions.py
Due: black, flake8

Roll back transactions on unhandled API exceptions
  src/olympia/api/exceptions.py
  src/olympia/api/tests/test_exceptions.py
Due: black, flake8

Send accurate reminder emails using ContentDecision instances (#25195)
  src/olympia/abuse/models.py
  src/olympia/reviewers/management/commands/send_pending_rejection_last_warning_notifications.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/versions/models.py
Due: black, flake8

Hide Source Code Upload on Edit for Enterprise Versions (#25213)
  src/olympia/devhub/templates/devhub/versions/edit.html
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

Add stemmed exact-name match to search ranking
  src/olympia/addons/indexers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/constants/search.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Prevent sentinel match from outscoring raw exact name match
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/search/tests/test_search_ranking.py
Due: black, flake8

Add --force-reviewer and --before args to auto_resolve_reports command
  src/olympia/abuse/management/commands/auto_resolve_reports.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_commands.py
Due: black, flake8
