Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Read Promoted Group Information Via Models
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/hero/models.py
  src/olympia/promoted/models.py
  src/olympia/reviewers/models.py
  src/olympia/versions/models.py
Due: black, flake8

basic refactors
  src/olympia/abuse/actions.py
  src/olympia/abuse/cinder.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/templates/devhub/includes/addon_details.html
  src/olympia/devhub/templates/devhub/new-landing/components/my-addons.html
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/hero/tests/test_models.py
  src/olympia/lib/crypto/signing.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

fix
  src/olympia/abuse/cinder.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/hero/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/utils.py
Due: black, flake8

check correct id
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/hero/tests/test_models.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Define the ENV setting for all environments (including test/build/local) (#23073)
  Dockerfile
  docker-compose.yml
  docs/index.md
  docs/topics/environments.md
  pyproject.toml
  requirements/dev.txt
  src/olympia/conf/dev/settings.py
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Refactor FxA authentication configuration and fake auth handling
  Makefile-os
  docker-compose.yml
  pyproject.toml
  settings.py
  settings_test.py
  src/olympia/accounts/tests/test_utils.py
  src/olympia/accounts/tests/test_verify.py
  src/olympia/accounts/tests/test_views.py
  src/olympia/accounts/utils.py
  src/olympia/accounts/verify.py
  src/olympia/accounts/views.py
  src/olympia/addons/fields.py
  src/olympia/amo/templates/amo/fake_fxa_authorization.html
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/utils.py
  src/olympia/amo/views.py
Due: black, flake8, curlylint

Update local dev docker images for autograph, elasticsearch, memcached
  docker-compose.yml
  docker/autograph/autograph_localdev_config.yaml
Due: none

Expose target affected versions for decision on held review page
  src/olympia/reviewers/templates/reviewers/decision_review.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Cinder sends a 200 for a successfull decision override, not 201
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Expose target affected versions for decision on held review page (#23090)
  src/olympia/reviewers/templates/reviewers/decision_review.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

Update local dev docker images for autograph, elasticsearch, memcached (#23086)
  docker-compose.yml
  docker/autograph/autograph_localdev_config.yaml
Due: none

Add monitor retry task and tests for Celery tasks
  settings_test.py
  src/olympia/amo/celery.py
  src/olympia/amo/tests/test_celery.py
Due: black, flake8

refactors
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/devhub/templatetags/jinja_helpers.py
  src/olympia/promoted/models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

use promoted_group() in indexer
  src/olympia/addons/indexers.py
Due: black, flake8

temp group_id set
  src/olympia/addons/serializers.py
Due: black, flake8

more
  src/olympia/abuse/cinder.py
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
Due: black, flake8

Cinder sends a 200 for a successfull decision override, not 201 (#23091)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

signal edge cases
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
Due: black, flake8

stricter approval query
  src/olympia/addons/tests/test_models.py
  src/olympia/promoted/models.py
Due: black, flake8

even stricter
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
Due: black, flake8

Add retry to some abuse tasks
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/amo/tests/__init__.py
Due: black, flake8

create approve 2nd level decision with non-addon entities too
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

allow null on PromotedAddonPromotion
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/promoted/migrations/0023_promotedgroup_alter_promotedaddon_group_id_and_more.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
Due: black, flake8

querycount
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/devhub/tests/test_views_versions.py
Due: black, flake8

querycount
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/hero/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Croatian (hr)
  locale/hr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Update overview.rst
  docs/topics/api/overview.rst
Due: none

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update 5 localizations
  locale/cs/LC_MESSAGES/django.po
  locale/es_AR/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW), Italian (it)
  locale/it/LC_MESSAGES/django.po
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Indonesian (id)
  locale/id/LC_MESSAGES/djangojs.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
