Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Allow downloads of site permission add-ons even if unlisted
  src/olympia/versions/views.py
Due: black, flake8

ACL tests
  src/olympia/access/acl.py
  src/olympia/access/tests.py
Due: black, flake8

add heartbeat urls (#18512)
  src/olympia/amo/middleware.py
  src/olympia/amo/monitors.py
  src/olympia/amo/tests/test_middleware.py
  src/olympia/amo/tests/test_monitor.py
  src/olympia/amo/urls.py
  src/olympia/amo/views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update note for adding email user restriction
  src/olympia/users/models.py
Due: black, flake8

use str for paths everywhere; make our Storage subclass safer
  settings_test.py
  src/olympia/addons/tasks.py
  src/olympia/amo/tests/test_amo_utils.py
  src/olympia/amo/utils.py
  src/olympia/hero/models.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update note for adding email user restriction (#18575)
  src/olympia/users/models.py
Due: black, flake8

Refactor downloads tests to also test site permissions w/ various permutations
  src/olympia/versions/tests/test_views.py
Due: black, flake8

More tests
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/devhub/tests/test_views_versions.py
Due: black, flake8

Permission checks to show the upload/delete buttons
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/templates/devhub/versions/list.html
Due: curlylint

Refactor permission checks at page level to allow overrides for pages that need it
  src/olympia/devhub/templates/devhub/addons/owner.html
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Disallow site_permission access if submitting
  src/olympia/devhub/decorators.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

More tests
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Even More tests
  src/olympia/devhub/decorators.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_ownership.py
Due: black, flake8

enhance SafeStorage to be used per user_media path
  src/olympia/accounts/serializers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/storage_utils.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_amo_utils.py
  src/olympia/amo/tests/test_send_mail.py
  src/olympia/amo/tests/test_storage_utils.py
  src/olympia/amo/utils.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/files/models.py
  src/olympia/files/tasks.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_tasks.py
  src/olympia/files/tests/test_utils.py
  src/olympia/git/tests/test_utils.py
  src/olympia/hero/admin.py
  src/olympia/hero/models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_models.py
  src/olympia/users/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/zadmin/tests/test_views.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/djangojs.po
Due: none

Lock file maintenance
  package-lock.json
Due: none

Copy logic from base.html into base_impala.html
  src/olympia/devhub/templates/devhub/base_impala.html
Due: curlylint

Use a mixin for test_site_permission_not_allowed
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Add test_no_edit_if_disabled test
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

Clarify comment
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

Prevent site permission add-ons from being edited except for deletion/ownership (#18562)
  src/olympia/access/acl.py
  src/olympia/access/tests.py
  src/olympia/addons/decorators.py
  src/olympia/devhub/decorators.py
  src/olympia/devhub/templates/devhub/addons/listing/item_actions.html
  src/olympia/devhub/templates/devhub/addons/owner.html
  src/olympia/devhub/templates/devhub/base.html
  src/olympia/devhub/templates/devhub/base_impala.html
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/templates/devhub/versions/edit.html
  src/olympia/devhub/templates/devhub/versions/list.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_ownership.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/devhub/views.py
  src/olympia/files/decorators.py
  src/olympia/files/tests/test_decorators.py
  src/olympia/reviewers/views.py
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
Due: black, flake8, curlylint

test refactoring
  src/olympia/users/tests/test_models.py
Due: black, flake8

update our Storage class and django 3.2.11 (#18581)
  requirements/prod.txt
  settings_test.py
  src/olympia/accounts/serializers.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_cron.py
  src/olympia/addons/tests/test_tasks.py
  src/olympia/amo/storage_utils.py
  src/olympia/amo/tests/__init__.py
  src/olympia/amo/tests/test_amo_utils.py
  src/olympia/amo/tests/test_send_mail.py
  src/olympia/amo/tests/test_storage_utils.py
  src/olympia/amo/utils.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
  src/olympia/devhub/tests/test_tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/files/models.py
  src/olympia/files/tasks.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_tasks.py
  src/olympia/files/tests/test_utils.py
  src/olympia/git/tests/test_utils.py
  src/olympia/hero/admin.py
  src/olympia/hero/models.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/users/models.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_models.py
  src/olympia/users/utils.py
  src/olympia/versions/models.py
  src/olympia/versions/tasks.py
  src/olympia/versions/tests/test_tasks.py
  src/olympia/versions/tests/test_utils.py
  src/olympia/zadmin/tests/test_views.py
Due: black, flake8

Add form to generate site permission add-ons
  src/olympia/devhub/forms.py
  src/olympia/devhub/templates/devhub/site_permission_generator.html
  src/olympia/devhub/urls.py
  src/olympia/devhub/views.py
  static/css/devhub/forms.less
  static/css/zamboni/developers.css
Due: black, flake8, curlylint

Move to a task
  src/olympia/devhub/tasks.py
  src/olympia/devhub/templates/devhub/addons/submit/done.html
  src/olympia/devhub/templates/devhub/includes/done_unlisted.html
  src/olympia/devhub/templates/devhub/site_permission_generator.html
  src/olympia/devhub/views.py
  src/olympia/lib/settings_base.py
Due: black, flake8, curlylint

Make non-submit developer agreement page generic, use it for site permission generator
  src/olympia/devhub/templates/devhub/addons/submit/start.html
  src/olympia/devhub/templates/devhub/agreement.html
  src/olympia/devhub/templates/devhub/api/agreement.html
  src/olympia/devhub/templates/devhub/includes/agreement.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/urls.py
  src/olympia/devhub/views.py
Due: black, flake8, curlylint

Update dependency addons-linter to v4.6.0
  package-lock.json
  package.json
Due: none

Test form validation
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_forms.py
Due: black, flake8

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
  locale/is/LC_MESSAGES/djangojs.po
Due: none

Fix is locale
  locale/is/LC_MESSAGES/djangojs.po
Due: none

Fix is locale (#18600)
  locale/is/LC_MESSAGES/djangojs.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
