Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Revert "Add extra hardcoded list of add-ons available in Firefox for Android release (#21514)"
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/versions/management/commands/force_min_android_compatibility.py
  src/olympia/versions/tests/test_commands.py
Due: black, flake8

Make extensions globally available in Fenix in 120.0 and later
  src/olympia/constants/base.py
Due: black, flake8

Bump that back
  package-lock.json
Due: none

Prettify
  static/js/lib/highcharts.src.js
Due: prettier

Adjust tests
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/versions/tests/test_commands.py
Due: black, flake8

drop support for ES_HOSTS env variable now ELASTICSEARCH_LOCATION is used (#20970)
  src/olympia/lib/settings_base.py
Due: black, flake8

Keep this fix to the tests
  src/olympia/versions/tests/test_commands.py
Due: black, flake8

Fix this test
  src/olympia/devhub/tests/test_forms.py
Due: black, flake8

Change minimum version of Fenix where extensions are all available to 120.0 (#21590)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/versions/management/commands/force_min_android_compatibility.py
  src/olympia/versions/tests/test_commands.py
Due: black, flake8

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

chore(): generate api versions from method
  src/olympia/api/urls.py
Due: black, flake8

chore(): add swagger UI to document our apis
  docker/nginx/addons.conf
  requirements/prod.txt
  settings.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/addons/views.py
  src/olympia/api/middleware.py
  src/olympia/api/tests/test_middleware.py
  src/olympia/api/urls.py
  src/olympia/lib/settings_base.py
Due: black, flake8

fet(users): Add SuppressedEmailVerification model
  src/olympia/users/migrations/0016_suppressedemailverification.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

chore(): add swagger UI to document our apis (#21521)
  docker/nginx/addons.conf
  requirements/prod.txt
  settings.py
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/addons/views.py
  src/olympia/api/middleware.py
  src/olympia/api/tests/test_middleware.py
  src/olympia/api/urls.py
  src/olympia/lib/settings_base.py
Due: black, flake8

fet(users): Add SuppressedEmailVerification model (#21561)
  src/olympia/users/migrations/0016_suppressedemailverification.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

Introduce new CinderReport entity, attach reason and reporter to it
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Change randomness of search results every hour instead of every day
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Introduce new CinderReport entity, attach reason and reporter to it (#21582)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Fix account API to allow user profile blank homepage again
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_views.py
Due: black, flake8

Change randomness of search results every hour instead of every day (#21605)
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
Due: black, flake8

Fix account API to allow user profile blank homepage again (#21608)
  src/olympia/accounts/serializers.py
  src/olympia/accounts/tests/test_views.py
Due: black, flake8

rm AbuseReport.state
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
  src/olympia/abuse/migrations/0020_alter_abusereport_addon_install_method_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_admin.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/constants/permissions.py
Due: black, flake8

Fix recording of statsd timings for class-based views
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/middleware.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

chore(swagger): add session auth settings for authenticated requests in swagger ui
  settings.py
Due: black, flake8

Fix recording of statsd timings for class-based views (#21621)
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/middleware.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Update 0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
  src/olympia/abuse/migrations/0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
Due: black, flake8

Update src/olympia/abuse/migrations/0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
  src/olympia/abuse/migrations/0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
Due: black, flake8

rm AbuseReport.state (#21611)
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0019_alter_abusereport_drop_state_options_alter_abusereport_managers.py
  src/olympia/abuse/migrations/0020_alter_abusereport_addon_install_method_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_admin.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/constants/permissions.py
Due: black, flake8

chore(swagger): add session auth settings for authenticated requests in swagger ui (#21612)
  settings.py
Due: black, flake8

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
  locale/is/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO
  locale/is/LC_MESSAGES/django.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
