Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Remove obsolete in docker compose files
  docker-compose.override.yml
  docker-compose.private.yml
Due: none

Debug build
  .circleci/config.yml
Due: none

Might as well skip the other jobs
  .circleci/config.yml
Due: none

Confirm variable
  Makefile-os
Due: none

TMP: fix the build
  .circleci/config.yml
  Makefile-os
Due: none

TMP: I wonder what false is turned into?
  .circleci/config.yml
Due: none

TMP: more explicit push handling
  .circleci/config.yml
Due: none

TMP: better fix
  .circleci/config.yml
Due: none

TMP: add comment warning.
  .circleci/config.yml
Due: none

TMP: more debug
  .circleci/config.yml
Due: none

TMP: this is dumb
  .circleci/config.yml
Due: none

TMP: this is really dumb
  .circleci/config.yml
Due: none

TMP: does circleci even care about what boolean means?
  .circleci/config.yml
Due: none

TMP: how about empty?
  .circleci/config.yml
Due: none

TMP: set to false
  .circleci/config.yml
Due: none

TMP: set to true
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Fix build image CircleCI job (#22290)
  .circleci/config.yml
  Makefile-os
Due: none

Limit concurrency group to PR on the same branch (#22284)
  .github/workflows/verify-docker-image.yml
Due: none

Remove obsolete `version` in docker compose files (#22288)
  docker-compose.override.yml
  docker-compose.private.yml
Due: none

Remove obsolete section about volunteer reviewers in devhub footer
  src/olympia/devhub/templates/devhub/new-landing/components/dev_footer.html
Due: curlylint

Update CSP config to follow docs for Google Analytics 4 + Universal Analytics
  src/olympia/amo/tests/test_csp_headers.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Use separate activity log action for automated rejections after delay expiry
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Ignore webhook decisions for reviewer tools resolved jobs (#22279)
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
Due: black, flake8

Hard-code super user name and email
  scripts/setup.py
Due: black, flake8

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Make ruff happy
  scripts/setup.py
Due: black, flake8

Remove obsolete section about volunteer reviewers in devhub footer (#22292)
  src/olympia/devhub/templates/devhub/new-landing/components/dev_footer.html
Due: curlylint

Increase default caching duration of API endpoints to 360 seconds (#22285)
  src/olympia/amo/tests/test_middleware.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Fix tests
  tests/make/make.spec.js
Due: prettier

Remove "accessibility" category (#22272)
  src/olympia/addons/management/commands/populate_accessibility_category.py
  src/olympia/addons/migrations/0051_remove_accessibility.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_views.py
  src/olympia/constants/categories.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Update class names and copy
  src/olympia/constants/activity.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Update CSP config to follow docs for Google Analytics 4 + Universal Analytics (#22293)
  src/olympia/amo/tests/test_csp_headers.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Add configurable compose file to make up flow
  .github/actions/run-docker/action.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  .gitignore
  Makefile-os
  docker-compose.ci.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Cache ./deps directory in CI to speed up installation
  .github/actions/cache-deps/action.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
Due: none

Cache ./deps directory in CI to speed up installation (#22280)
  .github/actions/cache-deps/action.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
Due: none

What is in the workflow run event
  .github/workflows/verify-docker-image.yml
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
