Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Use the latest delayed-rejection comments when auto-rejecting, not the first (#22256)
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/tests/test_commands.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Refactor unified setup script to manage .env and version.json files in readable python
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  Makefile-os
  docker-compose.yml
  scripts/setup.py
  scripts/version.sh
  tests/make/make.spec.js
Due: black, prettier, flake8

Support using digest to run docker image
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/docs.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

TMP: build image
  .circleci/config.yml
Due: none

TMP: better logs
  scripts/setup.py
Due: black, flake8

Update scripts/setup.py
  scripts/setup.py
Due: black, flake8

Docker digest (#22260)
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/docs.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  Makefile-os
  docker-compose.yml
  scripts/setup.py
  scripts/version.sh
  tests/make/make.spec.js
Due: black, prettier, flake8

TMP: try caching deps dir
  .github/actions/cache-deps/action.yml
  .github/workflows/docs.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
Due: none

TMP: better preservation of valid values in .env file
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Remove useless environment addition
  tests/make/make.spec.js
Due: prettier

FIx the docker comose up stuff. This should be split up
  .github/actions/build-docker/action.yml
  .github/actions/cache-deps/action.yml
  .github/actions/run-docker/action.yml
  .gitignore
  Dockerfile
  Makefile-os
  docker-compose._base.yml
  docker-compose.build.yml
  docker-compose.mount.yml
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Disable build-image in circleci
  .circleci/config.yml
Due: none

Disable build-image in circleci (#22268)
  .circleci/config.yml
Due: none

Remove `fill="context-fill" and `fill-opacity="context-fill-opacity"` from Hero SVGs
  static/img/hero/icons/Accessibility.svg
  static/img/hero/icons/Audio.svg
  static/img/hero/icons/Bookmark Outline.svg
  static/img/hero/icons/Bookmark.svg
  static/img/hero/icons/Customize.svg
  static/img/hero/icons/Developer.svg
  static/img/hero/icons/Device Mobile.svg
  static/img/hero/icons/Dictionaries.svg
  static/img/hero/icons/Download.svg
  static/img/hero/icons/Extensions.svg
  static/img/hero/icons/Folder.svg
  static/img/hero/icons/Globe.svg
  static/img/hero/icons/Help.svg
  static/img/hero/icons/Highlights.svg
  static/img/hero/icons/History.svg
  static/img/hero/icons/Login.svg
  static/img/hero/icons/Midi.svg
  static/img/hero/icons/Notification.svg
  static/img/hero/icons/Performance.svg
  static/img/hero/icons/Pin.svg
  static/img/hero/icons/Play.svg
  static/img/hero/icons/Popular.svg
  static/img/hero/icons/Private browsing.svg
  static/img/hero/icons/Reader Mode.svg
  static/img/hero/icons/Save.svg
  static/img/hero/icons/Search.svg
  static/img/hero/icons/Store Data.svg
  static/img/hero/icons/Subscribe.svg
  static/img/hero/icons/Sync.svg
  static/img/hero/icons/Tab new.svg
  static/img/hero/icons/Themes.svg
  static/img/hero/icons/Trackers Disabled.svg
  static/img/hero/icons/Tracking Protection.svg
  static/img/hero/icons/Video Recorder.svg
  static/img/hero/icons/Window New.svg
Due: none

TMP: fix linting
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

TMP: configure detatch mode.
  .github/actions/cache-deps/action.yml
  Makefile-os
Due: none

TMP: revert export env
  Makefile-os
Due: none

tmp: revert the detatch nonsense.
  .github/actions/cache-deps/action.yml
  Makefile-os
Due: none

Fix test
  tests/make/make.spec.js
Due: prettier

only clear abuse/appeal related NHR for resolving jobs
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0031_remove_cinderjob_appeal_job_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Remove `fill="context-fill" and `fill-opacity="context-fill-opacity"` from Hero SVGs (#22267)
  static/img/hero/icons/Accessibility.svg
  static/img/hero/icons/Audio.svg
  static/img/hero/icons/Bookmark Outline.svg
  static/img/hero/icons/Bookmark.svg
  static/img/hero/icons/Customize.svg
  static/img/hero/icons/Developer.svg
  static/img/hero/icons/Device Mobile.svg
  static/img/hero/icons/Dictionaries.svg
  static/img/hero/icons/Download.svg
  static/img/hero/icons/Extensions.svg
  static/img/hero/icons/Folder.svg
  static/img/hero/icons/Globe.svg
  static/img/hero/icons/Help.svg
  static/img/hero/icons/Highlights.svg
  static/img/hero/icons/History.svg
  static/img/hero/icons/Login.svg
  static/img/hero/icons/Midi.svg
  static/img/hero/icons/Notification.svg
  static/img/hero/icons/Performance.svg
  static/img/hero/icons/Pin.svg
  static/img/hero/icons/Play.svg
  static/img/hero/icons/Popular.svg
  static/img/hero/icons/Private browsing.svg
  static/img/hero/icons/Reader Mode.svg
  static/img/hero/icons/Save.svg
  static/img/hero/icons/Search.svg
  static/img/hero/icons/Store Data.svg
  static/img/hero/icons/Subscribe.svg
  static/img/hero/icons/Sync.svg
  static/img/hero/icons/Tab new.svg
  static/img/hero/icons/Themes.svg
  static/img/hero/icons/Trackers Disabled.svg
  static/img/hero/icons/Tracking Protection.svg
  static/img/hero/icons/Video Recorder.svg
  static/img/hero/icons/Window New.svg
Due: none

Remove "accessibility" category
  src/olympia/addons/management/commands/populate_accessibility_category.py
  src/olympia/addons/migrations/0051_remove_accessibility.py
  src/olympia/addons/tests/test_commands.py
  src/olympia/addons/tests/test_views.py
  src/olympia/constants/categories.py
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/devhub/tests/test_views_submit.py
Due: black, flake8

Fix Docker build: - get correct Image ID from the build. - set docker tag correctly supporting tag and digest - add concurrency limit to github action ci jobs
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/docs.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  .gitignore
  Makefile-os
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Explicitly raise an exception when trying to create an ActivityLog with no user
  src/olympia/activity/models.py
Due: black, flake8

Fix ActivityLog recording when flagging a version because of an abuse report
  src/olympia/abuse/cinder.py
Due: black, flake8

Tests
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

TMP: remove easy way to get build digest as it is not really intended for local dev
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  Makefile-os
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Allow some policies to be selectable in reviewer tools
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0032_cinderpolicy_default_cinder_action_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_admin.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
  src/olympia/activity/migrations/0025_alter_activitylog_action_cinderpolicylog.py
  src/olympia/activity/models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Ignore webhook decisions for reviewer tools resolved jobs
  src/olympia/abuse/tests/test_utils.py
  src/olympia/abuse/tests/test_views.py
  src/olympia/abuse/utils.py
  src/olympia/abuse/views.py
Due: black, flake8

Command to remove firefox and android addons (#265)
  src/olympia/addons/management/commands/process_addons.py
  src/olympia/addons/tasks.py
  src/olympia/addons/tests/test_commands.py
Due: black, flake8

Update .circleci/config.yml
  .circleci/config.yml
Due: none

TMP: recomment build
  .circleci/config.yml
Due: none

Fix Docker build and add concurrency limit (#22273)
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/docs.yml
  .github/workflows/extract-locales.yml
  .github/workflows/verify-docker-image.yml
  .gitignore
  Makefile-os
  docker-compose.yml
  scripts/setup.py
  tests/make/make.spec.js
Due: black, prettier, flake8

Limit concurrency group to PR on the same branch
  .github/workflows/verify-docker-image.yml
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Fix ActivityLog recording when flagging a version because of an abuse report (#22277)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

Increase default caching duration of API endpoints to 360 seconds
  src/olympia/amo/tests/test_middleware.py
  src/olympia/bandwagon/tests/test_views.py
  src/olympia/lib/settings_base.py
Due: black, flake8
