Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

More dead code
  static/js/stats/chart.js
Due: prettier

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Fix deletion of ScannerQueryRule with a lot of results (#23978)
  src/olympia/scanners/admin.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Update docs
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
Due: none

Pontoon/AMO: Update Friulian (fur)
  locale/fur/LC_MESSAGES/django.po
Due: none

Also remove outdated download sources - we are no longer using that
  src/olympia/constants/base.py
  static/js/stats/csv_keys.js
Due: black, prettier, flake8

switch RenameModel around so it's a no-op
  src/olympia/promoted/migrations/0033_rename_promotedaddonversion_to_promotedapproval.py
  src/olympia/promoted/migrations/0034_rename_promotedaddonpromotion_to_promotedaddon.py
Due: black, flake8

Fake the PurifiedMarkdownField migrations to avoid unneccesay constraint churn
  src/olympia/addons/migrations/0057_alter_addon_description_and_more.py
  src/olympia/versions/migrations/0048_alter_version_release_notes.py
Due: black, flake8

create missing migrations (#23973)
  src/olympia/abuse/migrations/0062_rename_created_idx_abuse_reports_created_idx.py
  src/olympia/activity/migrations/0029_alter_activitylog_action.py
  src/olympia/addons/migrations/0057_alter_addon_description_and_more.py
  src/olympia/blocklist/migrations/0042_alter_blockversion_block_type.py
  src/olympia/devhub/migrations/0010_alter_surveyresponse_survey_id.py
  src/olympia/discovery/migrations/0017_discoveryaddon_discoverypromotedgroup_promotedaddon.py
  src/olympia/files/migrations/0035_remove_file_reviewed.py
  src/olympia/git/migrations/0007_delete_gitextractionentry.py
  src/olympia/hero/migrations/0022_alter_secondaryheromodule_icon.py
  src/olympia/promoted/migrations/0033_rename_promotedaddonversion_to_promotedapproval.py
  src/olympia/promoted/migrations/0034_rename_promotedaddonpromotion_to_promotedaddon.py
  src/olympia/promoted/migrations/0035_alter_promotedaddon_promoted_group.py
  src/olympia/reviewers/migrations/0046_alter_needshumanreview_reason_and_more.py
  src/olympia/shelves/migrations/0023_alter_shelf_addon_type.py
  src/olympia/translations/migrations/0003_puretranslation_purifiedmarkdowntranslation.py
  src/olympia/users/migrations/0020_rename_is_public_userprofile_has_full_profile_and_more.py
  src/olympia/versions/migrations/0048_alter_version_release_notes.py
Due: black, flake8

Unused var
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Add additional filters to scanner query rules/results
  src/olympia/amo/admin.py
  src/olympia/amo/templates/admin/amo/numeric_range_filter.html
  src/olympia/scanners/admin.py
Due: black, flake8, curlylint

Test filters list
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

More testing
  src/olympia/amo/tests/__init__.py
  src/olympia/files/models.py
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Missing </li>
  src/olympia/amo/templates/admin/amo/numeric_range_filter.html
Due: curlylint

Cleanup
  src/olympia/scanners/tests/test_admin.py
Due: black, flake8

Add no-op migration for files model change
  src/olympia/files/migrations/0036_alter_file_datestatuschanged.py
Due: black, flake8

Pontoon/AMO: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Korean (ko)
  locale/ko/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

rm MAD scanner
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/scanners.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/migrations/0013_backfill_autoapprovalsummary_score.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/includes/paginator_history.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/scanners/actions.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0055_delete_enable_mad_waffle_switch.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/scanners/tests/test_views.py
  src/olympia/versions/admin.py
  src/olympia/versions/migrations/0049_alter_versionreviewerflags_needs_human_review_by_mad.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

Remove dead JavaScript code and strings from statistics (#23975)
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
  src/olympia/constants/base.py
  static/js/stats/chart.js
  static/js/stats/csv_keys.js
  static/js/stats/manager.js
  static/js/stats/table.js
Due: black, prettier, flake8

Pontoon/AMO: Update Dutch (nl), Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW), Russian (ru)
  locale/ru/LC_MESSAGES/django.po
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl), Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

rm MAD scanner (#23991)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/constants/scanners.py
  src/olympia/devhub/tasks.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/utils.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/migrations/0013_backfill_autoapprovalsummary_score.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/includes/paginator_history.html
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_jinja_helpers.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/scanners/actions.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0055_delete_enable_mad_waffle_switch.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_tasks.py
  src/olympia/scanners/tests/test_views.py
  src/olympia/versions/admin.py
  src/olympia/versions/migrations/0049_alter_versionreviewerflags_needs_human_review_by_mad.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN), German (de)
  locale/de/LC_MESSAGES/django.po
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Add exclusion of promoted to Scanner[Query]Rules and add admin filter
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0056_scannerqueryrule_exclude_promoted_addons_and_more.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
