Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
  locale/el/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

chore(ci): minor upgrade mysql version in ci
  .circleci/config.yml
Due: none

chore(ci): minor upgrade mysql version in ci (#21630)
  .circleci/config.yml
Due: none

feat(): add notification displaying suppressed emails
  src/olympia/devhub/templates/devhub/nav.html
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
  src/olympia/devhub/templates/devhub/suppressed_email.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
  static/css/devhub/new-landing/base.less
  static/css/devhub/new-landing/notifications.less
Due: black, flake8, curlylint

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

feat(): add notification displaying suppressed emails (#21599)
  src/olympia/devhub/templates/devhub/nav.html
  src/olympia/devhub/templates/devhub/new-landing/components/navigation.html
  src/olympia/devhub/templates/devhub/suppressed_email.html
  src/olympia/devhub/tests/test_views.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
  static/css/devhub/new-landing/base.less
  static/css/devhub/new-landing/notifications.less
Due: black, flake8, curlylint

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO
  locale/vi/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Increase default caching duration for services.a.m.o. API requests
  src/olympia/amo/middleware.py
  src/olympia/amo/tests/test_middleware.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Refactor HTTP headers generation
  src/olympia/abuse/cinder.py
Due: black, flake8

Re-use entity helper and store relationships in a property to re-use the queryset
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
Due: black, flake8

Send relationships to Cinder past the first 25 items in batches
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

Tests etc
  src/olympia/abuse/cinder.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

Send relationships to Cinder past the first 25 items in batches (#21622)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_cinder.py
Due: black, flake8

Send report to Cinder using the language of the reporter if available
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Pontoon: Update Hebrew (he) localization of AMO
  locale/he/LC_MESSAGES/django.po
Due: none

chore(users): use url utils forming socketlab urls
  settings_test.py
  src/olympia/lib/settings_base.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_tasks.py
Due: black, flake8

feat(user): add status field to SuppressedEmailVerification model
  src/olympia/users/migrations/0017_suppressedemailverification_status.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

feat(): implement suppressed email confirmation tasks
  src/olympia/devhub/templates/devhub/emails/verify-email-requested.ltxt
  src/olympia/lib/settings_base.py
  src/olympia/users/tasks.py
  src/olympia/users/tests/test_tasks.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
