Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

Allow triggering flag_high_rating_addons_according_to_review_tier task independently
  src/olympia/lib/settings_base.py
  src/olympia/ratings/cron.py
  src/olympia/ratings/tests/test_cron.py
Due: black, flake8

Adjust mock
  src/olympia/ratings/tests/test_cron.py
Due: black, flake8

Optimize update_addon_weekly_downloads and update_addon_average_daily_users tasks
  src/olympia/addons/tasks.py
Due: black, flake8

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Keep ignoring deleted add-ons for weekly downloads task
  src/olympia/addons/tasks.py
Due: black, flake8

Update runbook guid
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
Due: none

Allow triggering flag_high_rating_addons_according_to_review_tier task independently (#23882)
  src/olympia/lib/settings_base.py
  src/olympia/ratings/cron.py
  src/olympia/ratings/tests/test_cron.py
Due: black, flake8

Optimize update_addon_weekly_downloads and update_addon_average_daily_users tasks (#23893)
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
  src/olympia/addons/tasks.py
Due: black, flake8

Added rollback to version api
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/views.py
Due: black, flake8

Revert "Bump mozilla/addons-frontend from 2025.08.07 to 2025.09.04 (#23892)"
  docker-compose.yml
Due: none

Revert "Bump mozilla/addons-frontend from 2025.08.07 to 2025.09.04 (#23892)" (#23898)
  docker-compose.yml
Due: none

Pontoon/AMO: Update Dutch (nl)
  locale/nl/LC_MESSAGES/django.po
Due: none

Bump vite to 6.3.6
  package-lock.json
  package.json
Due: none

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Don't update the name please
  package-lock.json
Due: none

Bump vite to 6.3.6 (#23902)
  package-lock.json
  package.json
Due: none

Add link to EW docs
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
Due: curlylint

Pontoon/AMO: Update Romanian (ro)
  locale/ro/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Polish (pl)
  locale/pl/LC_MESSAGES/django.po
  locale/pl/LC_MESSAGES/djangojs.po
Due: none

use settings.EXTENSION_WORKSHOP_URL
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
Due: curlylint

Add link to EW docs (#23903)
  src/olympia/devhub/templates/devhub/includes/modal_rollback_version.html
Due: curlylint

Pontoon/AMO: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/django.po
Due: none

Record correct user for version unblocking activity log
  src/olympia/blocklist/utils.py
Due: black, flake8

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Update warning about disabling awaiting review to listed only
  docs/topics/api/addons.rst
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
