Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Add support for hard/soft bloom filter base + stash (#22828)
  src/olympia/blocklist/cron.py
  src/olympia/blocklist/management/commands/export_blocklist.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tests/test_commands.py
  src/olympia/blocklist/tests/test_cron.py
  src/olympia/blocklist/tests/test_mlbf.py
Due: black, flake8

Display block type in reviewer tools & Use specific activity log for soft-blocking versions (#22891)
  src/olympia/blocklist/admin.py
  src/olympia/blocklist/templates/admin/blocklist/includes/logs.html
  src/olympia/blocklist/tests/test_admin.py
  src/olympia/blocklist/tests/test_utils.py
  src/olympia/blocklist/utils.py
  src/olympia/constants/activity.py
  src/olympia/reviewers/templates/reviewers/includes/version.html
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8, curlylint

test
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/hero/tests/test_serializers.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Update block email language to accomodate possible soft blocking
  src/olympia/abuse/templates/abuse/emails/ContentActionDisableAddon.txt
  src/olympia/abuse/templates/abuse/emails/ContentActionRejectVersion.txt
Due: none

Don't show duplicate flags for NeedsHumanReview reasons already flagged explicitly
  static/css/zamboni/reviewers.less
Due: none

Don't show duplicate flags for NeedsHumanReview reasons already flagged explicitly (#22900)
  static/css/zamboni/reviewers.less
Due: none

how badly does this break
  src/olympia/abuse/cinder.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/amo/tests/__init__.py
Due: black, flake8

prefetch
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
Due: black, flake8

fakedatetime object
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/activity/tests/test_models.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_views.py
  src/olympia/addons/utils.py
Due: black, flake8

lint
  src/olympia/abuse/cinder.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/utils.py
Due: black, flake8

catch dne
  src/olympia/addons/utils.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

tests
  src/olympia/activity/tests/test_models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_forms.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/discovery/tests/test_admin.py
  src/olympia/discovery/tests/test_views.py
  src/olympia/hero/tests/test_views.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/versions/tests/test_admin.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/tests/test_views.py
Due: black, flake8

more tests
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/shelves/tests/test_serializers.py
Due: black, flake8

Light refactor to make things more consistent
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

main tests
  src/olympia/addons/indexers.py
  src/olympia/addons/serializers.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

elastic
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/shelves/tests/test_views.py
Due: black, flake8

queryparam
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/search/filters.py
Due: black, flake8

es
  src/olympia/addons/tests/test_serializers.py
  src/olympia/search/filters.py
  src/olympia/search/tests/test_filters.py
  src/olympia/shelves/tests/test_serializers.py
  src/olympia/shelves/tests/test_views.py
Due: black, flake8

query count comments
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/activity/tests/test_admin.py
  src/olympia/activity/tests/test_models.py
  src/olympia/activity/tests/test_views.py
  src/olympia/addons/tests/test_admin.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/discovery/tests/test_views.py
  src/olympia/hero/tests/test_views.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/ratings/tests/test_admin.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/tests/test_admin.py
  src/olympia/versions/tests/test_models.py
  src/olympia/versions/tests/test_views.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Persian (fa) localization of AMO
  locale/fa/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Persian (fa) localization of AMO
  locale/fa/LC_MESSAGES/django.po
Due: none

flag current version for NHR if available (#22894)
  src/olympia/abuse/cinder.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8

Record counts for review queues, including detail per promoted class
  src/olympia/amo/cron.py
  src/olympia/amo/migrations/0002_metric_metric_metric_unique_name_date.py
  src/olympia/amo/models.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Add to cron jobs
  src/olympia/lib/settings_base.py
Due: black, flake8

Add docs about Remote Settings
  docs/topics/development/index.md
  docs/topics/development/remote_settings.md
Due: none

WIP: split stashes
  src/olympia/blocklist/cron.py
  src/olympia/blocklist/mlbf.py
  src/olympia/blocklist/tasks.py
Due: black, flake8

Much fast; so blazingly
  .github/actions/build-docker/action.yml
  .github/actions/run-docker/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_main.yml
  .github/workflows/_test_make.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  Dockerfile
  Makefile-docker
  Makefile-os
  Procfile
  docker-compose.ci.yml
  docker-compose.yml
  docker/autograph/autograph_localdev_config.yaml
  docker/entrypoint.sh
  docker/healthcheck.sh
  docker/nginx/addons.conf
  docs/topics/development/building_and_running_services.md
  docs/topics/development/data_management.md
  docs/topics/development/setup_and_configuration.md
  requirements/ci.txt
  requirements/dev.txt
  requirements/prod.txt
  scripts/install_deps.py
  scripts/setup.py
  site-static/.docker
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Helps a bit
  src/olympia/amo/models.py
Due: black, flake8

More refactoring in progress...
  src/olympia/reviewers/templatetags/jinja_helpers.py
  src/olympia/reviewers/urls.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

refactor promoted_group to promoted_groups
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_views.py
  src/olympia/devhub/tests/test_views_submit.py
  src/olympia/devhub/tests/test_views_versions.py
  src/olympia/hero/tests/test_models.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8, curlylint

Add docs about Remote Settings (#22897)
  docs/topics/development/index.md
  docs/topics/development/remote_settings.md
Due: none

Refactor to avoid duplication
  src/olympia/amo/cron.py
  src/olympia/amo/models.py
  src/olympia/ratings/models.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8

codestyle
  src/olympia/promoted/tests/test_tasks.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
