Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Log when an admin deletes/undeletes a collection through the admin (#23228)
  src/olympia/bandwagon/admin.py
  src/olympia/bandwagon/tests/test_admin.py
Due: black, flake8

Discovery Addon Admin interface
  src/olympia/discovery/admin.py
  src/olympia/hero/admin.py
  src/olympia/promoted/admin.py
Due: black, flake8

Add pii argument and is_pii property to all fields.
  docs/index.md
  docs/topics/data/index.md
  docs/topics/data/pii.md
  src/olympia/amo/management/commands/pii.py
  src/olympia/core/apps.py
Due: black, flake8

rm dsa-appeals-review waffle switch; always offer and handle appeals
  src/olympia/abuse/actions.py
  src/olympia/abuse/cinder.py
  src/olympia/abuse/migrations/0053_auto_20250402_1533.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/tests/test_commands.py
Due: black, flake8

Write Promoted Information to New Models
  src/olympia/addons/models.py
  src/olympia/constants/promoted.py
  src/olympia/landfill/serializers.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/promoted/management/commands/promote_by_firefox_themes.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_commands.py
  src/olympia/reviewers/utils.py
  src/olympia/versions/models.py
Due: black, flake8

Refactoring Tests to Use PromotedAddonVersion and PromotedAddonPromotion
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

PrimaryHero Migration
  src/olympia/hero/admin.py
  src/olympia/hero/migrations/0020_primaryhero_addon.py
  src/olympia/hero/models.py
  src/olympia/hero/serializers.py
  src/olympia/hero/views.py
Due: black, flake8

Admin Changes
  src/olympia/constants/permissions.py
  src/olympia/discovery/admin.py
  src/olympia/hero/tests/test_models.py
  src/olympia/hero/tests/test_serializers.py
  src/olympia/hero/tests/test_views.py
  src/olympia/promoted/admin.py
  src/olympia/promoted/migrations/0024_alter_promotedaddon_group_id_and_more.py
  src/olympia/promoted/tests/test_admin.py
Due: black, flake8

Bump check locales completion rate to 70%
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Update blocklist docs
  docs/topics/blocklist.md
Due: none

Add validation for DOCKER_* variables: (#23236)
  .github/actions/build-docker/action.yml
  .github/workflows/_test_check.yml
  .github/workflows/ci.yml
  .github/workflows/health_check.yml
  Makefile-os
  docs/topics/development/setup_and_configuration.md
  scripts/setup.py
  tests/make/make.spec.js
  tests/make/test_setup.py
Due: black, prettier, flake8

Limit height of notes for reviewers and replies in review page, add scroll
  static/css/zamboni/reviewers.less
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none

remove unnecessary .first()
  src/olympia/promoted/tasks.py
Due: black, flake8

Write Promoted Information to New Models (#23216)
  src/olympia/abuse/tests/test_cinder.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/addons/tests/test_views.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/permissions.py
  src/olympia/constants/promoted.py
  src/olympia/discovery/admin.py
  src/olympia/hero/admin.py
  src/olympia/hero/migrations/0020_primaryhero_addon.py
  src/olympia/hero/models.py
  src/olympia/hero/serializers.py
  src/olympia/hero/tests/test_models.py
  src/olympia/hero/tests/test_serializers.py
  src/olympia/hero/tests/test_views.py
  src/olympia/hero/views.py
  src/olympia/landfill/serializers.py
  src/olympia/lib/crypto/tasks.py
  src/olympia/lib/crypto/tests/test_signing.py
  src/olympia/promoted/admin.py
  src/olympia/promoted/management/commands/promote_by_firefox_themes.py
  src/olympia/promoted/migrations/0024_alter_promotedaddon_group_id_and_more.py
  src/olympia/promoted/models.py
  src/olympia/promoted/signals.py
  src/olympia/promoted/tasks.py
  src/olympia/promoted/tests/test_admin.py
  src/olympia/promoted/tests/test_commands.py
  src/olympia/promoted/tests/test_models.py
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/shelves/tests/test_views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_commands.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Allow Multiple Promoted Groups
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/amo/tests/__init__.py
  src/olympia/promoted/migrations/0025_alter_promotedaddonpromotion_options_and_more.py
  src/olympia/promoted/models.py
  src/olympia/promoted/tests/test_models.py
Due: black, flake8

Add Partner Promoted Group
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/constants/promoted.py
  src/olympia/promoted/migrations/0026_auto_20250401_1656.py
  src/olympia/promoted/tests/test_models.py
Due: black, flake8

email stakeholders when a promoted signed version is rejected
  src/olympia/abuse/actions.py
  src/olympia/abuse/migrations/0053_auto_20250403_1302.py
  src/olympia/abuse/templates/abuse/emails/stakeholder_notification.txt
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Fix 6 addons tests by allowing GUID to start with @
  src/olympia/constants/base.py
Due: black, flake8

Link Extension Workshop for Markdown Field Syntax
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/edit/technical.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/devhub/templates/devhub/includes/policy_form.html
  src/olympia/devhub/templates/devhub/versions/edit.html
  src/olympia/devhub/views.py
  src/olympia/translations/models.py
Due: black, flake8, curlylint

test changes
  src/olympia/addons/tests/test_models.py
  src/olympia/amo/tests/__init__.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

addon.util.generate_addon_guid() no longer prefixes with @
  src/olympia/addons/utils.py
Due: black, flake8

Add comment about test_with_multiple_authors_filtering passing on 1st run, failing on subsequent
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Finnish (fi)
  locale/fi/LC_MESSAGES/django.po
Due: none

Remove old syntax
  static/css/zamboni/reviewers.less
Due: none

Bump check locales completion rate to 70% (#23261)
  src/olympia/amo/management/commands/check_locales_completion_rate.py
  src/olympia/amo/tests/test_commands.py
Due: black, flake8

Limit height of notes for reviewers and replies in review page, add scroll (#23267)
  static/css/zamboni/reviewers.less
Due: none

Enable no-undef and no-reassign-const eslint rules.
  eslint.config.ts
  static/js/stats/chart.js
  static/js/stats/stats.js
  static/js/zamboni/reviewers.js
Due: prettier

Link Extension Workshop for Markdown Field Syntax (#23260)
  src/olympia/devhub/templates/devhub/addons/edit/describe.html
  src/olympia/devhub/templates/devhub/addons/edit/technical.html
  src/olympia/devhub/templates/devhub/addons/submit/describe.html
  src/olympia/devhub/templates/devhub/includes/macros.html
  src/olympia/devhub/templates/devhub/includes/policy_form.html
  src/olympia/devhub/templates/devhub/versions/edit.html
  src/olympia/devhub/views.py
  src/olympia/translations/models.py
Due: black, flake8, curlylint

Add runbooks with examples for localdev/dev/statistics
  .dockerignore
  .gitignore
  docs/_static/images/statistics-overview-chart.png
  docs/index.md
  docs/topics/runbooks/dev/index.md
  docs/topics/runbooks/dev/shell_into_dev_pod.md
  docs/topics/runbooks/index.md
  docs/topics/runbooks/localdev/bigquery_credentials_setup.md
  docs/topics/runbooks/localdev/index.md
  docs/topics/runbooks/localdev/test_statistics_dashboard.md
  settings.py
Due: black, flake8

remove currently approved restriction for Promoted criteraa
  src/olympia/abuse/actions.py
  src/olympia/abuse/migrations/0053_auto_20250403_1302.py
  src/olympia/abuse/tests/test_actions.py
Due: black, flake8

Fix TestStaticCategoryView.test_basic(), first addon in test data has null description
  src/olympia/addons/tests/test_views.py
Due: black, flake8

Pontoon/AMO: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
