Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Faster health checks
  docker-compose.yml
Due: none

Drop data_deps volume
  .gitignore
  Makefile-os
  deps/.keep
  docker-compose.yml
Due: none

Update admin.py
  src/olympia/amo/admin.py
Due: black, flake8

Update admin.py (#22646)
  src/olympia/amo/admin.py
Due: black, flake8

dont report abuse reports for unlisted versions to cinder (#22625)
  src/olympia/abuse/models.py
  src/olympia/abuse/serializers.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_views.py
Due: black, flake8

Document 'app' query parameter in ratings API
  docs/topics/api/ratings.rst
Due: none

Update test_serializers.py
  src/olympia/addons/tests/test_serializers.py
Due: black, flake8

License related fixes (#22573)
  docs/topics/api/licenses.rst
  src/olympia/addons/tests/test_serializers.py
  src/olympia/constants/licenses.py
Due: black, flake8

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Missing assignment
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Italian (it) localization of AMO
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO
  locale/sk/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO
  locale/fur/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Pontoon: Update Thai (th) localization of AMO
  locale/th/LC_MESSAGES/django.po
Due: none

Replace AMO favicon with Firefox logo
  static/img/favicon.ico
Due: none

Replace AMO favicon with Firefox logo (#22650)
  static/img/favicon.ico
Due: none

Updated naming for files, limited to .txt and .zip, temporarily updated query number assertion
  src/olympia/activity/models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

added waffle enable-activity-log-attachments for user facing menus;
  src/olympia/reviewers/migrations/0037_auto_20240909_1647.py
  src/olympia/reviewers/templates/reviewers/includes/history.html
  src/olympia/reviewers/templates/reviewers/review.html
Due: black, flake8, curlylint

AbuseReport.is_individually_actionable to qs method
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
Due: black, flake8
