Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Interlingua (ia) localization of AMO
  locale/ia/LC_MESSAGES/django.po
Due: none

Update submission held email
  src/olympia/reviewers/templates/reviewers/emails/held_for_review.ltxt
Due: none

Update submission held email (#17662)
  src/olympia/reviewers/templates/reviewers/emails/held_for_review.ltxt
Due: none

Removed references
  src/olympia/lib/settings_base.py
Due: black, flake8

Fix jinja2 deprecation warnings (#17613)
  src/olympia/amo/urlresolvers.py
Due: black, flake8

Fix jinja2 deprecation warnings (#17613) (#17671)
  src/olympia/amo/urlresolvers.py
Due: black, flake8

report a bug link at bottom of extension edit page goes to 404 error (#16884)
  src/olympia/templates/photon-footer.html
Due: curlylint

Update dependency clean-css-cli to v5.3.3
  package-lock.json
  package.json
Due: none

Remove references to deprecated Jinja extensions that are now built-in
  src/olympia/lib/settings_base.py
Due: black, flake8

remove extra spaces
  src/olympia/templates/photon-footer.html
Due: curlylint

Allow users with Ratings:BypassThrottling permission to bypass ratings API throttling
  src/olympia/constants/permissions.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/ratings/views.py
Due: black, flake8

Update "report a bug" link in footer (#17672)
  src/olympia/templates/photon-footer.html
Due: curlylint

Make AMO ID the canonical identifier in reviewer tools
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/templates/reviewers/addon_details_box.html
  src/olympia/reviewers/templates/reviewers/reviewlog.html
  src/olympia/reviewers/tests/test_decorators.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Set 'Access-Control-Allow-Origin: *' to '/__version__' endpoint
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/views.py
Due: black, flake8

drop is_restart_required from File (and api/v5)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/devhub/fixtures/devhub/addon-validation-1.json
  src/olympia/discovery/tests/test_views.py
  src/olympia/files/admin.py
  src/olympia/files/migrations/0012_alter_file_is_restart_required.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/fixtures/base/approvals.json
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/addon_details_box.html
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Address review comments
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/views.py
Due: black, flake8

Handle exception in process_blocklistsubmission task (#17642)
  src/olympia/blocklist/tasks.py
  src/olympia/blocklist/tests/test_tasks.py
Due: black, flake8

Fix tests, linting
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/tests/test_decorators.py
  src/olympia/reviewers/views.py
Due: black, flake8

Replace django.utils.http.urlquote() with urllib.parse.quote() (#17668)
  src/olympia/amo/context_processors.py
  src/olympia/reviewers/views.py
  src/olympia/versions/tests/test_views.py
Due: black, flake8

Make AMO ID the canonical identifier in reviewer tools (#17669)
  src/olympia/devhub/templates/devhub/includes/addons_edit_nav.html
  src/olympia/devhub/tests/test_views_edit.py
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/templates/reviewers/addon_details_box.html
  src/olympia/reviewers/templates/reviewers/reviewlog.html
  src/olympia/reviewers/tests/test_decorators.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Set 'Access-Control-Allow-Origin: *' to '/__version__' endpoint (#17676)
  src/olympia/amo/tests/test_views.py
  src/olympia/amo/views.py
Due: black, flake8

Update dependency addons-linter to v3.12.0
  package-lock.json
  package.json
Due: none

Use explicit IP in tests
  src/olympia/ratings/tests/test_views.py
Due: black, flake8

Replace django.utils.http.urlquote() with urllib.parse.quote() (#17668) (#17677)
  src/olympia/amo/context_processors.py
  src/olympia/reviewers/views.py
  src/olympia/versions/tests/test_views.py
Due: black, flake8

Allow users with Ratings:BypassThrottling permission to bypass ratings API throttling (#17673)
  src/olympia/constants/permissions.py
  src/olympia/ratings/tests/test_views.py
  src/olympia/ratings/views.py
Due: black, flake8

drop is_restart_required from File (and api/v5) (#17675)
  docs/topics/api/addons.rst
  docs/topics/api/overview.rst
  src/olympia/addons/fixtures/addons/base_es.json
  src/olympia/addons/fixtures/addons/default-to-compat.json
  src/olympia/addons/indexers.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/tests/test_indexers.py
  src/olympia/addons/tests/test_models.py
  src/olympia/addons/tests/test_serializers.py
  src/olympia/devhub/fixtures/devhub/addon-validation-1.json
  src/olympia/discovery/tests/test_views.py
  src/olympia/files/admin.py
  src/olympia/files/migrations/0012_alter_file_is_restart_required.py
  src/olympia/files/models.py
  src/olympia/files/tests/test_models.py
  src/olympia/files/tests/test_utils.py
  src/olympia/files/utils.py
  src/olympia/lib/settings_base.py
  src/olympia/reviewers/fixtures/base/approvals.json
  src/olympia/reviewers/models.py
  src/olympia/reviewers/templates/reviewers/addon_details_box.html
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Revert "Update "report a bug" link in footer (#17672)"
  src/olympia/templates/photon-footer.html
Due: curlylint

Update report a bug URL in DevHub
  src/olympia/templates/copyright.html
Due: curlylint

Update report a bug URL in DevHub (#17684)
  src/olympia/templates/copyright.html
Due: curlylint

switch memcache backend to pymemcache
  docs/topics/install/deprecated/advanced-installation.rst
  requirements/prod.txt
  settings.py
  src/olympia/conf/dev/settings.py
  src/olympia/conf/prod/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/lib/settings_base.py
Due: black, flake8

Fix review url redirect
  src/olympia/reviewers/decorators.py
  src/olympia/reviewers/tests/test_decorators.py
Due: black, flake8

Pontoon: Update German (de) localization of AMO
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO
  locale/dsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO
  locale/uk/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
