Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon: Update French (fr) localization of AMO
  locale/fr/LC_MESSAGES/django.po
Due: none

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

fixed remove site status
  src/olympia/templates/copyright.html
  src/olympia/templates/photon-footer.html
Due: curlylint

Fix typo in error message s/symbolink/symbolic/
  src/olympia/files/utils.py
Due: black, flake8

Pontoon: Update Dutch (nl) localization of AMO
  locale/nl/LC_MESSAGES/django.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

update outgoing server to GCP
  src/olympia/addons/tests/test_models.py
  src/olympia/conf/dev/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/lib/settings_base.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/translations/tests/test_commands.py
Due: black, flake8

Convert IP addresses to strings in MySQL before calling GROUP_CONCAT()
  src/olympia/amo/models.py
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

fixed remove site status (#19779)
  src/olympia/templates/copyright.html
  src/olympia/templates/photon-footer.html
Due: curlylint

Fix typo in error message s/symbolink/symbolic/ (#19780)
  src/olympia/files/utils.py
Due: black, flake8

Remove obsolete comment/output_field
  src/olympia/users/admin.py
Due: black, flake8

No longer need that import
  src/olympia/users/admin.py
Due: black, flake8

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Convert IP addresses to strings in MySQL before calling `GROUP_CONCAT()` (#19786)
  src/olympia/amo/models.py
  src/olympia/users/admin.py
  src/olympia/users/tests/test_admin.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Update activity.py
  src/olympia/constants/activity.py
Due: black, flake8

Update utils.py
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon: Update Hungarian (hu) localization of AMO
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO
  locale/zh_CN/LC_MESSAGES/django.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO
  locale/pt_BR/LC_MESSAGES/django.po
Due: none

update outgoing server to GCP (#19785)
  src/olympia/addons/tests/test_models.py
  src/olympia/conf/dev/settings.py
  src/olympia/conf/stage/settings.py
  src/olympia/lib/settings_base.py
  src/olympia/search/tests/test_search_ranking.py
  src/olympia/translations/tests/test_commands.py
Due: black, flake8

Pontoon: Update Turkish (tr) localization of AMO
  locale/tr/LC_MESSAGES/django.po
Due: none

Smaller reviewer tools improvements
  src/olympia/reviewers/templates/reviewers/review.html
  static/css/zamboni/reviewers.less
Due: curlylint

Fix test
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Remove M2M between ScannerQueryResult and ScannerQueryRule, use FK instead
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0048_auto_20221017_1900.py
  src/olympia/scanners/migrations/0049_auto_20221018_1043.py
  src/olympia/scanners/migrations/0050_auto_20221018_1106.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
Due: black, flake8

Don't need that import anymore
  src/olympia/scanners/admin.py
Due: black, flake8

Remove hack that should not be needed anymore
  src/olympia/scanners/models.py
Due: black, flake8

That makes this comment obsolete
  src/olympia/scanners/models.py
Due: black, flake8

Smaller reviewer tools improvements (#19796)
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_views.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

Clarify comment
  src/olympia/scanners/tests/test_models.py
Due: black, flake8

Merge migrations 49 and 50
  src/olympia/scanners/migrations/0049_auto_20221018_1043.py
  src/olympia/scanners/migrations/0049_auto_20221018_1635.py
Due: black, flake8

Remove M2M between ScannerQueryResult and ScannerQueryRule, use FK instead (#19800)
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0048_auto_20221017_1900.py
  src/olympia/scanners/migrations/0049_auto_20221018_1635.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
