Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Rewrap
  src/olympia/addons/utils.py
Due: black, flake8

A couple more
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
Due: black, flake8

off by one
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
Due: black, flake8

Display narc scanner results in review page (#23840)
  src/olympia/scanners/models.py
  src/olympia/scanners/templates/admin/scanners/scannerresult/formatted_matched_rules_with_files.html
  src/olympia/scanners/templatetags/scanners.py
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
  src/olympia/scanners/tests/test_templatetags.py
  static/css/zamboni/reviewers.less
Due: black, flake8, curlylint

increase REVIEWER_DELAYED_REJECTION_PERIOD_DAYS_DEFAULT to 30 (#23841)
  src/olympia/constants/reviewers.py
  src/olympia/reviewers/tests/test_forms.py
Due: black, flake8

allow addons viewer permission holder to download disabled files
  src/olympia/versions/tests/test_views.py
  src/olympia/versions/views.py
Due: black, flake8

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pass homoglyph variants of names to trademark checks and NARC (#23842)
  requirements/prod.txt
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/amo/tests/test_utils.py
  src/olympia/amo/utils.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Dutch (nl), Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el), Russian (ru)
  locale/el/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn-NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Handle additional homoglyphs
  src/olympia/addons/tests/test_utils_.py
  src/olympia/amo/utils.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Handle additional homoglyphs (#23850)
  src/olympia/addons/tests/test_utils_.py
  src/olympia/amo/utils.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Pontoon/AMO: Update German (de)
  locale/de/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
Due: none

Add NARC to available scanners for ScannerQueryRule
  src/olympia/lib/settings_base.py
  src/olympia/scanners/admin.py
  src/olympia/scanners/migrations/0054_scannerqueryrule_run_on_current_version_only_and_more.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tasks.py
  src/olympia/scanners/tests/test_tasks.py
Due: black, flake8

Couple test fixes
  src/olympia/scanners/tests/test_admin.py
  src/olympia/scanners/tests/test_models.py
Due: black, flake8

Pontoon/AMO: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update French (fr)
  locale/fr/LC_MESSAGES/django.po
Due: none
