Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

black:
  name: format python with black
  language: system
  entry: docker-compose exec -T web black

prettier:
  name: format javascript with prettier
  language: system
  entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
  args:
  - --write

flake8:
  name: lint python with flake8
  language: system
  entry: docker-compose exec -T web flake8

curlylint:
  name: lint html with curlylint
  language: system
  entry: docker-compose exec -T web curlylint

Pontoon/AMO: Update 5 localizations
  locale/ar/LC_MESSAGES/django.po
  locale/ar/LC_MESSAGES/djangojs.po
  locale/cs/LC_MESSAGES/django.po
  locale/nl/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
  locale/sl/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Sorbian, Upper (hsb), German (de), Sorbian, Lower (dsb)
  locale/de/LC_MESSAGES/django.po
  locale/dsb/LC_MESSAGES/django.po
  locale/hsb/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Greek (el)
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Chinese (Taiwan) (zh-TW), Georgian (ka)
  locale/ka/LC_MESSAGES/django.po
  locale/zh_TW/LC_MESSAGES/django.po
Due: none

Cope with blank enforcement_actions field in cinder policy admin (#24831)
  src/olympia/abuse/admin.py
  src/olympia/abuse/tests/test_admin.py
Due: black, flake8

Pontoon/AMO: Update Slovak (sk)
  locale/sk/LC_MESSAGES/django.po
Due: none

Refactor ReviewBase.set_promoted() to avoid calling promoted_groups() twice
  src/olympia/reviewers/utils.py
Due: black, flake8

Pontoon/AMO: Update Russian (ru), English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Russian (ru)
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Italian (it)
  locale/it/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/django.po
Due: none

Allow admins to include a soft-blocked version in their add/change blocklistsubmission (#24830)
  src/olympia/blocklist/forms.py
  src/olympia/blocklist/tests/test_admin.py
Due: black, flake8

Pontoon/AMO: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

rm ReviewActionReason support in reviewer tools and abuse (#24825)
  src/olympia/abuse/actions.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/management/commands/auto_reject.py
  src/olympia/reviewers/management/commands/backfill_reviewactionreasons_for_delayed_rejections.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_commands.py
  src/olympia/reviewers/tests/test_forms.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
  src/olympia/reviewers/views.py
Due: black, flake8, curlylint

Refactor ReviewBase.set_promoted() to avoid calling promoted_groups() twice (#24833)
  src/olympia/reviewers/utils.py
Due: black, flake8

AMOENG-2486 throttling for the contact form submission + input fields max length (#24832)
  src/olympia/api/throttling.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
Due: black, flake8

Pontoon/AMO: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/django.po
Due: none

Replace placeholders with empty string in policy text shown to developers
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
Due: black, flake8

Pontoon/AMO: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/django.po
Due: none

Fix tests
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Make policy selection in scanner rule admin optional
  src/olympia/scanners/migrations/0084_alter_scannerrule_action_alter_scannerrule_policy.py
  src/olympia/scanners/models.py
Due: black, flake8

Make policy selection in scanner rule admin optional (#24836)
  src/olympia/scanners/migrations/0084_alter_scannerrule_action_alter_scannerrule_policy.py
  src/olympia/scanners/models.py
Due: black, flake8

Pontoon/AMO: Update Turkish (tr)
  locale/tr/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/django.po
Due: none

Pontoon/AMO: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Replace placeholders with empty string in policy text (#24835)
  src/olympia/abuse/models.py
  src/olympia/abuse/tests/test_actions.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/reviewers/forms.py
  src/olympia/reviewers/tests/test_views.py
Due: black, flake8

Don't allow appeals if content review has been requested already and vice-versa
  src/olympia/abuse/templates/abuse/appeal.html
  src/olympia/abuse/views.py
  src/olympia/addons/models.py
  src/olympia/addons/serializers.py
  src/olympia/addons/utils.py
  src/olympia/devhub/templates/devhub/includes/content_rejected.html
  src/olympia/devhub/templatetags/jinja_helpers.py
  src/olympia/reviewers/models.py
Due: black, flake8, curlylint

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md (#24838)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Instruct dependabot to search for requirements starting at the root
  .github/dependabot.yml
Due: none

When syncing policies disable unpublished in reviewer tools
  src/olympia/abuse/admin.py
  src/olympia/abuse/migrations/0066_remove_cinderpolicy_present_in_cinder_and_more.py
  src/olympia/abuse/models.py
  src/olympia/abuse/tasks.py
  src/olympia/abuse/tests/test_admin.py
  src/olympia/abuse/tests/test_models.py
  src/olympia/abuse/tests/test_tasks.py
Due: black, flake8

Instruct dependabot to search for requirements starting at the root (#24843)
  .github/dependabot.yml
Due: none

Pontoon/AMO: Update Czech (cs), Spanish (Chile) (es-CL)
  locale/cs/LC_MESSAGES/django.po
  locale/es_CL/LC_MESSAGES/django.po
Due: none

Path conditions:
  black: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  flake8: any of: \.py$
  curlylint: any of: \.(html|htm|xhtml)$
