Repository mozilla/addons-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier, flake8, curlylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: format python with black
        language: system
        entry: docker-compose exec -T web black
        types: [python]
      - id: prettier
        name: format javascript with prettier
        language: system
        entry: docker-compose exec -T web $(shell npm $(NPM_ARGS) bin)/prettier
        args: [--write]
        types: [javascript]
      - id: flake8
        name: lint python with flake8
        language: system
        entry: docker-compose exec -T web flake8
        types: [python]
      - id: curlylint
        name: lint html with curlylint
        language: system
        entry: docker-compose exec -T web curlylint
        types: [html]

Add DailyUserAddonUploadThrottle (#17257)
  src/olympia/signing/tests/test_views.py
  src/olympia/signing/views.py
Due: black, flake8

Add query parameter to cachebust default icon
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

s/20210602/20210601
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

Add query parameter to cachebust default icon (#17263)
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/devhub/tests/test_views_edit.py
Due: black, flake8

correctly show the selected tab with the toolbar color in theme wizard
  src/olympia/devhub/templates/devhub/addons/includes/static_theme_preview_svg.xml
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Pontoon: Update Greek (el) localization of AMO
  locale/el/LC_MESSAGES/django.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO
  locale/kab/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO
  locale/en_GB/LC_MESSAGES/django.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO
  locale/en_CA/LC_MESSAGES/django.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO
  locale/hsb/LC_MESSAGES/django.po
Due: none

Lazily generate Sitemap._items for pagination; add StopWatch logging (#17256)
  src/olympia/amo/sitemap.py
  src/olympia/amo/utils.py
Due: black, flake8

Add patterns for system guids/privileged extensions
  src/olympia/constants/base.py
Due: black, flake8

Add comment
  src/olympia/constants/base.py
Due: black, flake8

Fix tests
  src/olympia/devhub/tests/test_views.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

correctly show the selected tab with the toolbar color in theme wizard (#17269)
  src/olympia/devhub/templates/devhub/addons/includes/static_theme_preview_svg.xml
  src/olympia/versions/tests/test_tasks.py
Due: black, flake8

Add '@mozillafoundation.org' to patterns for system guids (#17272)
  src/olympia/constants/base.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/signing/tests/test_views.py
Due: black, flake8

Pontoon: Update Finnish (fi) localization of AMO
  locale/fi/LC_MESSAGES/django.po
Due: none

Add ability to set restrictions that affect approval
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/amo/tests/__init__.py
  src/olympia/constants/scanners.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/permissions.py
  src/olympia/devhub/tests/test_utils.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/utils.py
  src/olympia/devhub/views.py
  src/olympia/scanners/actions.py
  src/olympia/scanners/migrations/0045_auto_20210604_1340.py
  src/olympia/scanners/models.py
  src/olympia/scanners/tests/test_actions.py
  src/olympia/users/migrations/0005_auto_20210601_1421.py
  src/olympia/users/models.py
  src/olympia/users/tests/test_forms.py
  src/olympia/users/tests/test_models.py
  src/olympia/versions/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

Pontoon: Update Russian (ru) localization of AMO
  locale/ru/LC_MESSAGES/django.po
Due: none

Pontoon: Update Czech (cs) localization of AMO
  locale/cs/LC_MESSAGES/django.po
Due: none

Lock file maintenance
  package-lock.json
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO
  locale/fy_NL/LC_MESSAGES/django.po
Due: none

Test fixes
  src/olympia/addons/tests/test_utils_.py
  src/olympia/addons/utils.py
  src/olympia/devhub/forms.py
  src/olympia/devhub/permissions.py
  src/olympia/devhub/tests/test_views.py
  src/olympia/devhub/views.py
  src/olympia/users/models.py
  src/olympia/versions/tests/test_models.py
Due: black, flake8

More test fixes
  src/olympia/accounts/tests/test_views.py
  src/olympia/devhub/forms.py
  src/olympia/landfill/serializers.py
  src/olympia/users/tests/test_models.py
Due: black, flake8

Unused imports
  src/olympia/users/tests/test_models.py
Due: black, flake8

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/djangojs.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO
  locale/ro/LC_MESSAGES/django.po
Due: none

Add auto approval disabled until next approval flag specific to unlisted
  src/olympia/addons/migrations/0034_addonreviewerflags_auto_approval_disabled_until_next_approval_unlisted.py
  src/olympia/addons/models.py
  src/olympia/addons/tests/test_models.py
  src/olympia/reviewers/models.py
  src/olympia/reviewers/serializers.py
  src/olympia/reviewers/templates/reviewers/review.html
  src/olympia/reviewers/tests/test_models.py
  src/olympia/reviewers/tests/test_utils.py
  src/olympia/reviewers/tests/test_views.py
  src/olympia/reviewers/utils.py
Due: black, flake8, curlylint

Fix test
  src/olympia/reviewers/tests/test_models.py
Due: black, flake8

Pontoon: Update Georgian (ka) localization of AMO
  locale/ka/LC_MESSAGES/django.po
Due: none
